<div class="col-lg-12 bg-white m-1">
    <full-calendar [options]="calendarOptions">
        <ng-template #eventContent let-arg>
            <div class="custom-event" (click)="open(content1)">
                <strong >{{ arg.event.title }}</strong>
            </div>
        </ng-template>
    </full-calendar>
</div>

<!-- Book a Demo Modal -->
<ng-template #content1 let-modal>
  <form [formGroup]="appointmentForm">
    <div class="modal-header justify-content-center">
      <h6 class="modal-title">Book a Demo</h6>
      <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row gy-2">
        <div class="col-xl-6">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="datetime-local" class="form-control" id="startDate" formControlName="startDate" />
        </div>
        <div class="col-xl-6">
          <label for="endDate" class="form-label">End Date</label>
          <input type="datetime-local" class="form-control" id="endDate" formControlName="endDate" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="appointmentForm.invalid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="modal.close()">Close</button>
    </div>
  </form>
</ng-template>

<!-- Appointment Data Modal -->
<ng-template #newAppointmentModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Appointment Details</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="appointmentData.length > 0; else noData">
      <div class="row g-3">
        <div *ngFor="let item of appointmentData" class="col-xl-6 col-lg-6 col-md-12 mb-3 task-card">
          <div class="card custom-card h-100 border rounded" [ngClass]="getPriorityBadgeBorder(item.appointmenType)">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <p><strong><i class="ri-star-s-fill fs-16 op-5 me-1" [ngClass]="getPriorityIconColor(item.appointmenType)"></i> Type:</strong> {{ item.appointmenType
                    }}</p>
                  <p><strong>Date:</strong> {{ item.date | date: 'medium' }}</p>
                  <p><strong>Description:</strong> {{ item.description }}</p>
                  <p><strong >Duration:</strong><span class="ms-3" [ngClass]="getTaskColor(item)">{{ item.duration }} mins</span></p>
                  <ng-container *ngIf="item.assignedDesigner?.split(',') as agentList">
                    <div class="d-flex align-items-center">
                      <span class="me-2"><strong>Assigned Designer:</strong></span>
                      <ng-container *ngFor="let agent of agentList.slice(0, 3)">
                        <span
                          class="avatar avatar-xs avatar-rounded text-white fw-bold d-flex align-items-center justify-content-center bg-primary"
                          [ngClass]="getAgentColor(agent)" tabindex="0" role="button" [ngbTooltip]="agent" tooltipClass="tooltip-primary">
                          {{ agent.trim().charAt(0) | uppercase }}
                        </span>
                      </ng-container>
                      <a *ngIf="agentList.length > 3"
                        class="avatar avatar-xs avatar-rounded mt-1 text-white fw-bold d-flex align-items-center justify-content-center bg-primary cu"
                        href="javascript:void(0);">
                        +{{ agentList.length - 3 }}
                      </a>
                    </div>
                  </ng-container>
                  <p class="mt-3"><strong>Booked By:</strong> {{ item.currentUser }}</p>
                  <p><strong>Client Name:</strong> {{ item.leadEntry?.name }}</p>
                  <p><strong>Client Mobile:</strong> {{ formatMobileNumber(item.leadEntry?.contact) }}</p>
                  <p><strong>Client Email:</strong> {{ item.leadEntry?.email }}</p>
                </div>
                <div>
                  <div class="btn-list">
                    <button class="btn btn-sm btn-icon btn-wave btn-success-light rounded-circle"
                      (click)="openEditModal(item)" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                      <i class="ri-edit-line"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>No appointment data found.</p>
    </ng-template>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Close</button>
    </div>
  </div>
</ng-template>
<ng-template #appointment1 let-modal>
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header justify-content-center">
      <h6 class="modal-title" id="staticBackdropLabel3">
        {{ editMode ? 'Edit Appointment' : 'Book a Demo' }}
      </h6>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <div class="col-xl-12">
        <div class="row gy-2">
          <div class="col-xl-6">
            <label class="form-label">Appointment type</label>
            <ng-select
              formControlName="appointmenType"
              [items]="appointmentList"
              bindLabel="name"
              bindValue="name"
              placeholder="Select Project">
            </ng-select>
          </div>
          <div class="col-xl-6">
            <label class="form-label">Date</label>
            <input type="datetime-local" class="form-control" formControlName="date">
          </div>

          <div class="col-xl-6">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" placeholder="Enter your Description" formControlName="description">
          </div>

          <div class="col-xl-6">
            <label class="form-label">Duration</label>
            <input type="text" class="form-control" placeholder="Enter your duration" formControlName="duration">
          </div>

          <div class="col-xl-6">
            <label class="form-label">assignedDesigner</label>
            <ng-select
              formControlName="assignedDesigner"
              [items]="userList"
              bindLabel="email"
              bindValue="email"
              placeholder="Select Project">
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="appointmentForm.invalid || saving">
        {{ saving ? 'Saving...' : 'Submit' }}
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </form>
</ng-template>





