.gapp{
    margin-right: 180px;
}
.gappp{
    margin-left: 120px;
}
  
.custom-scroll-menu {
    min-height: 130px;
    min-width: 190px;
    overflow-y: auto;
}
.modal-body{
    min-height: 150px;

}