[data-theme-mode="dark"] {
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input>input {
    color: rgba(255, 255, 255, 1) !important;
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {

    color: #fff !important;
    background-color: $primary !important;
  }
}

.ng-select.ng-select-opened .ng-select-container {
  z-index: 99 !important;
}

.ng-select {
  overflow: visible;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {

  color: #fff !important;
  background-color: $default-background !important;
}

.ng-select .ng-select-container {
  color: $text-muted !important;
  background-color: transparent !important;
  // border: 1px solid $default-border !important;
}

.ng-select.ng-select-opened>.ng-select-container {
  background: transparent!important;
  // border-color: $default-border !important;
}

.mat-mdc-table {
  background-color: transparent !important;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background-color: $custom-white !important;
  color: $default-text-color !important;
  border-bottom-color: $default-border !important;
}

.mat-mdc-header-cell {
  border-bottom-color: $default-border !important;
}

.mat-mdc-paginator {
  background-color: $custom-white !important;
  color: $default-text-color !important;
}

[data-theme-mode="dark"] {

  .mat-mdc-cell,
  .mat-mdc-table .mat-mdc-header-cell {
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.mat-mdc-icon-button,
.mat-mdc-icon-button.mat-mdc-button-disabled,
.mat-mdc-paginator-icon {
  fill: $default-text-color !important;
}

.basic-datatable input {
  background-color: $custom-white;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  background-color: $custom-white !important;
  color: $default-text-color !important;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  background-color: $custom-white !important;
  color: $default-text-color ;
}

.angular-editor .angular-editor-wrapper .angular-editor-textarea,
.angular-editor-toolbar {
  border: 1px solid $default-border !important;
}

.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button,
.ae-font .ae-picker-label {
  background-color: $custom-white !important;
  border: 1px solid $default-border !important;
  color: $default-text-color;
}

.ae-font .ae-picker-label:before {
  background: $custom-white !important;
}

.NgxEditor__MenuBar {
  background-color: $custom-white !important;
}

.NgxEditor__MenuBar {
  border: 1px solid $default-border !important;
}

.NgxEditor {
  background: $custom-white !important;
  border-color: $default-border !important;
  color: $default-text-color !important;
}

.NgxEditor__Seperator {
  border-left-color: $default-border !important;
}

.NgxEditor__MenuBar {
  border-bottom: 0px !important;
}

.angular-editor-textarea:focus-visible {
  outline: none;
}

.NgxEditor__Content {
  height: 15rem !important;
}

.angular-editor-toolbar {
  background-color: $custom-white !important;
}

.main-header-container .main-header-dropdown {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;
}

.theme-styles {
  border-radius: 0 !important;
}

.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: var(--custom-black);
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu {
  background-color: var(--custom-white) !important;
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Item:hover {
  background-color: #ececec;
  color: var(--primary-color) !important;
}

.swal-footer {
  text-align: center !important;

}

.ng-select .ng-select-container .ng-value-container {
  align-items: center;
  padding: 10px !important;
}

.simplebar-content-wrapper {
  height: 100% !important;
}

.ng-select .ng-select-container {
  border: 1px solid var(--default-border) !important;
}

.alert-dismissible .btn-close {
  padding: 0.8rem 1rem !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: var(--custom-white);
  background-color: transparent;
}

.arrow-image[_ngcontent-ng-c3389047099],
.right-arrow-image[_ngcontent-ng-c3389047099],
.left-arrow-image[_ngcontent-ng-c3389047099],
.empty-arrow-image[_ngcontent-ng-c3389047099] {
  width: 24px !important;
  height: 24px !important;
  background-size: 24px !important;
}

.previews-container[_ngcontent-ng-c1908500470]>.preview-inner-container[_ngcontent-ng-c1908500470]>.preview-image[_ngcontent-ng-c1908500470] {
  margin-right: 5px;
}

.ng-select .ng-select-container {
  background-color: rgb(245, 247, 250) !important;
}

@media (min-width: 992px) {

  .menu-click .app-sidebar .slide.has-sub .slide-menu.child2,
  [data-nav-style=menu-click][data-nav-layout=horizontal] .app-sidebar .slide.has-sub .slide-menu.child2,
  [data-nav-style=menu-click][data-toggled=menu-click-closed] .app-sidebar .slide.has-sub .slide-menu.child2,
  .menu-click .app-sidebar .slide.has-sub .slide-menu.child3,
  [data-nav-style=menu-click][data-nav-layout=horizontal] .app-sidebar .slide.has-sub .slide-menu.child3,
  [data-nav-style=menu-click][data-toggled=menu-click-closed] .app-sidebar .slide.has-sub .slide-menu.child3 {
    inset-inline-start: 12rem !important;
  }
}

.flatpickr-day {
  margin-bottom: 3px !important;
}

.ng-select .ng-select-container {
  border: none !important;
  border-color: $default-border !important;
  background-color: transparent !important;
  border-radius: 0.85rem !important;
}

@media (max-width: 575.98px) {

  .input-group>.form-control,
  .input-group>.form-floating,
  .input-group>.form-select {
    width: 100%;
    margin-bottom: 7px !important;
  }
}

#carousel-container[_ngcontent-ng-c3389047099]>.current-figure[_ngcontent-ng-c3389047099]>.current-image[_ngcontent-ng-c3389047099]>img[_ngcontent-ng-c3389047099] {
  border-radius: 16px !important;
}

.flatpickr-time .flatpickr-am-pm {
  margin-inline-end: 1rem !important;
}

.input-group {
  flex-wrap: nowrap !important;
}



.flatpickr-time .flatpickr-am-pm {
  margin-inline-end: 1rem !important;
}



[dir="rtl"] {
  .ngx-slider.vertical .ngx-slider-bar-wrapper {
    margin: 0 0 0 -28px !important;
  }
  .noUi-origin {
    transform: none !important;
  }
}

.form-floating #floatingSelect {
  padding: 1rem 0px 0 0.75rem !important;
}

.form-floating #floatingSelectGrid {
  padding: 1rem 0px 0 0.75rem !important;
}

[dir="rtl"] {
  .form-floating #floatingSelect {
    padding: 1rem 1rem 0 0.75rem !important;
  }

  .form-floating #floatingSelectGrid {
    padding: 1rem 1rem 0 0.75rem !important;
  }
}

[dir="rtl"] {
  .form-select {
    background-position: left 0.75rem center;
  }
}

.white-varient-styles {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

[_nghost-ng-c1039851825] {
  --br-active-color: var(--warning-rgb) !important;
}

#globalSearch {
  background-color: var(--custom-white) !important;
  border: 1px solid var(--default-border) !important;
}

.ngx-table {
  color: var(--default-text-color) !important;
}

div.mat-mdc-select-panel {
  background-color: var(--custom-white) !important;
}

.mat-mdc-option {
  color: var(--default-text-color) !important;
}

.mat-mdc-select {
  color: var(--default-text-color) !important;
}

.mat-mdc-select-arrow {
  color: var(--default-text-color) !important;
}

.mdc-text-field {
  border: 1px solid var(--default-border) !important;
  border-radius: 4px !important;
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none !important;
  border: 1px solid var(--default-border) !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: var(--custom-black) !important;
}

.custom-form-group .form-control {
  padding-inline-end: 9rem !important;
  padding-inline-start: 1.25rem;
  line-height: 2.25;
}

div:where(.swal2-container) div:where(.swal2-validation-message) {
  background-color: var(--custom-white) !important;
}


.dropup-menu {
  position: absolute !important;
  margin: 0px !important;
  transform: translate(0px, 41px) !important;
  inset: 0px auto auto 0px !important;
}

.flatpickr-current-month span.cur-month {
  padding: 5px !important;
}

.mat-mdc-table {
  table-layout: 0 !important;
  overflow: scroll !important;
}

.apexcharts-datalabel,
.apexcharts-datalabel-label,
.apexcharts-datalabel-value,
.apexcharts-datalabels,
.apexcharts-pie-label {
  cursor: default;
  pointer-events: none;
}

@media (max-width: 575.98px) {

  .input-group>.form-control,
  .input-group>.form-floating,
  .input-group>.form-select {
    width: 100%;
    margin-bottom: 0px !important;
  }
}


[dir=rtl] .avtar-with-text-swap {
  direction: rtl !important;
}

[dir=rtl] .swiper-basic .swiper-wrapper .swiper-slide {
  direction: rtl !important;
}


.mat-mdc-paginator-page-size {
  margin-top: 8px !important;
}

[data-width="boxed"] {
  .products-navigation-card .form-check-label {
    width: 135px !important;
  }
}

@media (max-width: 575.98px) {
  .full-width {
    position: fixed !important;
    transform: translate3d(0px, 76px, 0px) !important;
  }
}


[dir="rtl"] {

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    transform: rotate(180deg) !important;
  }
}

[dir="rtl"] {
  .rotate-icon {
    transform: rotate(180deg) !important;
  }
}

.g-backdrop {
  background-color: rgba(0, 0, 0, .92) !important;
}

.mat-horizontal-stepper-header-container {
  background-color: var(--custom-white) !important;
}

.mat-horizontal-content-container {
  background-color: var(--custom-white) !important;
}

.mat-step-label.mat-step-label-active {
  color: var(--custom-black) !important;
}

.mat-step-header {
  &:hover {
    background-color: transparent !important;
  }

  .mat-step-icon {
    background-color: $light ;
    color: $dark;
  }

  .mat-step-icon-selected {
    background-color: var(--primary-color) !important;
    color: #fff !important;
  }
}

@media (max-width: 700px) {
  .mat-horizontal-stepper-header {
    display: block !important;
  }

  .mat-step-icon {
    margin-bottom: 0.5rem !important;
  }
}

//styles//

.tooltip {
  --bs-tooltip-bg: #000 !important;
  --bs-tooltip-color: #fff !important;
}


[data-nav-style="menu-click"],
[data-nav-style="menu-hover"],
[data-nav-style="icon-click"],
[data-nav-style="icon-hover"] {

  &[data-bg-img="bgimg1"],
  &[data-bg-img="bgimg2"],
  &[data-bg-img="bgimg3"],
  &[data-bg-img="bgimg4"],
  &[data-bg-img="bgimg5"] {
    .app-sidebar .main-sidebar-header {
      backdrop-filter: blur(16px);
    }
  }
}

.table-responsive {
  overflow-x: auto;
}

// [dir="rtl"] {
//   .ri-arrow-right-s-line {
//     rotate: 180deg;
//   }
// }

.ng-select {
  border: 1px solid var(--default-border) !important;
  border-radius: 0.85rem !important;

  .ng-value {
    margin-bottom: 0px !important;
  }
}

@media (max-width: 575.98px) {
  .main-header-container .main-header-dropdown {
    inset-block-start: -1.0625rem !important;
    border-radius: 0 0 0.85rem 0.85rem;
  }
}

.mat-stepper-horizontal-line {
  border-top-color: $default-border !important;
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 10px;
}

@media (max-width: 490px) {
  .mat-horizontal-stepper-header-container {
    flex-direction: column !important;
    justify-content: space-between;
  }

  .mat-stepper-horizontal-line {
    display: none !important;
  }

  .mat-step-header {
    display: flex !important;
    align-items: center;

    .mat-step-icon {
      margin-bottom: 0px !important;
    }
  }
}

.order-track {
  .avatar {
    z-index: 2;
  }

  &::before {
    z-index: 1;
  }
}

.products-navigation-card {
  .form-check-label {
    display: block !important;
  }
}

.product-details-page {
  .preview-image {
    border-radius: 0.85rem !important;
    margin-inline-end: 5px !important;
    margin-top: 0.5rem !important;
    margin-inline-start: 0px !important;
    margin-bottom: 0px !important;
  }
}

.product-details-table {
  margin-inline-end: 1px !important;
}

.swal-title {
  color: $default-text-color !important;
  font-size: 1rem !important;
}

.swal-text {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.swal-icon {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 0rem;
}

.swal-icon--warning__body {
  width: 5px;
  height: 32px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: auto !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

#invoice-currency {
  border-color: $light !important;

  .ng-select-container {
    background-color: $light !important;
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
  left: 0;
  width: 100%;
}

.popular-tags {
  .badge {
    margin-inline-end: 10px !important;
  }
}

.rounded-0 {
  border-radius: 0 !important;
}

@media screen and (max-width: 622px) {
  .input-group.companies-search-input {
    .form-control {
      margin-bottom: 0.5rem !important;
    }

    .form-select {
      border-radius: 0.85rem !important;
      margin-bottom: 0.5rem !important;
    }
  }
}

.companies-search-input {
  .ng-dropdown-panel {
    z-index: 99;
  }
}

.create-nft-item .filepond--root {
  height: 15.75rem !important;
  width: 15.25rem !important;
}

.filepond--drop-label {
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leads-discovered,
#leads-qualified,
#contact-initiated,
#needs-identified,
#negotiation,
#deal-finalized {
  .card.custom-card {
    margin-block-end: 0.5rem !important;
    touch-action: none;
  }
}

.alert-solid-dark {
  .btn-close {
    color: var(--custom-white);
  }
}

.popover {
  border-radius: 0.35rem !important;
}

#disabledSelect {
  &.form-select {
    padding-inline-start: 0.5rem;
  }
}

.input-group {
  .form-select {
    padding-inline-start: 0.5rem;
  }
}

.rounded-e-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

[dir="rtl"] {
  .rounded-e-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;  
  }
}

.rounded-s-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

[dir="rtl"] {
  .rounded-s-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.form-select {
  padding-inline-start: 0.5rem;
  padding: .375rem 2.25rem .375rem .75rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
  background-color: $light !important;
}

.ng-pristine {
  background-color: var(--custom-white);
  border-radius: 0.5rem;
  color: var(--default-text-color);
}

.filepond--file-status {
  display: none !important;
}

.dz-wrapper {
  border: 0px !important;

  .dz-message {
    background-color: $light !important;
    border: 0.125rem dashed var(--default-border) !important;
    margin: 0px !important;
    height: 100px !important;
    border-radius: 0.85rem !important;
  }
}

.dropzone .dz-preview:hover {
  z-index: 99 !important;
}

.pickr-container .example-picker {
  input {
    color: #fff !important;
    border: 1px solid $default-border !important;
    border-radius: 0.5rem !important;
  }
}

.NgxEditor__Content {
  overflow-y: scroll;
}

#validationServerUsername {
  &.form-control {
    width: 100%;
  }
}

.ng-dropdown-header {
  background-color: var(--custom-white) !important;
}

.navbar-brand {

  &:hover,
  &:focus {
    color: $default-text-color !important;
  }
}

[data-nav-style="icon-hover"][data-toggled="icon-hover-closed"] {
  .slide.has-sub .slide-menu {
    &.child2,
    &.child2 {
      inset-inline-start: 11.81rem !important;
    }
  }
}

[data-nav-style="menu-hover"][data-toggled="menu-hover-closed"] {
  .slide.has-sub .slide-menu {
    &.child2,
    &.child2 {
      inset-inline-start: 12rem !important;
    }
  }
}

[data-nav-layout="horizontal"][data-nav-style="icon-hover"][data-toggled="icon-hover-closed"] {
  .slide.has-sub .slide-menu {
    &.child1{
      inset-inline-start: auto !important;
    }
  }
}

[data-nav-layout="horizontal"][data-nav-style="menu-hover"][data-toggled="menu-hover-closed"] {
  .slide.has-sub .slide-menu {
    &.child1{
      inset-inline-start: auto !important;
    }
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  [data-nav-layout="horizontal"][data-theme-mode="dark"]{
     .horizontal-logo .header-logo .desktop-logo {
      display: none;
  }
  .horizontal-logo .header-logo .desktop-dark {
    display: block;
}
}
}

.mdc-data-table__cell {
  overflow: visible !important;
}

.searchdrop{
    ul{
      border:1px solid var(--default-border);
      box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
      font-size: 0.875rem;
      color: var(--default-text-color);
      background-color: var(--custom-white);
      padding: 0;
      z-index: 10;
      border-radius: 0.85rem;
      overflow: hidden;
      li{
        padding: 0.75rem 1rem !important;
        margin: 0px !important;
        &:hover{
          background-color: $primary-01;
          color: $primary !important;
        }
      }
  }
}
[dir="rtl"]{
.form-switch .form-check-input {
  background-position: right center;
}
}


.NgxEditor__Dropdown .NgxEditor__Dropdown--Item:hover {
  background-color: $primary-01 !important;
}

.NgxEditor__Popup {
  background-color: $custom-white !important;
}
.app-sidebar .slide__category {
  display: none;
}
[dir="rtl"]{
.form-select.is-invalid:not([multiple]):not([size]){
  background-position: left 0.75rem center, center right 2.25rem;
}
}
.mat-mdc-table tbody, .mat-mdc-table tfoot, 
.mat-mdc-table thead, .mat-mdc-cell, 
.mat-mdc-footer-cell, .mat-mdc-header-row, 
.mat-mdc-row, .mat-mdc-footer-row, 
.mat-mdc-table .mat-mdc-header-cell {
  background-color: $custom-white !important;
  color: $default-text-color !important;
  border-bottom-color: $default-border !important;
}
.mat-mdc-header-cell {
  border-bottom-color: $default-border !important;
}
.mat-mdc-paginator {
  background-color: $custom-white !important;
  color: $default-text-color !important;
}
[data-theme-mode="dark"] {
  .mat-mdc-cell,
  .mat-mdc-table .mat-mdc-header-cell {
    border-bottom-color: $default-border !important;
  } 
}
.mat-mdc-icon-button, .mat-mdc-icon-button.mat-mdc-button-disabled,
.mat-mdc-paginator-icon {
  fill: $default-text-color !important;
}
.basic-datatable input {
  background-color: $custom-white;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  background-color: $custom-white !important;
  color: $default-text-color !important;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  background-color: $custom-white !important;
  color: $default-text-color;
}
.ngx-datatable.material .datatable-header {
  border-bottom: 1px solid $default-border !important;
} 
.ngx-datatable.material {
  box-shadow: none !important;
}
.ngx-datatable.material .datatable-header{
  border-bottom: 1px solid $default-border !important;
}
.basic-datatable input {
  border-color:  $default-border;
}
.ngx-datatable.material {
  background:  $custom-white !important; 
}
.ngx-datatable.material .datatable-footer {
  border-top: 1px solid $default-border !important;
}
.ngx-datatable.material .datatable-footer {
  color: $default-text-color !important;
}
.ngx-datatable.material .datatable-footer .datatable-pager a {
  color: $default-text-color !important;
}
.mdc-data-table__table {
  border: 1px solid $default-border !important;
}
.mat-mdc-table {
  background-color: $custom-white !important
}
.ng-select .ng-clear-wrapper{
  line-height: 1;
}
.datatable-body select{
  padding: 5px;
  border-radius: 0.4rem !important;
}
.ngx-datatable .datatable-body .datatable-row-wrapper{
  border-bottom: 1px solid $default-border;
  &:last-child{
    border-bottom: 0px !important;
  }
}
#cart-container-delete .table tbody tr:last-child{
  border-bottom-color: transparent;
}
.switcher-canvas.offcanvas-body {
   padding: 0 0 4.75rem 0; 
}

.os-scrollbar-vertical .os-scrollbar-handle {
  right: -3px !important;
}
.os-scrollbar .os-scrollbar-handle{
  background-color: $default-border !important;
}
.chatnameperson {
  display: inline-block;
}
.currency-exchange-area .ng-select.ng-select-single{
  background-color: $custom-white !important;
}
.products-navigation-card{
  .collapse{
    transition: none;
  }
}

.ng-select {
  border-radius: 0.85rem !important;
}

.ng-select.ng-select-focused .ng-select-container {
  border: 1px solid rgb(0, 102, 153) !important;
}

.ng-dropdown-panel {
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
}