<div class="card custom-card mt-3">
    <div class="card-header justify-content-between d-flex">
        <div class="card-title">
            Edgeband Data
        </div>
        <div class="d-flex flex-wrap gap-2">
            <mat-form-field class="filters-field-1">
                <mat-label>Search Here</mat-label>
                <input matInput (keyup)="edgeBandApplyFilter($event)" #input>
            </mat-form-field>
            <button type="button" class="btn btn-primary" (click)="openLg16(content20)">
                <i class="ri-add-line align-middle me-1 fw-medium"></i>Add</button>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="mat-elevation-z8">
            <div class="table-responsive">
                <table mat-table [dataSource]="edgeBandDataSource" class="mat-table">
                    <ng-container matColumnDef="designCode">
                        <th mat-header-cell *matHeaderCellDef> Design Code </th>
                        <td mat-cell *matCellDef="let element">
                        <span
                            [ngbTooltip]="element.designCode"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        >
                            {{element.designCode | slice : 0:5}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="designNo">
                        <th mat-header-cell *matHeaderCellDef> Design No </th>
                        <td mat-cell *matCellDef="let element"> 
                        <span
                            [ngbTooltip]="element.designNo"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        >
                        {{element.designNo | slice : 0:5}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element">
                        <span
                            [ngbTooltip]="element.name"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        >   
                        {{element.name | slice :0:20}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="width">
                        <th mat-header-cell *matHeaderCellDef> Width </th>
                        <td mat-cell *matCellDef="let element">
                            <span
                            [ngbTooltip]="element.width"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                        {{element.width}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="thickness">
                        <th mat-header-cell *matHeaderCellDef> Thickness </th>
                        <td mat-cell *matCellDef="let element">
                            <span
                            [ngbTooltip]="element.thickness"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.thickness}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="uom">
                        <th mat-header-cell *matHeaderCellDef> UOM </th>
                        <td mat-cell *matCellDef="let element"> 
                        <span
                            [ngbTooltip]="element.uom"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.uom}}
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element">
                        <span
                            [ngbTooltip]="element.type"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.type}}
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="make">
                        <th mat-header-cell *matHeaderCellDef> Make </th>
                        <td mat-cell *matCellDef="let element"> 
                        <span
                            [ngbTooltip]="element.make"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.make | slice :0:10}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="finish">
                        <th mat-header-cell *matHeaderCellDef> Finish </th>
                        <td mat-cell *matCellDef="let element">
                        <span
                            [ngbTooltip]="element.finish"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.finish | slice :0:10}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="material">
                        <th mat-header-cell *matHeaderCellDef> Material </th>
                        <td mat-cell *matCellDef="let element">
                        <span
                            [ngbTooltip]="element.material"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.material | slice :0:10}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="premiling">
                        <th mat-header-cell *matHeaderCellDef> Premiling </th>
                        <td mat-cell *matCellDef="let element"> 
                        <span
                            [ngbTooltip]="element.premiling"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                        {{element.premiling | slice :0:10}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="hsnCode">
                        <th mat-header-cell *matHeaderCellDef> HSNCode </th>
                        <td mat-cell *matCellDef="let element">
                        <span
                            [ngbTooltip]="element.hsnCode"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        > 
                            {{element.hsnCode | slice:0:5}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="internalCode">
                        <th mat-header-cell *matHeaderCellDef> Internal Code </th>
                        <td mat-cell *matCellDef="let element">
                            <span
                            [ngbTooltip]="element.internalCode"
                            tooltipClass="tooltip-primary"
                            placement="top"
                            container="body"
                        >
                            {{element.internalCode | slice:0:5}} 
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.isActive)">
                                {{ getStatusText(element.isActive) }}
                            </span>
                        </td>                     </ng-container>
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let element"> <a aria-label="anchor"
                                href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-primary-light rounded-circle"
                                (click)="onEditEdgeband(element, content20)"><i
                                    class="ri-edit-line"></i></a> </td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let element"> <a aria-label="anchor"
                                href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1"
                                (click)="deleteEdgeband(element)"> <i class="ri-delete-bin-line"></i></a> </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="edgeBandDisplayedColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: edgeBandDisplayedColumn">
                    </tr>
                </table>
            </div>
            <mat-paginator #edgebandPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #content20 let-modal>
    <form [formGroup]="edgeBandForm" (ngSubmit)="onEdgebandSubmit(modal)">
        <div class="modal-header justify-content-center">
            <h6 class="modal-title" id="staticBackdropLabel3">Add Edgeband</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body overflowImportant">
            <div class="col-xl-12">
                <div class="row gy-2">
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Design No</label>
                        <input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" id="projectAddress" formControlName="designNo"
                            placeholder="Enter Design No" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['designNo'].errors }" />
                        <div *ngIf="EdgebandSubmitted && f['designNo'].errors" class="invalid-feedback">
                            <div *ngIf="f['designNo'].errors['required']">designNo is required</div>
                            <div *ngIf="f['designNo'].errors['pattern']">Only numbers are allowed</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Design Code</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="designCode"
                            placeholder="Enter Design No" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['designCode'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['designCode'].errors" class="invalid-feedback">
                            <div *ngIf="f['designCode'].errors['required']">designCode is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Design Name</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="designName"
                            placeholder="Enter Design Name" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['designName'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['designName'].errors" class="invalid-feedback">
                            <div *ngIf="f['designName'].errors['required']">designName is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Name</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="name"
                            placeholder="Enter name" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['name'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">name is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress">Make<span class="badge bg-info-transparent cu"
                                (click)="openEdgePopup(content21,'edge_make','Add Edgeband Make')">Add</span>
                            <a aria-label="anchor" href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1">
                                <i class="ri-delete-bin-line" (click)="openEdgeGetPopup(content22,'edge_make','Delete Edgeband Make')"></i></a></label>
                        <ng-select formControlName="make" [items]="makeEdge" bindLabel="name" bindValue="name"
                            placeholder="Select Edge Make" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['make'].errors }">
                        </ng-select>
                        <div *ngIf="EdgebandSubmitted && f['make'].errors" class="invalid-feedback">
                            <div *ngIf="f['make'].errors['required']">make is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress">Material <span
                                class="badge bg-info-transparent cu" (click)="openEdgePopup(content21,'edge_material','Add Edgeband Material')">Add</span>
                            <a aria-label="anchor" href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1">
                                <i class="ri-delete-bin-line" (click)="openEdgeGetPopup(content22,'edge_material','Delete Edgeband Material')"></i></a></label>                        
                            <ng-select formControlName="material" [items]="edgeBrandMaterial" bindLabel="name" bindValue="name"
                            placeholder="Select Material" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['material'].errors }">
                        </ng-select>
                        <div *ngIf="EdgebandSubmitted && f['material'].errors" class="invalid-feedback">
                            <div *ngIf="f['material'].errors['required']">Material is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress">Type<span class="badge bg-info-transparent cu"
                            (click)="openEdgePopup(content21,'edge_type','Add Edgeband Type')">Add</span>
                            <a aria-label="anchor" href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1">
                                <i class="ri-delete-bin-line" (click)="openEdgeGetPopup(content22,'edge_type','Delete Edgeband Type')"></i></a></label>
                        <ng-select formControlName="typeName" [items]="edgeBrandType" bindLabel="name" bindValue="name"
                            placeholder="Select Type" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['typeName'].errors }"></ng-select>
                        <div *ngIf="EdgebandSubmitted && f['typeName'].errors" class="invalid-feedback">
                            <div *ngIf="f['typeName'].errors['required']">Type is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress">Finish<span class="badge bg-info-transparent cu"
                            (click)="openEdgePopup(content21,'edge_finish','Add Edgeband Finish')">Add</span>
                            <a aria-label="anchor" href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1">
                                <i class="ri-delete-bin-line" (click)="openEdgeGetPopup(content22,'edge_finish','Delete Edgeband Finish')"></i></a></label>
                        <ng-select formControlName="finish" [items]="edgeBrandFinish" bindLabel="name" bindValue="name"
                            placeholder="Select Finish" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['finish'].errors }"></ng-select>
                        <div *ngIf="EdgebandSubmitted && f['finish'].errors" class="invalid-feedback">
                            <div *ngIf="f['finish'].errors['required']">Finish is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Width(mm)</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="width"
                            placeholder="Enter Width(mm)" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['width'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['width'].errors" class="invalid-feedback">
                            <div *ngIf="f['width'].errors['required']">Width is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Thickness(mm)</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="thickness"
                            placeholder="Enter *Thickness(mm)" (keypress)="allowOnlyNumbers($event)" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['thickness'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['thickness'].errors" class="invalid-feedback">
                            <div *ngIf="f['thickness'].errors['required']">Thickness is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">HSN Code</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="hsnCode"
                            placeholder="Enter HSN Code" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['hsnCode'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['hsnCode'].errors" class="invalid-feedback">
                            <div *ngIf="f['hsnCode'].errors['required']">hsnCode is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Premilling</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="premiling"
                            placeholder="Enter *Thickness(mm)" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['premiling'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['premiling'].errors" class="invalid-feedback">
                            <div *ngIf="f['premiling'].errors['required']">premiling is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Internal Code</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="internalCode"
                            placeholder="Enter internalCode" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['internalCode'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['internalCode'].errors" class="invalid-feedback">
                            <div *ngIf="f['internalCode'].errors['required']">internalCode is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Upload File</label>
                        <input type="text" class="form-control" formControlName="image"
                            placeholder="Enter *Thickness(mm)" [ngClass]="{ 'is-invalid': EdgebandSubmitted && f['image'].errors }">
                        <div *ngIf="EdgebandSubmitted && f['image'].errors" class="invalid-feedback">
                            <div *ngIf="f['image'].errors['required']">image is required</div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-xl-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkebox-sm"
                                    formControlName="isActive">
                                <label class="form-check-label" for="checkebox-sm">
                                    Is Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Submit</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</ng-template>

<ng-template #content22 let-modal>
    <div class="modal-header justify-content-center">
        <h6 class="modal-title" id="staticBackdropLabel3">{{edgePopupTitle}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="card custom-card">
            <div class="card-body p-0">
                <div class="table-responsive overflow-scroll">
                    <table class="table text-nowrap table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">S.No</th>
                                <th class="crm-table-th2">Name</th>
                                <th class="crm-table-th2">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of edgeBrandData; let i = index">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td>{{ element.name }}</td>
                                <td><a aria-label="anchor" href="javascript:void(0);"
                                        class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1"
                                        (click)="deleteEdgeContent(element, modal)">
                                        <i class="ri-delete-bin-line"></i>
                                    </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"> Submit</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
            data-bs-dismiss="modal">Close</button>
    </div>
</ng-template>

<ng-template #content21 let-modal>
    <form [formGroup]="edgeContentForm" (ngSubmit)="onEdgeContentSubmit(modal)">
        <div class="modal-header justify-content-center">
            <h6 class="modal-title" id="staticBackdropLabel3">{{edgePopupTitle}}</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-xl-12">
                <div class="row gy-2">
                    <div class="col-xl-12">
                        <label for="projectAddress" class="form-label">Name</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="name"
                            placeholder="Enter Name" [ngClass]="{ 'is-invalid': edgeContentSubmitted && f['name'].errors }">
                        <div *ngIf="edgeContentSubmitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">name is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Save</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</ng-template>