.search_drop{
    color: var(--default-text-color);
    background-color: var(--custom-white);
    border: 0px solid var(--default-border);
}

// @media (max-width: 991.98px) {
//     .app-header .horizontal-logo .header-logo img {
//         height: 5.5rem;
//         line-height: 1.5rem;
//         margin-top: -30px;
//     }
// }

.main-header-container .main-header-dropdown .dropdown-item:last-child {
    border-block-end: 0;
    cursor: pointer;
}
.avatar.avatar-md {
    width: 2rem;
    height: 2rem;
    line-height: 2.5rem;
    font-size: 0.8rem;
}
