<!-- <video class="video-background ratio ratio-4x3" src="./assets/video/school_of_fish.mp4" autoplay loop muted></video>  -->
<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4 ">
                <div class="card-body p-5">
                    <p class="h5 mb-2 text-center"><strong>Forgot Password</strong></p>
                    <form [formGroup]="resetFrm" class="p-2">
                    <div class="row gy-3">
                        <div *ngIf="submt">
                            <div class="col-xl-12" *ngIf="isEmail">
                                <label for="signin-username" class="form-label text-default d-block"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail h-4 w-4 text-indigo-600"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg><span>Email</span></label>
                                <input type="text" class="form-control form-control-lg " id="signin-username"  
                                [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter your registered Email">
                                <!-- formControlName="email" [ngModel]="email" placeholder="email"> -->
                                <!-- <label for="signin-username" class="form-label text-default">Email</label> 
                                <div class="input-group"> 
                                    <input type="email" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark"
                                    id="signup-email" placeholder="email"  onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        (event.charCode >= 64 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 46 || event.charCode == 95)'
                                        appShowCodeContent [(ngModel)] = 'email' [ngModelOptions]="{standalone: true}" [disabled]="isEmailDisable">
                                    <button class="btn btn-outline-dark btn-wave" type="button" id="inputGroupFileAddon03"
                                    (click)="onMailCheck()">Verify</button>
                                </div> -->
                            </div>
                            <div class="d-grid mt-4" *ngIf="isEmail">
                                <button  class="btn-grad"
                                (click)="onEmail()"><strong>Verify</strong></button>
                            </div>
                            <div class="col-xl-12" *ngIf="!isEmail">
                                <label for="signup-otp" class="form-label text-default"><strong>OTP</strong>
                                    <span class="text-danger"> *</span></label>
                                <!-- <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" id="signin-username"  
                                    [(ngModel)] = 'otp' [ngModelOptions]="{standalone: true}"> -->
                                    <div class="otp-container">
                                        <input *ngFor="let digit of otpArray; let i = index"
                                        class="form-control form-control-lg  p-2 "
                                        type="text" maxlength="1" (input)="onInputChange($event, i)"
                                        (keydown)="onKeydown($event, i)" [(ngModel)]="otp[i]"
                                        onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)'
                                        [ngModelOptions]="{standalone: true}" [attr.aria-label]="'Digit ' + (i + 1)"/>
                                    </div>
                                <!-- <div class="input-group ">  
                                    <input type="text" class="form-control form-control-lg bg-light p-2 font-weight-bold bg-opacity-25 border border-dark" 
                                        id="signup-otp" placeholder="OTP" appShowCodeContent maxlength="6" [disabled]="isOtpDisable"
                                        onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        event.charCode == 8)' [(ngModel)] = 'otp' [ngModelOptions]="{standalone: true}">
                                    <button class="btn btn-outline-dark btn-wave" type="button" id="inputGroup"
                                    (click)="onOtpCheck()">Verify</button>
                                </div> -->
                                <div class="col-xl-12 justify-content-center text-center text-dark p-3">
                                    <span>Don't get otp ? &nbsp; &nbsp;
                                    <a href="javascript:void(0)" class="text-primary" (click)="onMailCheck()">resend </a></span>
                                </div>
                            </div>
                            <div class="d-grid mt-4" *ngIf="!isEmail">
                                <button  class="btn btn-lg border-dark p-2" 
                                (click)="onOtpCheck()">Submit</button>
                            </div>
                        </div>
                        <div class="col-xl-12" *ngIf="!submt">
                            <label for="reset-newpassword" class="form-label text-default"><strong>New Password</strong></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg p-2 " id="reset-newpassword" placeholder="new password" 
                                [type]="showPassword1 ? 'text' : 'password'" autocomplete [(ngModel)]="newPassword"
                                (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)" 
                                formControlName="password" appShowCodeContent maxlength="16"
                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" >
                                <!-- [ngModelOptions]="{standalone: true}"> -->
                                <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword1()" 
                                id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                                <!-- <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                </div> -->
                                <div *ngIf="submitted && f['password'].errors || f['password'].touched" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
                                    <div *ngIf="f['password'].errors?.['invalidPassword']">
                                        Password must be at least 8 characters long, contain one Special character at least one uppercase
                                        letter, one lowercase letter and one number.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 mb-2" *ngIf="!submt">
                            <label for="reset-confirmpassword" class="form-label text-default"><strong>Confirm Password</strong></label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg p-2 " id="reset-confirmpassword" placeholder="confirm password"
                                [type]="showPassword2 ? 'text' : 'password'" autocomplete [(ngModel)]="confirmPassword" 
                                (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)" (paste)="preventCopyPaste($event)"
                                [ngModelOptions]="{standalone: true}" appShowCodeContent maxlength="16">
                                <a href="javascript:void(0);" class="show-password-button text-muted"  (click)="createpassword2()" 
                                id="button-addon22"><i class="ri-eye-{{toggleClass2}} align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid mt-4" *ngIf = "!submt">
                        <a  class="btn btn-lg border-dark p-2 " (click)="onResetpPassword()"><strong>Reset Password</strong></a>
                    </div>
                </form>
                    <div class="text-center">
                        <p class="fw-normal mt-3">Already have an account? <a routerLink="/auth/login" class="text-primary"><strong> Sign In</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
