.badges {
    inset-block-end: 1.25rem;
    inset-inline-end: 1.25rem;
    padding: 0.25rem 0.45rem;
    font-weight: 400; 
    border-radius: 0.25rem;
}
.badge {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.75rem;
  padding: 6px 12px;
  text-transform: capitalize;
  min-width: 100px; 
}
.table-responsive {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: auto;
}
// .table thead th {
//   background-color: #006699 !important;
//   color: white !important;
// }

.table-container {
  max-height: calc(80px * 5);
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #666 #fff;
}

.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.table-container::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
// .table thead th {
//   background-color: #006699 !important;
//   color: white !important;
// }

.table-responsive {
  overflow-y: auto !important;
  max-height: 400px !important;
}

.table-responsive thead th {
  position: sticky !important;
  top: 0 !important;
  // background-color: #006699 !important;
  color: #000000 !important;
  z-index: 10 !important;
}

.avatar.avatar-ttm {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.75rem;
    font-size: 0.65rem;
}

.overflowImportant {
    max-height: 70vh; 
    overflow-y: auto !important; 
    overflow-x: hidden; 
    padding: 15px; 
}


.card.custom-card {
  border-radius: 1.5rem;
  background: var(--custom-white);
  position: relative;
  width: 100%;
  background-clip: padding-box;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    mask-composite: exclude;
    pointer-events: none;
  }
  transition: all 0.3s ease-in-out;
};


.bg-pending {
  background-color: #ffcc00 !important; 
  color: #000 !important; 
}