<div class="row mt-4">
    <div class="col-lg-12" *ngIf="adonaiRole=== 'ADMIN'">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">All Tasks <span class="badges bg-primary">{{globalTaskCount}}</span></div>
                <div class="d-flex flex-wrap gap-3">
                    <button class="btn btn-primary" (click)="openGlobalTaskModal(content1)">
                        <i class="bi bi-check2-square side-menu__icon fs-16 align-middle me-1"></i> Create Task
                    </button>
                    <button class="btn btn-primary" (click)="assignTaskModal(content2)">
                        <i class="bi bi-check2-square side-menu__icon fs-16 align-middle me-1"></i> Assign Task
                    </button>
                    <button class="btn btn-primary" (click)="openManualTaskModal(content3)"
                        *ngIf="adonaiRole === 'ADMIN'">
                        <i class="bi bi-check2-square side-menu__icon fs-16 align-middle me-1"></i> Manual Task
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive overflow-scroll">
                    <table class="table text-nowrap table-hover">
                        <thead>
                            <tr>
                                <th class="crm-table-th1">Task Name</th>
                                <th class="crm-table-th2">Task Description</th>
                                <th class="crm-table-th2">Task Result</th>
                                <th class="crm-table-th2">Recurring</th>
                                <th class="crm-table-th2">Status</th>
                                <th class="crm-table-th2">CreatedBy</th>
                                <th class="crm-table-th2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of globaltaskList">
                                <td>{{ task.name }}</td>
                                <td>{{ task.description }}</td>
                                <td>{{ task.result }}</td>
                                <td>
                                    <span class="badge" [ngClass]="getRecurringStatusBadge(task.recurringStatus)">
                                        {{ task.recurringStatus | titlecase}}
                                    </span>
                                </td>
                                <td>
                                    <span class="badge" [ngClass]="{
                                        'bg-success-transparent ps-3 fs-11': task.activityStatus === 1,
                                        'bg-danger-transparent ps-3 fs-11': task.activityStatus === 0
                                        }">
                                        {{ task.activityStatus === 1 ? 'Active' : 'In Active' }}
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="mb-1 fs-14">{{ task.createdBy }}</h6>
                                            <p class="mb-0 text-muted fs-12">{{ task.createdAt + 'Z' | date:'dd-MMM-yyyy
                                                hh:mm a' }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a aria-label="anchor" href="javascript:void(0);"
                                            class="btn btn-icon btn-sm btn-secondary-light btn-wave me-3"
                                            (click)="openGlobalTaskModal(content1, task)">
                                            <i class="ri-pencil-line"></i>
                                        </a>
                                        <a class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"
                                            (click)="deleteGlobalTask(task.id)">
                                            <i class="ri-delete-bin-line"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card custom-card py-3">
    <div class="table-responsive overflow-scroll">
        <table class="table text-nowrap table-hover">
            <thead>
                <tr>
                    <th >Today Tasks</th>
                    <th class="fw-normal text-muted small">Task Description</th>
                    <th class="fw-normal text-muted small">Task Result</th>
                    <th class="fw-normal text-muted small">Manager</th>
                    <th class="fw-normal text-muted small">Team Lead</th>
                    <th class="fw-normal text-muted small">Status</th>
                    <th class="fw-normal text-muted small">Assigned Time</th>
                    <th class="fw-normal text-muted small">Assignee</th>
                    <th class="fw-normal text-muted small" *ngIf="isAdmin === true">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of todayTasks">
                    <td>
                        <div class="d-flex align-items-center">
                            <input class="form-check-input rounded-circle me-2 border-primary task-checkbox cu" type="checkbox"
                                 (click)="openManualTaskModal(content3, task)"/>
                            <span class="mt-1">{{ task.name }}</span>
                        </div>
                    </td>
                    <td>
                        <span [ngbPopover]="task.description" popoverClass="popover-primary only-body" placement="top" triggers="hover"
                            *ngIf="task.description">
                            {{ task.description.length > 20 ? (task.description | slice:0:20) + '...' : task.description }}
                        </span>
                    </td>
                    <td>
                        <span [ngbPopover]="task.result" popoverClass="popover-primary only-body" placement="top" triggers="hover"
                            *ngIf="task.result">
                            {{ task.result.length > 20 ? (task.result | slice:0:20) + '...' : task.result }}
                        </span>
                    </td>
                    <td>
                        <span class="badge" [ngClass]="{
                                'bg-success ps-3 fs-11': task.managerApproval === 'COMPLETED',
                                'bg-pending text-dark ps-3 fs-11': task.managerApproval === 'PENDING'
                                }">
                            {{ task.managerApproval === 'COMPLETED' ? 'Completed' : 'Pending' }}
                        </span>
                    </td>
                    <td>
                        <span class="badge" [ngClass]="{
                            'bg-success ps-3 fs-11': task.leadApproval === 'COMPLETED',
                            'bg-pending text-dark ps-3 fs-11': task.leadApproval === 'PENDING'
                            }">
                            {{ task.leadApproval === 'COMPLETED' ? 'Completed' : 'Pending' }}
                        </span>
                    </td>
                    <td>
                        <span class="badge" [ngClass]="{
                            'bg-success ps-3 fs-11': task.currentStatus === 'COMPLETED',
                            'bg-pending text-dark ps-3 fs-11': task.currentStatus === 'PENDING'
                            }">
                            {{ task.currentStatus === 'COMPLETED' ? 'Completed' : 'Pending' }}
                        </span>
                    </td>
                    <td>
                        <div>
                            <h6 class="mb-1 fs-14">{{ task.createdBy }}</h6>
                            <p class="mb-0 text-muted fs-12">
                                {{ task.createdTime + 'Z' | date: 'dd-MMM-yyyy hh:mm a' }}
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <div class="avatar avatar-sm avatar-rounded border fw-bold text-white shadow-sm"
                                [ngClass]="getUserColor(task)" [ngbTooltip]="task.assignedTo"
                                tooltipClass="tooltip-primary" style="cursor: pointer;">
                                <span>{{ task?.assignedTo?.charAt(0) | uppercase }}</span>
                            </div>
                        </div>
                    </td>
                    <td *ngIf="isAdmin === true">
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);"
                                class="btn btn-icon btn-sm btn-danger rounded-circle"
                                *ngIf="isAdmin === true" (click)="deleteManualTask(task.id)">
                                <i class="ri-delete-bin-line"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- <tr *ngIf="todayTasks.length === 0">
                    <td colspan="10" class="text-center text-muted">No tasks for today.</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>

<div class="card custom-card py-3 mt-3">
  <div class="table-responsive overflow-scroll mt-2">
    <table class="table text-nowrap table-hover">
      <thead>
        <tr>
        <th >Yesterday Tasks</th>
          <th class="fw-normal text-muted small">Task Description</th>
          <th class="fw-normal text-muted small">Task Result</th>
          <th class="fw-normal text-muted small">Manager</th>
          <th class="fw-normal text-muted small">Team Lead</th>
          <th class="fw-normal text-muted small">Status</th>
          <th class="fw-normal text-muted small">Assigned Time</th>
          <th class="fw-normal text-muted small">Assignee</th>
          <th class="fw-normal text-muted small" *ngIf="isAdmin === true">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of yesterdayTasks">
          <td>
            <div class="d-flex align-items-center">
              <input
                class="form-check-input rounded-circle me-2 border-primary task-checkbox cu"
                type="checkbox"
                (click)="openManualTaskModal(content3, task)"
              />
              <span class="mt-1">{{ task.name }}</span>
            </div>
          </td>
          <td>{{ task.description | slice: 0: 20 }}</td>
          <td>{{ task.result | slice: 0: 20 }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success ps-3 fs-11': task.managerApproval === 'COMPLETED',
                'bg-pending text-dark ps-3 fs-11': task.managerApproval === 'PENDING'
              }"
            >
              {{ task.managerApproval === 'COMPLETED' ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success ps-3 fs-11': task.leadApproval === 'COMPLETED',
                'bg-pending text-dark ps-3 fs-11': task.leadApproval === 'PENDING'
              }"
            >
              {{ task.leadApproval === 'COMPLETED' ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success ps-3 fs-11': task.currentStatus === 'COMPLETED',
                'bg-pending text-dark ps-3 fs-11': task.currentStatus === 'PENDING'
              }"
            >
              {{ task.currentStatus === 'COMPLETED' ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td>
            <div>
              <h6 class="mb-1 fs-14">{{ task.createdBy }}</h6>
              <p class="mb-0 text-muted fs-12">
                {{ task.createdTime + 'Z' | date: 'dd-MMM-yyyy hh:mm a' }}
              </p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <div
                class="avatar avatar-sm avatar-rounded border fw-bold text-white shadow-sm"
                [ngClass]="getUserColor(task)"
                [ngbTooltip]="task.assignedTo"
                tooltipClass="tooltip-primary"
                style="cursor: pointer;"
              >
                <span>{{ task?.assignedTo?.charAt(0) | uppercase }}</span>
              </div>
            </div>
          </td>
          <td *ngIf="isAdmin === true">
            <div class="d-flex align-items-center">
              <a
                href="javascript:void(0);"
                class="btn btn-icon btn-sm btn-secondary-light btn-wave me-2"
                (click)="openManualTaskModal(content3, task)"
              >
                <i class="ri-pencil-line"></i>
              </a>
              <a
                href="javascript:void(0);"
                class="btn btn-icon btn-sm btn-danger-light rounded-circle"
                *ngIf="isAdmin === true"
                (click)="deleteManualTask(task.id)"
              >
                <i class="ri-delete-bin-line"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="yesterdayTasks.length === 0">
          <td colspan="10" class="text-center text-muted">
            No tasks for yesterday.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card custom-card py-3 mt-3">
  <div class="table-responsive overflow-scroll mt-2">
    <table class="table text-nowrap table-hover">
      <thead>
        <tr>
          <th>This Week Tasks</th>
          <th class="fw-normal text-muted small">Task Description</th>
          <th class="fw-normal text-muted small">Task Result</th>
          <th class="fw-normal text-muted small">Manager</th>
          <th class="fw-normal text-muted small">Team Lead</th>
          <th class="fw-normal text-muted small">Status</th>
          <th class="fw-normal text-muted small">Assigned Time</th>
          <th class="fw-normal text-muted small">Assignee</th>
          <th class="fw-normal text-muted small" *ngIf="isAdmin === true">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of thisWeekTasks">
          <td>
            <div class="d-flex align-items-center">
              <input
                class="form-check-input rounded-circle me-2 border-primary task-checkbox"
                type="checkbox"
                (click)="openManualTaskModal(content3, task)"
              />
              <span class="mt-1">{{ task.name }}</span>
            </div>
          </td>
          <td>{{ task.description | slice: 0: 20 }}</td>
          <td>{{ task.result | slice: 0: 20 }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success ps-3 fs-11': task.managerApproval === 'COMPLETED',
                'bg-pending text-dark ps-3 fs-11': task.managerApproval === 'PENDING'
              }"
            >
              {{ task.managerApproval === 'COMPLETED' ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success ps-3 fs-11': task.leadApproval === 'COMPLETED',
                'bg-pending text-dark ps-3 fs-11': task.leadApproval === 'PENDING'
              }"
            >
              {{ task.leadApproval === 'COMPLETED' ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success ps-3 fs-11': task.currentStatus === 'COMPLETED',
                'bg-pending text-dark ps-3 fs-11': task.currentStatus === 'PENDING'
              }"
            >
              {{ task.currentStatus === 'COMPLETED' ? 'Completed' : 'Pending' }}
            </span>
          </td>
          <td>
            <div>
              <h6 class="mb-1 fs-14">{{ task.createdBy }}</h6>
              <p class="mb-0 text-muted fs-12">
                {{ task.createdTime + 'Z' | date: 'dd-MMM-yyyy hh:mm a' }}
              </p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <div
                class="avatar avatar-sm avatar-rounded border fw-bold text-white shadow-sm"
                [ngClass]="getUserColor(task)"
                [ngbTooltip]="task.assignedTo"
                tooltipClass="tooltip-primary"
                style="cursor: pointer;"
              >
                <span>{{ task?.assignedTo?.charAt(0) | uppercase }}</span>
              </div>
            </div>
          </td>
          <td *ngIf="isAdmin === true">
            <div class="d-flex align-items-center">
              <a
                href="javascript:void(0);"
                class="btn btn-icon btn-sm btn-secondary-light btn-wave me-2"
                (click)="openManualTaskModal(content3, task)"
              >
                <i class="ri-pencil-line"></i>
              </a>
              <a
                href="javascript:void(0);"
                class="btn btn-icon btn-sm btn-danger-light rounded-circle"
                *ngIf="isAdmin === true"
                (click)="deleteManualTask(task.id)"
              >
                <i class="ri-delete-bin-line"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr *ngIf="thisWeekTasks.length === 0">
          <td colspan="10" class="text-center text-muted">
            No tasks for this week.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #content1 let-modal>
    <form [formGroup]="globalTaskForm" (ngSubmit)="globalTaskSubmit(modal)">
        <div class="modal-header justify-content-center">
            <h6 class="modal-title" id="staticBackdropLabel3"><strong>{{ selectedTaskId ? 'Edit Task' : 'Create Task'
                    }}</strong></h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body overflowImportant">
            <div class="col-xl-12">
                <div class="row gy-2">
                    <div class="col-lg-6">
                        <label for="projectAddress" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="projectAddress" formControlName="name"
                            placeholder="Enter Task Name"
                            [ngClass]="{ 'is-invalid': globalTaskSubmitted && gf['name'].errors }">
                        <div *ngIf="globalTaskSubmitted && gf['name'].errors" class="invalid-feedback">
                            <div *ngIf="gf['name'].errors['required']">Task Name is required</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="projectAddress" class="form-label">Recurring Status</label>
                        <ng-select formControlName="recurringStatus" [items]="recurringStatusItems" bindLabel="name"
                            bindValue="name" placeholder="Select Recurring Status">
                        </ng-select>
                    </div>
                    <div class="col-lg-12">
                        <label for="projectAddress" class="form-label">Task Description</label>
                        <textarea class="form-control" id="projectAddress" formControlName="description"
                            placeholder="Enter Task Description" rows="3"
                            [ngClass]="{ 'is-invalid': globalTaskSubmitted && gf['description'].errors }"></textarea>
                        <div *ngIf="globalTaskSubmitted && gf['description'].errors" class="invalid-feedback">
                            <div *ngIf="gf['description'].errors['required']">Task Description is required</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="projectResult" class="form-label">Task Result</label>
                        <textarea class="form-control" id="projectResult" formControlName="result"
                            placeholder="Enter Task Result" rows="3"
                            [ngClass]="{ 'is-invalid': globalTaskSubmitted && gf['result'].errors }"></textarea>
                        <div *ngIf="globalTaskSubmitted && gf['result'].errors" class="invalid-feedback">
                            <div *ngIf="gf['result'].errors['required']">Task Result is required</div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" formControlName="activityStatus"
                                id="activityStatus">
                            <label class="form-check-label" for="activityStatus">Activity Status</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Submit</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</ng-template>

<ng-template #content2 let-modal>
    <form [formGroup]="assignTaskForm" (ngSubmit)="assignTaskSubmit(modal)">
        <div class="modal-header justify-content-center">
            <h6 class="modal-title" id="staticBackdropLabel3"><strong>Assign Tasks</strong></h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body overflowImportant" style="min-height: 300px;">
            <div class="col-xl-12">
                <div class="row gy-2">
                    <div class="col-lg-6">
                        <label for="projectAddress" class="form-label">Task Name</label>
                        <ng-select formControlName="taskId" [items]="globaltaskList" bindLabel="name"
                            placeholder="Select Task" bindValue="id" (change)="onTaskChange($event)">
                        </ng-select>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label me-3">Assigned To</label>
                        <input type="checkbox" (change)="toggleAllUsers($event)"> Show All Users
                        <ng-select *ngIf="!showAllUsers" formControlName="userDeptId" [items]="adminAccessUsers"
                            bindLabel="userEmail" bindValue="id" placeholder="Select User"
                            (change)="onUserChange($event)">
                            <ng-template ng-option-tmp let-user="item">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm avatar-rounded me-2 border text-white fw-bold"
                                        [ngClass]="getUserColor(user)">
                                        <span>{{ user?.userEmail?.charAt(0) | uppercase }}</span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fs-14">
                                            {{ user.userEmail?.length > 15 ? (user.userEmail | slice:0:15) + '...' :
                                            user.userEmail }}
                                        </span>
                                        <div class="fs-11">{{ user.username }}</div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                        <ng-select *ngIf="showAllUsers" formControlName="userDeptId" [items]="filteredAllUsers"
                            bindValue="userEmail" bindLabel="email" placeholder="Select User" [searchable]="true"
                            (change)="onUserChange($event)">
                            <ng-template ng-option-tmp let-user="item">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm avatar-rounded me-2 border text-white fw-bold"
                                        [ngClass]="getUserColor(user)">
                                        <span>{{ user?.email?.charAt(0) | uppercase }}</span>
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fs-14">
                                            {{ user.email?.length > 15 ? (user.email | slice:0:15) + '...' : user.email
                                            }}
                                        </span>
                                        <div class="fs-11">{{ user.username }}</div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Submit</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</ng-template>

<ng-template #content3 let-modal>
    <form [formGroup]="manualTaskForm"
        (ngSubmit)="selectedManualTaskId ? updateManualTask(modal) : createManualTask(modal)">
        <div class="modal-header justify-content-center">
            <h6 class="modal-title" id="staticBackdropLabel3">
                <strong>{{ selectedManualTaskId ? 'Edit Manual Task' : 'Create Manual Task' }}</strong>
            </h6>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
        </div>
        <div class="modal-body overflowImportant" style="min-height: 300px;">
            <div class="col-xl-12">
                <div class="row gy-2">
                    <div class="col-lg-6" *ngIf="adonaiRole === 'ADMIN'">
                        <label class="form-label">Task Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Task Name"
                            [ngClass]="{ 'is-invalid': manualTaskSubmitted && mf['name'].errors }">
                        <div *ngIf="manualTaskSubmitted && mf['name'].errors" class="invalid-feedback">
                            Task Name is required
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="adonaiRole === 'ADMIN'">
                        <label class="form-label">Assigned To</label>
                        <ng-select formControlName="assignedTo" [items]="userList" bindValue="email" bindLabel="email"
                            placeholder="Select User" [searchable]="true">
                            <ng-template ng-option-tmp let-user="item">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm avatar-rounded me-2 border text-white fw-bold"
                                        [ngClass]="getUserColor(user)">
                                        {{ user.email?.charAt(0) | uppercase }}
                                    </div>
                                    <div class="flex-fill">
                                        <span class="fs-14">
                                            {{ user.email?.length > 15 ? (user.email | slice:0:15) + '...' : user.email
                                            }}
                                        </span>
                                        <div class="fs-11">{{ user.username }}</div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>

                    </div>
                    <div class="col-lg-12" *ngIf="adonaiRole === 'ADMIN'">
                        <label class="form-label">Task Description</label>
                        <textarea class="form-control" formControlName="description"
                            placeholder="Enter Task Description" rows="3"
                            [ngClass]="{ 'is-invalid': manualTaskSubmitted && mf['description'].errors }"></textarea>
                        <div *ngIf="manualTaskSubmitted && mf['description'].errors" class="invalid-feedback">
                            Task Description is required
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="adonaiRole === 'ADMIN'">
                        <label class="form-label">Task Result</label>
                        <textarea class="form-control" formControlName="result" placeholder="Enter Task Result" rows="3"
                            [ngClass]="{ 'is-invalid': manualTaskSubmitted && mf['result'].errors }"></textarea>
                        <div *ngIf="manualTaskSubmitted && mf['result'].errors" class="invalid-feedback">
                            Task Result is required
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="adonaiRole === 'ADMIN' && selectedManualTaskId">
                        <label class="form-label">Lead Approval</label>
                        <ng-select formControlName="leadApproval" [items]="designStatus" bindLabel="name"
                            bindValue="name" placeholder="Select Decision">
                        </ng-select>
                    </div>
                    <div class="col-lg-6" *ngIf="adonaiRole === 'ADMIN' && selectedManualTaskId">
                        <label class="form-label">Manager Approval</label>
                        <ng-select formControlName="managerApproval" [items]="designStatus" bindLabel="name"
                            bindValue="name" placeholder="Select Decision">
                        </ng-select>
                    </div>
                    <div class="col-lg-12" *ngIf="selectedManualTaskId">
                        <label class="form-label">Current Status</label>
                        <ng-select formControlName="currentStatus" [items]="designStatus" bindLabel="name"
                            bindValue="name" placeholder="Select Status">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                {{ selectedManualTaskId ? (adonaiRole === 'ADMIN' ? 'Update Task' : 'Submit Status') : 'Create Task' }}
            </button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>