.badges {
    inset-block-end: 1.25rem;
    inset-inline-end: 1.25rem;
    padding: 0.25rem 0.45rem;
    font-weight: 400; 
    border-radius: 0.25rem;
}
.table-responsive {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: auto;
}
.table thead th {
  background-color: #006699 !important;
  color: white !important;
}

.table-container {
  max-height: calc(80px * 5);
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #666 #fff;
}

.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.table-container::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
.table thead th {
  background-color: #006699 !important;
  color: white !important;
}

.table-responsive {
  overflow-y: auto !important;
  max-height: 400px !important;
}

.table-responsive thead th {
  position: sticky !important;
  top: 0 !important;
  background-color: #006699 !important;
  color: #fff !important;
  z-index: 10 !important;
}

.avatar.avatar-ttm {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.75rem;
    font-size: 0.65rem;
}
