.table-container {
  overflow-x: auto;
}

.mat-table th, 
.mat-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
}

.filter-field {
  margin-top: -13px !important;
  margin-bottom: -35px !important;
  width: 15%;
  /* Adjust width if needed */
  max-height: 72px !important;
  margin-left: 6% !important;
}