<div class="col-xl-12 m-2">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="title col-md-2 col-xl-6 col-xxl-6 col-lg-6 col-sm-3">
                Clients Found
            </div>
            <div class="d-flex justify-content-center">
                <div class="input-group shadow-sm rounded-3" style="width: 280px;">
                    <button class="btn btn-primary d-flex align-items-center justify-content-center rounded-start" type="button"
                        id="button-addon2">
                        <i class="ri-search-line text-white fs-5"></i>
                    </button>
                    <input type="text" class="form-control border rounded-end" placeholder="Search Here..."
                        aria-describedby="button-addon2" (keyup)="applyFilter($event)" #input />
                </div>
            </div>
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-primary border-end border-light">
                        Filter 
                    </button>
                    <button type="button" class="btn btn-primary border-end border-light" data-bs-toggle="modal"
                        data-bs-target="#exampleModalLg">Add New</button>
                </div>
            </div>
        </div>
        <div class="table-container mat-elevation-z8 boq-table-wrapper">
            <table mat-table [dataSource]="dataSource" matSort class="mat-table">
                <ng-container matColumnDef="sourceFlag">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <i *ngIf="element.source === 'executive'" class="ri-flag-2-line text-warning me-1"
                            title="Executive Lead"></i>
                    </td>
                </ng-container>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox ></mat-checkbox>
                    </th>
                    
                </ng-container>
                <ng-container matColumnDef="slNo">
                    <th mat-header-cell *matHeaderCellDef> S.No. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{getSNo(i)}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="javascript:void(0);"
                            class="btn btn-icon btn-sm btn-primary-light btn-wave waves-effect waves-light me-1">
                            <i class="ri-alarm-line"></i>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let element" class="cursor-pointer">
                        {{ element.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="executive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Executive</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex align-items-center">
                            <ng-template >
                                <img src="./assets/images/brand-logos/profile1.jpg" alt="img"
                                    class="avatar avatar-sm avatar-rounded me-2 border pointer" style="cursor: pointer;"
                                    ngbTooltip="No executive assigned" tooltipClass="tooltip-primary" />
                            </ng-template>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="stage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="badge me-1" type="button"  placement="top" >
                            {{ element.stage}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column">Status</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex justify-content-between">
                            <span class="badge" placement="top">
                                {{ element.status}}
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="followUpDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-width-column">
                        Followup Date
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <div>
                                {{ element.followUpDate | date: 'dd-MMM-yyyy hh:mm a' }}
                            </div>
                            <div class="text-muted small">
                                {{ element.followUpComment| slice:0:20 }}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
                    <td mat-cell *matCellDef="let element"> {{formatMobileNumber(element.contact)}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let element" [matTooltip]="element.email?.length > 20 ? element.email : ''"
                        matTooltipPosition="above" matTooltipClass="custom-tooltip"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                    <td mat-cell *matCellDef="let element" [matTooltip]="element.city?.length > 20 ? element.city : ''"
                        matTooltipPosition="above" matTooltipClass="custom-tooltip"> {{element.city}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="updatedTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Updation Date</th>
                    <td mat-cell *matCellDef="let element"> {{formatLocalDateTime(element.updatedTime)}} </td>
                </ng-container>
                <ng-container matColumnDef="completionStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completion Status</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.completionStatus}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height:47px; vertical-align:middle;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:47px; vertical-align:middle;"></tr>
            </table>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[20, 100, 500]" showFirstLastButtons></mat-paginator>
       
    </div>
</div>
<ng-template #Content12 let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLgLabel">
            Add Client
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
            aria-label="Close"></button>
    </div>
    <form [formGroup]="clientForm">
        <div class="modal-body">
            <div class="row gy-3 scrollable-content">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="name" class="form-label">Date</label>
                    <input type="date" class="form-control" id="name" placeholder="" formControlName="date">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" id="name" placeholder="company name" formControlName="companyname">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="contact" class="form-label">Contact</label>
                    <input type="text" class="form-control" id="contact" placeholder="Enter Phone Number"
                        formControlName="contact">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter your email"> 
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label class="form-label" for="stage"> Stage</label>
                    <ng-select formControlName="dealstage" [items]="clientStages" bindLabel="name" bindValue="name"
                        placeholder="Select an option">
                    </ng-select>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label class="form-label"> Status</label>
                    <ng-select formControlName="clientStatus" [items]="clientStatus" bindLabel="name" bindValue="name"
                        placeholder="Select an option">
                    </ng-select>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="contact-phone" class="form-label">Executive</label>
                    <ng-select formControlName="executive" [items]="userList" bindLabel="email" bindValue="email"
                        placeholder="Select an Executive">
                    </ng-select>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="followUpDate" class="form-label">Follow up date</label>
                    <input type="date" class="form-control" id="followUpDate" placeholder=""
                        formControlName="followUpDate">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <label for="state" class="form-label">FollowUp Time</label>
                    <input type="text" class="form-control" id="inlinetime" placeholder="Choose time" formControlName="followuptime">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">save Deal/Opportinity</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')"
                data-bs-dismiss="modal">cancel</button>
        </div>
    </form>
</ng-template>