.app-sidebar .main-sidebar-header .header-logo img {
    height: 3rem;
    line-height: 1.5rem;
    margin-top: -30px;
}
.app-sidebar .main-sidebar-header .header-logo .toggle-logo{
    height: 2.0rem;
    line-height: 1.5rem;
    margin-top: -30px;
    width: 150%;
    margin-left: -15px;
}
.app-sidebar .main-sidebar-header .header-logo .toggle-dark{
    height: 2.0rem;
    line-height: 1.5rem;
    margin-top: -30px;
    width: 150%;
    margin-left: -15px;
}

.app-sidebar .side-menu__item.active{
    padding: 0.65rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.82rem;
    color: white;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    background-color: #006699 !important;
}
.app-sidebar .side-menu__item:hover{
    padding: 0.65rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.82rem;
    color: white;
    font-weight: 300;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    background-color: #006699 !important;
}

.app-sidebar .side-menu__item.active .side-menu__label{
    color: white;
}
.app-sidebar .side-menu__item:hover .side-menu__label{
    color: white;
}
.app-sidebar .side-menu__item.active .side-menu__icon{
    fill: white;
    color: white;
}
.app-sidebar .side-menu__item:hover  .side-menu__icon{
    fill: white;
    color: white;
}

.slide.has-sub.open  .side-menu__item .side-menu__angle:hover{
    fill: white;
    color: white;
}
.slide.has-sub {
    display: grid;
    cursor: pointer;
}
.app-sidebar[_ngcontent-ng-c3847318482] .side-menu__item.active[_ngcontent-ng-c3847318482] .side-menu__icon[_ngcontent-ng-c3847318482] {
    fill: white;
    color: white;
    cursor: pointer;
}
