.filters-field-1 {
  margin-top: -15px !important;
  margin-bottom: -45px !important;
  width: 69%; 
  max-height: 72px !important;
  margin-left: 9% !important;
}

.table-responsive {
  overflow-x: auto;
  cursor: pointer;
}