<div class="row mb-5 mt-3">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header d-sm-flex d-block">
                <div class="col-xl-8">
                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block"
                        role="tablist">
                        <li [ngbNavItem]="1" class="nav-item m-1">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                aria-selected="true">Job Details</a>
                            <ng-template ngbNavContent>
                                <div id="personal-info" role="tabpanel">
                                    <div class="row gy-1 border p-2 m-3 rounded">
                                        <h6 class="fw-medium border-bottom pb-2">Job Details</h6>
                                        <div class="col-xl-6 col-auto">
                                            <label for="task-name" class="form-label m-2">Jobcode</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Jobcode">
                                        </div>
                                        <div class="col-xl-6 col-auto">
                                            <label for="task-name" class="form-label m-2">Date Required</label>
                                            <input type="date" class="form-control" id="task-name"
                                                placeholder="Length">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Quote number</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Quote number">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Invoice Number</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Invoice Number">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Job Reference</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Job Reference">
                                        </div>
                                    </div>
                                    <div class="row gy-1 border p-2 m-3 rounded">
                                        <h6 class="fw-medium border-bottom pb-2">Customer Details</h6>
                                        <div class="col-xl-6 col-auto">
                                            <label for="task-name" class="form-label m-2">Customer</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Customer Details">
                                        </div>
                                        <div class="col-xl-6 col-auto">
                                            <label for="task-name" class="form-label m-2">Tax registration no</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Tax registration no">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Client Name</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Client Name">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Cell</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Cell">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="contact-address-address" class="form-label">Address</label>
                                            <textarea class="form-control" id="contact-address-address" rows="1" placeholder="Address"></textarea>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="task-name" class="form-label m-2">Phone no</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Phone no">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="task-name" class="form-label m-2">E-mail</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="E mail">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="task-name" class="form-label m-2">Fax no</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Fax no">
                                        </div>
                                    </div>
                                    <div class="row gy-1 border p-2 m-3 rounded">
                                        <h6 class="fw-medium border-bottom pb-2">Delivery Details</h6>
                                        <div class="col-xl-6 col-auto">
                                            <label for="task-name" class="form-label m-2">Address1</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Address1">
                                        </div>
                                        <div class="col-xl-6 col-auto">
                                            <label for="task-name" class="form-label m-2">Province</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Province">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Address2</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Address2">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Country</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Country">
                                        </div>
                                        <div class="col-xl-6  col-auto">
                                            <label for="task-name" class="form-label m-2">Area Name</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Area Name">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="task-name" class="form-label m-2">GPS Co-ords</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="GPS Co-ords">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="task-name" class="form-label m-2">Area Code</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Quantity">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="task-name" class="form-label m-2">Charge</label>
                                            <input type="text" class="form-control" id="task-name"
                                                placeholder="Charge">
                                        </div>
                                    </div>
                                    <div class="row gy-1 border p-2 m-3 rounded">
                                        <h6 class="fw-medium border-bottom pb-2">Job Notes</h6>
                                        <div class="col-xl-12  col-auto">
                                            <label for="contact-address-address" class="form-label">Job Notes</label>
                                            <textarea class="form-control" id="contact-address-address" rows="4" placeholder="Notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item m-1">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                aria-selected="true">Input Terms</a>
                            <ng-template ngbNavContent>
                                <div id="account-settings" role="tabpanel" class="col-xl-12 border mb-3 rounded p-2">
                                    <div class="custom-card">
                                        <div class="d-flex">
                                            <div class="col-xl-8">
                                                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
                                                    <li [ngbNavItem]="1" class="nav-item m-1">
                                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                                            aria-selected="true" data-bs-toggle="modal"
                                                            data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content1);">Import</a>
                                                            <ng-template ngbNavContent>
                                                                <div class=" p-0" id="all-tasks" role="tabpanel">
                                                                </div>
                                                            </ng-template>
                                                    </li>
                                                    <li [ngbNavItem]="2" class="nav-item m-1">
                                                        <a ngbNavLink class="nav-link" role="tab" aria-current="page"
                                                            aria-selected="true" data-bs-toggle="modal"
                                                            data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content);">Add</a>
                                                            <ng-template ngbNavContent>
                                                                <div class="p-0" id="pending" role="tabpanel">
                                                                    <h1>hello</h1>
                                                                </div>
                                                            </ng-template>
                                                    </li>
                                                    <li [ngbNavItem]="3" class="nav-item m-1">
                                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                                            aria-selected="true">In Progress</a>
                                                            <ng-template ngbNavContent>
                                                                <div class="p-0" id="in-progress" role="tabpanel">
                                                                    
                                                                </div>
                                                            </ng-template>
                                                    </li>
                                                    <li [ngbNavItem]="4" class="nav-item m-1">
                                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                                            aria-selected="true">Completed</a>
                                                            <ng-template ngbNavContent>
                                                                <div class="p-0" id="completed" role="tabpanel">
                                                                    <h1>hello</h1>
                                                                </div>
                                                            </ng-template>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-4 d-flex justify-content-end ">
                                                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
                                                    <li [ngbNavItem]="1" class="nav-item dropdown m-1" ngbDropdown>
                                                        <a ngbNavLink class="nav-link dropdown-toggle" id="materialsDropdown" ngbDropdownToggle role="button" aria-expanded="false">
                                                            Materials
                                                        </a>
                                                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="materialsDropdown">
                                                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                                                data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content2);">Sheet</a></li>
                                                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                                                data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content1);" >Edging</a></li>
                                                            <li><a class="dropdown-item" >Hardware</a></li>
                                                            <li><a class="dropdown-item" >Labour</a></li>
                                                        </ul>
                                                        <ng-template ngbNavContent>
                                                            <div class="p-0" id="all-tasks" role="tabpanel">
                                                                <!-- Tab content here -->
                                                            </div>
                                                        </ng-template>
                                                    </li>
                                                    
                                                    <li [ngbNavItem]="2" class="nav-item m-1">
                                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                                            aria-selected="true">Library</a>
                                                            <ng-template ngbNavContent>
                                                                <div class="p-0" id="pending" role="tabpanel">
                                                                    
                                                                </div>
                                                            </ng-template>
                                                    </li>
                                                    <li [ngbNavItem]="3" class="nav-item m-1">
                                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                                            aria-selected="true">Item defaults</a>
                                                            <ng-template ngbNavContent>
                                                                <div class="p-0" id="in-progress" role="tabpanel">
                                                                    
                                                                </div>
                                                            </ng-template>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-header">
                                            <div class="card-title">
                                                Vertical Tab Style-1
                                            </div>
                                        </div>
                                        <div class="card-body d-flex align-items-start">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div ngbNav #nav17="ngbNav" [activeId]="1" orientation="vertical" class="nav flex-column nav-pills me-3 tab-style-7" id="v-pills-tab"
                                                    role="tablist" aria-orientation="vertical">
                                                    <ng-container [ngbNavItem]="1">
                                                    <button ngbNavLink class="nav-link text-start" id="main-profile-tab" data-bs-toggle="pill"
                                                        data-bs-target="#main-profile" type="button" role="tab"
                                                        aria-controls="main-profile" aria-selected="true"><i
                                                            class="ri-shield-user-line me-1 align-middle d-inline-block"></i>Saw</button>
                                                            <ng-template ngbNavContent>
                                                                <div  id="main-profile" role="tabpanel" tabindex="0">
                                                                </div>
                                                                </ng-template>
                                                        </ng-container>
                                                        <ng-container [ngbNavItem]="2">
                                                    <button ngbNavLink class="nav-link text-start" id="man-password-tab" data-bs-toggle="pill"
                                                        data-bs-target="#man-password" type="button" role="tab"
                                                        aria-controls="man-password" aria-selected="false"><i
                                                            class="ri-u-disk-line me-1 align-middle d-inline-block"></i>Password</button>
                                                            <ng-template ngbNavContent>
                                                            <div id="man-password" role="tabpanel" tabindex="0">
                                                                <ul class="list-unstyled text-muted mb-0">
                                                                    <li class="mb-2">
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                                                        industry. Lorem Ipsum has been the industry's <b>standard dummy text
                                                                            ever since the 1500s</b>, when an unknown printer took a galley
                                                                        of type and scrambled it to make a type specimen book. It has
                                                                        survived not only five centuries, but also the leap into electronic
                                                                        typesetting, remaining essentially unchanged. It was popularised in
                                                                        the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                                                        passages, and more recently with desktop publishing software like
                                                                        Aldus PageMaker including versions of Lorem Ipsum.
                                                                    </li>
                                                                    <li class="mb-2">Contrary to popular belief, Lorem Ipsum is not simply
                                                                        random text. It has roots in a piece of classical Latin literature
                                                                        from 45 BC, making it over 2000 years old. Richard McClintock, a
                                                                        Latin professor at Hampden-Sydney College in Virginia,</li>
                                                                    <li class="mb-0">There are many variations of passages of Lorem Ipsum
                                                                        available, but the majority have suffered alteration in some form.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            </ng-template>
                                                            </ng-container>
                                                            <ng-container [ngbNavItem]="3">
                                                                <button ngbNavLink class="nav-link text-start" id="main-team-tab" data-bs-toggle="pill"
                                                                    data-bs-target="#main-team" type="button" role="tab"
                                                                    aria-controls="main-team" aria-selected="false"><i
                                                                class="ri-group-line me-1 align-middle d-inline-block"></i>Team</button>
                                                                <ng-template ngbNavContent>
                                                                    <div  id="main-team" role="tabpanel"
                                                                    aria-labelledby="main-team-tab" tabindex="0">
                                                                    <ul class="list-unstyled text-muted mb-0">
                                                                        <li class="mb-2">Contrary to popular belief, Lorem Ipsum is not simply
                                                                            random text. It has roots in a piece of classical Latin literature
                                                                            from 45 BC, making it over 2000 years old. Richard McClintock, a
                                                                            Latin professor at Hampden-Sydney College in Virginia,</li>
                                                                        <li class="mb-2">There are many variations of passages of Lorem Ipsum
                                                                            available, but the majority have suffered alteration in some form.
                                                                        </li>
                                                                        <li class="mb-0">
                                                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                                                            industry. Lorem Ipsum has been the industry's <b>standard dummy text
                                                                                ever since the 1500s</b>, when an unknown printer took a galley
                                                                            of type and scrambled it to make a type specimen book. It has
                                                                            survived not only five centuries, but also the leap into electronic
                                                                            typesetting, remaining essentially unchanged. It was popularised in
                                                                            the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                                                            passages, and more recently with desktop publishing software like
                                                                            Aldus PageMaker including versions of Lorem Ipsum.
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </ng-template>
                                                            </ng-container>
                                                            <ng-container [ngbNavItem]="4">
                                                                <button ngbNavLink class="nav-link text-start" id="main-billing-tab" data-bs-toggle="pill"
                                                                    data-bs-target="#main-billing" type="button" role="tab"
                                                                    aria-controls="main-billing" aria-selected="false"><i
                                                                        class="ri-bill-line me-1 align-middle d-inline-block"></i>Billing</button>
                                                                <ng-template ngbNavContent>
                                                                    <div  id="main-billing" role="tabpanel"
                                                                    aria-labelledby="main-billing-tab" tabindex="0">
                                                                    <ul class="list-unstyled text-muted mb-0">
                                                                        <li class="mb-2">Contrary to popular belief, Lorem Ipsum is not simply
                                                                            random text. It has roots in a piece of classical Latin literature
                                                                            from 45 BC, making it over 2000 years old. Richard McClintock, a
                                                                            Latin professor at Hampden-Sydney College in Virginia,</li>
                                                                        <li class="mb-2">
                                                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                                                            industry. Lorem Ipsum has been the industry's <b>standard dummy text
                                                                                ever since the 1500s</b>, when an unknown printer took a galley
                                                                            of type and scrambled it to make a type specimen book. It has
                                                                            survived not only five centuries, but also the leap into electronic
                                                                            typesetting, remaining essentially unchanged. It was popularised in
                                                                            the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                                                            passages, and more recently with desktop publishing software like
                                                                            Aldus PageMaker including versions of Lorem Ipsum.
                                                                        </li>
                                                                        <li class="mb-0">There are many variations of passages of Lorem Ipsum
                                                                            available, but the majority have suffered alteration in some form.
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </ng-template>
                                                            </ng-container>
                                                            <ng-container [ngbNavItem]="5">
                                                                <button ngbNavLink class="nav-link text-start mb-1" id="main-email-tab" data-bs-toggle="pill"
                                                                    data-bs-target="#main-email" type="button" role="tab"
                                                                    aria-controls="main-email" aria-selected="false"><i
                                                                    class="ri-mail-line me-1 align-middle d-inline-block"></i>Email</button>
                                                                <ng-template ngbNavContent>
                                                                    <div  id="main-email" role="tabpanel"
                                                                    aria-labelledby="main-email-tab" tabindex="0">
                                                                    <ul class="list-unstyled text-muted mb-0">
                                                                        <li class="mb-2">Contrary to popular belief, Lorem Ipsum is not simply
                                                                            random text. It has roots in a piece of classical Latin literature
                                                                            from 45 BC, making it over 2000 years old. Richard McClintock, a
                                                                            Latin professor at Hampden-Sydney College in Virginia,</li>
                                                                        <li class="mb-2">There are many variations of passages of Lorem Ipsum
                                                                            available, but the majority have suffered alteration in some form.
                                                                        </li>
                                                                        <li class="mb-0">
                                                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                                                            industry. Lorem Ipsum has been the industry's <b>standard dummy text
                                                                                ever since the 1500s</b>, when an unknown printer took a galley
                                                                            of type and scrambled it to make a type specimen book. It has
                                                                            survived not only five centuries, but also the leap into electronic
                                                                            typesetting, remaining essentially unchanged. It was popularised in
                                                                            the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                                                            passages, and more recently with desktop publishing software like
                                                                            Aldus PageMaker including versions of Lorem Ipsum.
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </ng-template>
                                                            </ng-container>
                                                            
                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="tab-content" id="v-pills-tabContent">
                                                       
                                                        <div [ngbNavOutlet]="nav17" class="mt-2"></div>
                                                      
                                                      
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3" class="nav-item m-1">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                aria-selected="true">Optimized sheets</a>
                            <ng-template ngbNavContent>
                                <div id="account-settings" role="tabpanel">
                                    <h1>gdshjdd</h1>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="4" class="nav-item m-1">
                            <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                aria-selected="true">Summary</a>
                            <ng-template ngbNavContent>
                                <div id="account-settings" role="tabpanel">
                                    <h1>twegd</h1>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
               
            </div>
            <div class="card-body">
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</div>
<ng-template #Content id="addedge" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Panel Details</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
            (click)="modal.close('Cross click')" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="col-xl-8">
                <div class="row ">
                    <div class="col-xl-4 col-auto">
                        <label for="task-name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="task-name"
                            placeholder="Name">
                    </div>
                    <div class="col-xl-4 col-auto">
                        <label for="task-name" class="form-label">Length</label>
                        <input type="text" class="form-control" id="task-name"
                            placeholder="0 mm">
                    </div>
                    <div class="col-xl-4 col-auto">
                        <label for="task-name" class="form-label">Width</label>
                        <input type="text" class="form-control" id="task-name"
                            placeholder="0 mm">
                    </div>
                    <div class="col-xl-4 col-auto">
                        <label for="task-name" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="task-name"
                            placeholder="Quantity">
                    </div>
                    <div class="col-xl-4 col-auto">
                        <label class="form-label">Panel Material</label>
                        <ng-select formControlName="stage" [items]="panelList" bindLabel="name" bindValue="name"
                            placeholder="Select an option">
                        </ng-select>
                    </div>
                    <div class="col-xl-4">
                        <label class="form-label">Machining Charge</label>
                        <ng-select formControlName="stage" [items]="panelList" bindLabel="name" bindValue="name"
                            placeholder="Select an option">
                        </ng-select>
                    </div>
                    <!-- <div class="d-grid gap-2 mb-4">
                        <button class="btn btn-primary btn-wave" type="button">Advanced</button>
                        <button class="btn btn-secondary btn-wave" type="button" >Edging material tags</button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"  (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>
<ng-template #Content1 id="addimport" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Import input items</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
            (click)="modal.close('Cross click')" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row gy-2">
                <div class="col-xl-12 col-auto">
                    <select class="form-select scroll" multiple aria-label="multiple select example">
                        <option class="back pb-2" selected>Import from csv</option>
                        <option class="back" value="1">Import from KD Max (poland) v6.1</option>
                        <option class="back" value="2">Import from KD Max (poland) pre-v6.1</option>
                        <option class="back" value="3">Import from Cab Master</option>
                        <option class="back" value="3">Import from Sketch Up</option>
                    </select>
                </div>            
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">select</button>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"  (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>
<ng-template #Content2 id="addmaterial" let-modal>
    <div class="modal-content border">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Sheet Materials Manager</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
            (click)="modal.close('Cross click')" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-2 border p-2 rounded">
                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            aria-selected="true" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content1);"><i class="ri-add-circle-line me-1"></i>Add new sheet</a>
                            <ng-template ngbNavContent>
                                <div class=" p-0" id="all-tasks" role="tabpanel">
                                    
                                </div>
                            </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link" role="tab" aria-current="page"
                            aria-selected="true" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content);"><i class="ri-pencil-line me-1"></i>Edit</a>
                            <ng-template ngbNavContent>
                                <div class="p-0" id="pending" role="tabpanel">
                                    
                                </div>
                            </ng-template>
                    </li>
                    <li [ngbNavItem]="3" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            aria-selected="true"><i class="las la-minus-circle me-1"></i>Delete</a>
                            <ng-template ngbNavContent>
                                <div class="p-0" id="in-progress" role="tabpanel">
                                    
                                </div>
                            </ng-template>
                    </li>
                    <li [ngbNavItem]="4" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            aria-selected="true"><i class="lar la-copy me-1"></i>Duplicate</a>
                            <ng-template ngbNavContent>
                                <div class="p-0" id="completed" role="tabpanel">
                                </div>
                            </ng-template>
                    </li>
                    <li [ngbNavItem]="5" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            aria-selected="true"><i class="lar la-copy me-1"></i>import/export</a>
                            <ng-template ngbNavContent>
                                <div class="p-0" id="completed" role="tabpanel">
                                </div>
                            </ng-template>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <ul ngbNav #nav1="ngbNav" [activeId]="3" class="nav nav-tabs mb-3 nav-justified nav-style-1 d-sm-flex d-block" role="tablist">
                    <li [ngbNavItem]="3" class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" ngbNavLink
                            aria-selected="false" >Name</a>
                            <ng-template class="tab-content" ngbNavContent>
                                <div class=" text-muted" id="home1-justified" role="tabpanel">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr ng-repeat="material in materials">
                                                <td>grr</td>
                                                <td>bggg</td>
                                              </tr>
                                        </tbody>
                                      </table>
                                </div> 
                            </ng-template>
                    </li>
                    <li [ngbNavItem]="1" class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" ngbNavLink
                            aria-selected="false">Thickness</a>
                            <ng-template class="tab-content" ngbNavContent>
                                <div class=" text-muted" id="about1-justified" role="tabpanel">
                                    <b>Lorem Ipsum is simply dummy</b> text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to make a
                                    type specimen book. It has survived not only five centuries.
                                </div>
                            </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav1" class="mt-2"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">select</button>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"  (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>


<form [formGroup]="optimizerForm">
    <div class="row border m-2 p-2 rounded">
        <h6>Saw</h6>

        <!-- Blade Width -->
        <div class="col-xl-3 col-auto">
            <label for="BladeWidth" class="form-label my-2">Blade Width</label>
            <input type="text" class="form-control" id="BladeWidth" formControlName="saw.bladeWidth"
                [ngClass]="{ 'is-invalid': optimizerFormSubmitted && e.saw?.controls?.bladeWidth.errors }">
            <div *ngIf="optimizerFormSubmitted && e.saw?.controls?.bladeWidth.errors" class="invalid-feedback">
                <div *ngIf="e.saw?.controls?.bladeWidth.errors?.required">Blade Width is required</div>
            </div>
        </div>

        <!-- Stock Type -->
        <div class="col-xl-3 col-auto">
            <label for="StockType" class="form-label my-2">Stock Type</label>
            <ng-select formControlName="saw.stockType" [items]="stockType" bindLabel="name" bindValue="name"
                placeholder="Select an option">
            </ng-select>
        </div>

        <!-- Cut Type -->
        <div class="col-xl-3 col-auto">
            <label for="CutType" class="form-label my-2">Cut Type</label>
            <ng-select formControlName="saw.cutType" [items]="cutType" bindLabel="name" bindValue="name"
                placeholder="Select an option">
            </ng-select>
        </div>

        <!-- Cut Preference -->
        <div class="col-xl-3 col-auto">
            <label for="CutPreference" class="form-label my-2">Cut Preference</label>
            <ng-select formControlName="saw.cutPreference" [items]="cutPreference" bindLabel="name" bindValue="name"
                placeholder="Select an option">
            </ng-select>
        </div>

        <!-- Stack Height -->
        <div class="col-xl-3 col-auto">
            <label for="StackHeight" class="form-label my-2">Stack Height</label>
            <input type="number" class="form-control" id="StackHeight" formControlName="saw.stackHeight">
        </div>

        <!-- Guillotine Strategy -->
        <div class="col-xl-3 col-auto">
            <label for="Strategy" class="form-label my-2">Guillotine Strategy</label>
            <ng-select formControlName="saw.guillotineOptions.strategy" [items]="strategyOptions" bindLabel="name"
                bindValue="name" placeholder="Select an option">
            </ng-select>
        </div>

        <!-- Guillotine Max Phase -->
        <div class="col-xl-3 col-auto">
            <label for="MaxPhase" class="form-label my-2">Max Phase</label>
            <input type="number" class="form-control" id="MaxPhase" formControlName="saw.guillotineOptions.maxPhase">
        </div>

        <!-- Efficiency Primary Compression -->
        <!-- <div class="col-xl-3 col-auto">
            <label for="PrimaryCompression" class="form-label my-2">Primary Compression</label>
            <ng-select formControlName="saw.efficiencyOptions.primaryCompression" [items]="compressionOptions"
                bindLabel="name" bindValue="name" placeholder="Select an option">
            </ng-select>
        </div> -->

        <!-- Webhook -->
        <div class="col-xl-6 col-auto">
            <label for="Webhook" class="form-label my-2">Webhook URL</label>
            <input type="text" class="form-control" id="Webhook" formControlName="webhook">
        </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-3">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
</form>
