.whatsapp{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.mmt{
    margin-top: -30px;
}
.vertical-line{
    border-left: 1px solid #717171;
  height: 50px; 
  margin: 0 20px;
}

table.mat-mdc-table .mdc-data-table__header-cell {
  position: sticky !important;
  top: 0;
  z-index: 12 !important; 
  background-color: #006699 !important; 
  color: white !important;
  border-right: none;
}
.table-container {
  overflow-x: auto;
}

.mat-table th, 
.mat-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
}


// .mat-column-elementNameDescription {
//   width: 70% !important;   
//   max-width: 70% !important;
//   min-width: 70% !important;
// }

.filter-field-1 {
  margin-top: -5px !important;
  margin-bottom: -45px !important;
  width: 45%; 
  max-height: 72px !important;
  margin-left: 0% !important;
}

.btn-group .dropdown-menu.show {
  z-index: 3000 !important;
}
// :host ::ng-deep .dropdown-menu.show {
//   z-index: 3000 !important;
// }

.custom-btn::after {
  display: none !important;
}

.custom-btn {
  color: inherit;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.3s ease;
  font-weight: 500;
}

.custom-btn:hover,
.custom-btn:focus {
  color: #000000;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: transparent;
}

.custom-btn:hover::after,
.custom-btn:focus::after {
  display: inline-block !important;
  margin-left: 0.5rem;
  vertical-align: middle;
  content: "";
  border-top: 0.4em solid;              
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
}


.img-thumbnail {
    border-radius: 9px;
    max-width: 70px;
    max-height: 55px;
}
ul.dropdown-menu.cuw{
  min-width: 250px;
  min-height: 250px;
}

.sticky-col-left {
  position: sticky !important;
  left: 0;
  z-index: 9;
  background: #fff; 
}

.sticky-col-left-2 {
  position: sticky !important;
  left: 50px; 
  z-index: 9;
  background: #fff;
}


.sticky-col-right {
  position: sticky !important;
  right: 0;
  z-index: 11;
  // border-left: 1px solid black;
}

.dropdown-toggle::after {
  display: none !important;
}

.cuu{
  min-width: 250px;
  min-height: 250px;
  z-index: 30;
}

.dropdown-item{
  cursor: pointer;
}

.dropdown-item:active {
  background-color: #006699 !important;
  color: #fff !important;
}

.dropdown-item:hover {
  background-color: #006699 !important;
  color: #fff !important;
}

ul.dropdown-menu.cuw.show ~ .table-container {
  overflow: hidden !important;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #666 #fff;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}
.table-container::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}


.mat-table1 {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.mat-table1 th,
.mat-table1 td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.offcanvas.custom-offcanvas {
  --bs-offcanvas-width: 1300px; 
}
.offcanvas.custom-offcanvas.show:not(.hiding),
.offcanvas.custom-offcanvas.showing {
  transform: none !important;
  min-width: 1300px !important;
}

.kt {
  cursor: pointer;
}

.static-row {
  background: #f8f9fa;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
