<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <h1 class="page-title fw-medium fs-18 mb-2">Quotation</h1>
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quotation</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-xxl-12">
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start mb-2">
                            <div>Hi Sana</div>
                            <div>INCO767815</div>
                        </div>
                        <p class="text-muted mb-0">
                            Thanks for showing interest for your home decor. We have created a quote as requested by you in our
                            previous
                            communication. Please review and reach out to
                            <strong>Salura Anuhya</strong> your personalized designer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body">
                        <div class="align-items-start mb-3">
                            <div>J Jenny Rejlin</div>
                            <div>(Relationship manager)</div>
                        </div>
                         <div class="d-flex justify-content-between align-items-start mb-2">
                            <div><strong> 9876543210 </strong></div>
                            <div><img src="/assets/images/brand-logos/whatsappicon.png" alt="" class="whatsapp"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-start mb-2">
                            <div><strong> test&#64;gmail.com </strong></div>
                            <div><img src="/assets/images/brand-logos/mail.png" alt="" class="whatsapp"></div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-xl-4 col-sm-6">
                <div class="card custom-card overflow-hidden">
                    <div class="card-body">
                        <div class="align-items-start mb-3">
                            <div>J Jenny Rejlin</div>
                            <div>(Relationship manager)</div>
                        </div>
                         <div class="d-flex justify-content-between align-items-start mb-2">
                            <div><strong> 9876543210 </strong></div>
                            <div><img src="/assets/images/brand-logos/whatsappicon.png" alt="" class="whatsapp"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-start mb-2">
                            <div><strong> test&#64;gmail.com </strong></div>
                            <div><img src="/assets/images/brand-logos/mail.png" alt="" class="whatsapp"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="d-flex p-3 align-items-center">
                        <div>
                            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block justify-content-between" role="tablist">
                                <li [ngbNavItem]="2" class="nav-item m-1 me-3  p-2 pe-4">
                                    <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                        aria-selected="true"><i class="las la-history me-2"></i>Recently Viewed</a>
                                        <ng-template ngbNavContent>
                                            <div class="p-0" id="pending" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-xl-6 mb-4">
                                                        <div class="card custom-card h-100">
                                                            <div class="card-header">
                                                                <div class="card-title">Cost Breakup By Rooms</div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="timeline-grouped">
                                                                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [stroke]="chartOptions4.stroke"
                                                                        [dataLabels]="chartOptions4.dataLabels" [plotOptions]="chartOptions4.plotOptions"
                                                                        [xaxis]="chartOptions4.xaxis" [colors]="chartOptions4.colors" [fill]="chartOptions4.fill"
                                                                        [yaxis]="chartOptions4.yaxis" [legend]="chartOptions4.legend" [grid]="chartOptions4.grid"
                                                                        [title]="chartOptions4.title" [colors]="chartOptions4.colors"></apx-chart>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 mb-4">
                                                        <div class="card custom-card h-100">
                                                            <div class="card-header">
                                                                <div class="card-title">Simple Donut Chart</div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="donut-simple">
                                                                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [legend]="chartOptions1.legend"
                                                                        [labels]="chartOptions1.labels" [responsive]="chartOptions1.responsive"
                                                                        [colors]="chartOptions1.colors" [dataLabels]="chartOptions1.dataLabels"></apx-chart>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-12">
                                                            <div class="row">
                                                                <div class="col-xl-4 col-sm-6">
                                                                    <div class="card custom-card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="d-flex justify-content-between align-items-start mb-2">
                                                                                <div>Hi Sana</div>
                                                                                <div>INCO767815</div>
                                                                            </div>
                                                                            <p class="text-muted mb-0">
                                                                                Thanks for showing interest for your home decor. We have created a quote as requested by you
                                                                                in our
                                                                                previous
                                                                                communication. Please review and reach out to
                                                                                <strong>Salura Anuhya</strong> your personalized designer.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-4 col-sm-6">
                                                                    <div class="card custom-card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="align-items-start mb-3">
                                                                                <div>J Jenny Rejlin</div>
                                                                                <div>(Relationship manager)</div>
                                                                            </div>
                                                                            <div class="d-flex justify-content-between align-items-start mb-2">
                                                                                <div><strong> 9876543210 </strong></div>
                                                                                <div><img src="/assets/images/brand-logos/whatsappicon.png" alt="" class="whatsapp"></div>
                                                                            </div>
                                                                            <div class="d-flex justify-content-between align-items-start mb-2">
                                                                                <div><strong> test&#64;gmail.com </strong></div>
                                                                                <div><img src="/assets/images/brand-logos/mail.png" alt="" class="whatsapp"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-4 col-sm-6">
                                                                    <div class="card custom-card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="align-items-start mb-3">
                                                                                <div>J Jenny Rejlin</div>
                                                                                <div>(Relationship manager)</div>
                                                                            </div>
                                                                            <div class="d-flex justify-content-between align-items-start mb-2">
                                                                                <div><strong> 9876543210 </strong></div>
                                                                                <div><img src="/assets/images/brand-logos/whatsappicon.png" alt="" class="whatsapp"></div>
                                                                            </div>
                                                                            <div class="d-flex justify-content-between align-items-start mb-2">
                                                                                <div><strong> test&#64;gmail.com </strong></div>
                                                                                <div><img src="/assets/images/brand-logos/mail.png" alt="" class="whatsapp"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                </li>
                                <li [ngbNavItem]="3" class="nav-item m-1  p-2">
                                    <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                                        aria-selected="true"><i class="lar la-star me-2"></i>Favourites</a>
                                        <ng-template ngbNavContent>
                                            <div class="p-0" id="in-progress" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <div class="card custom-card task-inprogress-card">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 me-1 text-warning"></i></a>Design
                                                                            New Landing Pages </p>
                                                                        <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">21,Nov
                                                                                2023</span></p>
                                                                        <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">28,Nov
                                                                                2023</span></p>
                                                                        <p class="mb-0">Assigned To :
                                                                            <span class="avatar-list-stacked ms-1">
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/1.jpg" alt="img">
                                                                                </span>
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/5.jpg" alt="img">
                                                                                </span>
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/12.jpg" alt="img">
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                    class="ri-edit-line"></i></button>
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                    class="ri-delete-bin-line"></i></button>
                                                                        </div>
                                                                        <span class="badge bg-primary-transparent d-block">Medium</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="card custom-card task-inprogress-card">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 me-1 text-warning"></i></a>Designing
                                                                            New Authentication Pages</p>
                                                                        <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">26,Nov
                                                                                2023</span></p>
                                                                        <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">12,Dec
                                                                                2023</span></p>
                                                                        <p class="mb-0">Assigned To :
                                                                            <span class="avatar-list-stacked ms-1">
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/6.jpg" alt="img">
                                                                                </span>
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/15.jpg" alt="img">
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                    class="ri-edit-line"></i></button>
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                    class="ri-delete-bin-line"></i></button>
                                                                        </div>
                                                                        <span class="badge bg-success-transparent d-block">Low</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="card custom-card task-inprogress-card">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-3 d-flex align-items-center"><a
                                                                                href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 me-1 text-warning"></i></a>Improving
                                                                            Ui Of Updated Templates</p>
                                                                        <p class="mb-3">Assigned On : <span class="fs-12 mb-1 text-muted">4,Dec
                                                                                2023</span></p>
                                                                        <p class="mb-3">Target Date : <span class="fs-12 mb-1 text-muted">20,Dec
                                                                                2023</span></p>
                                                                        <p class="mb-0">Assigned To :
                                                                            <span class="avatar-list-stacked ms-1">
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/9.jpg" alt="img">
                                                                                </span>
                                                                                <span class="avatar avatar-sm avatar-rounded">
                                                                                    <img src="./assets/images/faces/13.jpg" alt="img">
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-primary-light rounded-circle"><i
                                                                                    class="ri-edit-line"></i></button>
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-danger-light rounded-circle me-0"><i
                                                                                    class="ri-delete-bin-line"></i></button>
                                                                        </div>
                                                                        <span class="badge bg-primary-transparent d-block">Medium</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content task-tabs-container">
            <hr style="border: none; border-top: 2px dashed #999; margin: 20px 0;">
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>

    
