<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <h1 class="page-title fw-medium fs-18 mb-2">Settings</h1>
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">settings</li>
        </ol>
    </nav>
</div>
<div class="row" *ngIf="userType==2">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Team
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <input type="text" [(ngModel)]="searchUser" placeholder="Search..." class="form-control w-auto" />
                    <button type="button" class="btn btn-primary text-center"
                        (click)="isAddEdt=!isAddEdt;aeTyp='a';onRst()">Add Team
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isAddEdt">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class=" px-3 text-white ">
            <div class="row gy-2 bg-white">
                <div class="col-xl-4">
                    <label for="signup-firstname" class="form-label text-default"><strong>First
                            Name</strong><span class="text-danger"> *</span></label>
                    <input type="text" class="form-control form-control-lg p-2 font-weight-bold border border-dark"
                        id="signup-firstname" placeholder="First name" formControlName="firstName" appShowCodeContent
                        onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && 
                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 32)'
                        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" maxlength="50">
                    <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors['required']">First name is required</div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <label for="signup-lastname" class="form-label text-default"><strong>Last
                            Name</strong><span class="text-danger"> *</span></label>
                    <input type="text" class="form-control form-control-lg p-2 font-weight-bold border border-dark"
                        id="signup-lastname" placeholder="Last name" formControlName="lastName" appShowCodeContent
                        onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && 
                        event.charCode <= 122) || event.charCode == 8 ||event.charCode == 32)'
                        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" maxlength="50">
                    <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">Last name is required</div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <label for="signup-dob" class="form-label text-default"><strong>Date of
                            birth</strong><span class="text-danger"> *</span></label>
                    <div class="input-group">
                        <div class="input-group-text text-muted  pl-4 font-weight-bold border border-dark">
                            <i class="ri-calendar-line"></i>
                        </div>
                        <input class="form-control form-control-lg p-2 font-weight-bold border border-dark"
                            placeholder="Choose date" type="date" formControlName="dob" [(ngModel)]="todayDate"
                            [max]="maxDate" [min]="minDate">
                    </div>
                </div>
                <div class="col-xl-4">
                    <label for="signup-email" class="form-label text-default"><strong>Email</strong><span
                            class="text-danger"> *</span></label>
                    <input type="text" class="form-control form-control-lg p-2 font-weight-bold border border-dark "
                        id="signup-email" placeholder="email" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                        (event.charCode >= 64 && event.charCode <= 90) || (event.charCode >= 97 && 
                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 46 || event.charCode == 95)'
                        formControlName="email" appShowCodeContent [(ngModel)]='mailId'
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <span *ngIf="f['email'].errors['required']">Email is required.</span>
                        <span *ngIf="f['email'].errors['email']">Invalid email address.</span>
                    </div>
                </div>

                <div class="col-xl-4">
                    <label for="signup-password" class="form-label text-default"><strong>Password</strong><span
                            class="text-danger">
                            *</span></label>
                    <div class="position-relative">
                        <input type="password"
                            class="form-control form-control-lg p-2 font-weight-bold border border-dark"
                            id="signup-password" placeholder="password" [type]="showPassword ? 'text' : 'password'"
                            autocomplete formControlName="password" appShowCodeContent [(ngModel)]="paswrd"
                            onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)'
                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)"
                            (paste)="preventCopyPaste($event)" maxlength="16"
                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                        <span class="checkmark" *ngIf="isPasswordValid">&#10003;</span>
                        <a href="javascript:void(0);" class="show-password-button text-muted" (click)="createpassword()"
                            id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></a>
                        <div class="message" [style.color]="passwordStrengthColor">
                            {{ passwordStrengthMessage }}
                        </div>
                        <div *ngIf="submitted && f['password'].errors || f['password'].touched"
                            class="invalid-feedback">
                            <div *ngIf="isPasswrd && f['password'].errors?.['required']">Password is
                                required.</div>
                            <div *ngIf="isPassValid && f['password'].errors?.['invalidPassword']">
                                Password must be at least 8 characters long, contain one Special character
                                at least one uppercase
                                letter, one lowercase letter and one number.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <label for="signup-confirmpassword" class="form-label text-default"><strong>Confirm
                            Password</strong><span class="text-danger"> *</span></label>
                    <div class="position-relative">
                        <input type="password"
                            class="form-control form-control-lg p-2 font-weight-bold border border-dark"
                            id="signup-confirmpassword" placeholder="confirm password" formControlName="confirmPassword"
                            [type]="showPassword1 ? 'text' : 'password'" autocomplete maxlength="16"
                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)"
                            (paste)="preventCopyPaste($event)"
                            onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)'
                            [(ngModel)]="cnfmPaswrd" appShowCodeContent
                            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                        <span class="checkmark" *ngIf="isCnfmPwd">&#10003;</span>
                        <a href="javascript:void(0);" class="show-password-button text-muted"
                            (click)="createpassword1()" id="button-addon21"><i
                                class="ri-eye-{{toggleClass1}} align-middle"></i></a>
                        <div class="message" [style.color]="confirmPasswordStrengthColor">
                            {{ confirmPasswordStrengthMessage }}
                        </div>
                        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                            <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is
                                required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <label for="role-id" class="form-label text-default"><strong>Tool ID</strong><span
                            class="text-danger"> *</span></label>
                    <br>
                    <mat-form-field>
                        <mat-select formControlName="tools" multiple>
                            @for (topping of toolsList; track topping) {
                            <mat-option [value]="topping">{{topping}}</mat-option>
                            }
                        </mat-select>
                        <mat-error *ngIf="f['tools'].errors?.['required']">
                            Please select at least one tool.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <label for="signup-phone" class="form-label text-default"><strong>Phone
                            Number</strong><span class="text-danger"> *</span></label>
                    <div class="input-group custom-input-group">
                        <select class="form-select form-select-lg p-2 font-weight-bold border border-dark" id="country1"
                            formControlName="country" [(ngModel)]="selectedCountry"
                            (change)="onCountryChange($any($event.target).value)"
                            [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
                            <option value="" disabled selected>code</option>
                            <option *ngFor="let c of countryLst" [value]="c.country">
                                <span *ngIf="selectedCountry !== c.country">{{ c.country }} (+{{ c.code
                                    }})</span>
                                <span *ngIf="selectedCountry === c.country">+{{ c.code }}</span>
                            </option>
                        </select>
                        <input type="text" class="form-control form-control-lg p-2 font-weight-bold border border-dark"
                            formControlName="phoneNumber" maxlength="10"
                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)"
                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)"
                            (paste)="preventCopyPaste($event)"
                            [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }">
                    </div>
                    <div *ngIf="submitted && f['phoneNumber'].errors" class="text-danger">
                        <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
                    </div>
                </div>
                <div class="col-xl-4" *ngIf="showCity">
                    <label for="signup-city" class="form-label text-default"><strong>City</strong><span
                            class="text-danger">*</span></label>
                    <select class="form-select form-control form-control-lg p-2 font-weight-bold border border-dark"
                        id="city" formControlName="city" [(ngModel)]="city"
                        [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let c of cityList" [value]="c.city">{{c.city}} </option>
                    </select>
                    <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                        <div *ngIf="f['city'].errors['required']">City is required</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-footer bg-white " *ngIf="isAddEdt">
            <div class="col-lg-12 mb-4 p-3">
                <div class="row gy-3">
                    <div class="float-end">
                        <button type="button" class="btn btn-primary text-center me-2" (click)="onSubmit();"
                            *ngIf="aeTyp == 'a'">Save
                        </button>
                        <button type="button" class="btn btn-light" (click)="isAddEdt=!isAddEdt;onRst()">Cancel
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let contact of filterUserData()" class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="card custom-card text-center">
                <div class="card-body p-4">
                    <div class="avatar avatar-xl avatar-rounded mb-3">
                        <img [src]="contact.logoUrl ? contact.logoUrl : 'assets/images/profile.jpg'" alt="Profile Image"
                            class="img-thumbnail">
                    </div>
                    <div class="mb-3">
                        <h6 class="mb-1 fw-medium">
                            Name: {{ contact.firstName }} {{ contact.lastName }}
                        </h6>
                        <p class="fw-medium fs-11 mb-1 text-dark contact-mail text-truncate">
                            Email: {{ contact.email }}
                        </p>
                        <p class="fw-medium fs-11 mb-0 text-primary">
                            Number: {{ contact.phoneNumber }}
                        </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <button type="button" class="btn btn-sm btn-outline-light border" data-bs-toggle="tooltip"
                            placement="top" ngbTooltip="Adonai: {{ contact.adonai }} Crm: {{ contact.crm }}">
                            View Tools
                        </button>

                        <div ngbDropdown class="dropdown no-caret">
                            <button class="btn btn-sm btn-icon btn-outline-light btn-wave border" ngbDropdownToggle
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-2-fill"></i>
                            </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">
                                        <i class="ri-share-line me-2 align-middle d-inline-block"></i>Share</a></li>
                                <li>
                            </ul>
                        </div>
                        <button aria-label="button" class="btn btn-sm btn-icon btn-outline-light border" type="button">
                            <i class="fe fe-eye text-muted" (click)="openRight(content2);ViewUserDetails(contact)"
                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!--<div class="card-header justify-content-between" *ngIf="userType==2">
        <div class="card-title">Signup Form
        </div>
        <mat-form-field class="filter-field">
           
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="d-flex flex-wrap gap-3">
            <div class="float-end" *ngIf="!isAddEdt">
                <button type="button" class="btn btn-primary text-center"
                    (click)="isAddEdt=!isAddEdt;aeTyp='a';onRst()">Add Team
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="userType==2">
        <div class="row">
            <div *ngIf="!isAddEdt">
                <div class="card-body p-0">
                    <div class="mat-elevation-z8">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="slNo">
                                    <th mat-header-cell *matHeaderCellDef> S.No. </th>
                                    <td mat-cell *matCellDef="let element; let i = index"> {{getSNo(i)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="firstName">
                                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="lastName">
                                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> Email </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="dateOfBirth">
                                    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
                                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </div>
            
    </div>
</div>-->
    <ng-template #modalTemplate>
        <div class="modal fade show d-block" style="background: rgba(0,0,0,0.5);" tabindex="-1">
            <div class="modal-dialog p-2 text-white ">
                <div class="modal-content p-2 text-white ">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title">OTP</h5>
                        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button> -->
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12">
                            <div class="otp-container">
                                <input class=" p-2 font-weight-bold border border-dark"
                                    *ngFor="let digit of otpArray; let i = index" type="text" maxlength="1"
                                    (input)="onInputChange($event, i)" (keydown)="onKeydown($event, i)"
                                    [(ngModel)]="otp[i]"
                                    onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)'
                                    [ngModelOptions]="{standalone: true}" [attr.aria-label]="'Digit ' + (i + 1)" />
                            </div>
                        </div>
                        <div class="col-xl-12 justify-content-center text-center text-dark p-3">
                            <span>Don't get otp ? &nbsp; &nbsp;
                                <a href="javascript:void(0)" class="text-primary"
                                    (click)="onMailCheck();isResend=true">resend </a></span>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-lg p-2 font-weight-bold text-dark border border-dark"
                            (click)="onOtpCheck()" [disabled]="isOkBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Choose a Category for Your Project Stages
                    </div>
                    <div class="d-flex float-end">
                        <button class="btn btn-primary" type="button" (click)="openRight(content)"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" [disabled]="isStage">Add
                            Stages</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Choose a Category for Your Project Estimation
                    </div>
                    <div class="d-flex float-end">
                        <button class="btn btn-primary " type="button" (click)="openRight(content1)"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" [disabled]="isPmntStage">Add
                            Stages</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6" *ngIf="showStages">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Project Stages</div>
                </div>
                <div class="container mt-4 mb-4">
                    <div *ngFor="let field of dynamicFields; let i = index" class="row mb-3 align-items-center">
                        <div class="col-sm-8">
                            <input type="text"
                                class="form-control form-control-sm p-2 font-weight-bold border border-dark"
                                [ngModel]="field.value" [ngModelOptions]="{standalone: true}" [readonly]="true">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"
                                class="form-control form-control-sm p-2 font-weight-bold border border-dark"
                                [(ngModel)]="field.percent" [ngModelOptions]="{standalone: true}"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)"
                                maxlength="3" placeholder="Percent" [disabled]="isStageDel">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                        (click)="saveLastStages()" [disabled]="isStageDel">Save</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteStages()"
                        [disabled]="isStageDel">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-xl-6" *ngIf="!showStages"></div>
        <div class="col-xl-6" *ngIf="showPmntStages">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Project Estimation Stages</div>
                </div>
                <div class="container mt-4 mb-4">
                    <div *ngFor="let field of dynamicPmntFields; let i = index" class="row mb-3 align-items-center">
                        <div class="col-sm-8">
                            <input type="text"
                                class="form-control form-control-sm p-2 font-weight-bold border border-dark"
                                [ngModel]="field.value" [ngModelOptions]="{standalone: true}" [readonly]="true">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"
                                class="form-control form-control-sm p-2 font-weight-bold border border-dark"
                                [(ngModel)]="field.percent" [ngModelOptions]="{standalone: true}"
                                onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8)"
                                maxlength="3" placeholder="Percent" [disabled]="isPmntStageDel">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm btn-wave waves-effect waves-light"
                        (click)="savePmntLastStages()" [disabled]="isPmntStageDel">Save</button>&nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="onDeletePmntStages()"
                        [disabled]="isPmntStageDel">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-offcanvas>
        <div class="offcanvas-header border-bottom border-block-end-dashed justify-content-between">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>Design Stages</strong></h5>
            <button type="button" class="btn btn-primary float-end" (click)="toggleAddMore()">
                Add More <i class="ri-add-line align-middle me-1 fw-medium"></i>
            </button>
            <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <ul class="list-group list-group-flush mb-0">
                <li class="list-group-item">
                    <div class="container mt-3">
                        <div *ngIf="addMoreVisible" class="col-12">
                            <div class="row">
                                <div class="col-xl-4 mb-3">
                                    <input type="text" class="form-control" placeholder="Enter value"
                                        [(ngModel)]="newItem">
                                </div>
                                <div class="col-xl-4 mb-3">
                                    <button class="btn btn-primary gappp" type="button" (click)="addItem()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let plan of planDetails; let i = index"
                        class="form-check mb-2 d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" [(ngModel)]="plan.checked"
                            [id]="'plan-' + i" (change)="onCheckboxChange()">
                        <label class="form-check-label flex-grow-1" [for]="'plan-' + i">{{ plan.name }}</label>
                        <button class="btn btn-danger gapp" type="button" *ngIf="!plan.isDefault"
                            (click)="deleteItem(i)">
                            Delete
                        </button>
                    </div>
                    <div class="col-xl-4 float-start p-4">
                        <button class="btn btn-primary" type="button" (click)="saveInitialStage()">Save Stages</button>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>

    <ng-template #content1 let-offcanvas>
        <div class="offcanvas-header border-bottom border-block-end-dashed justify-content-between">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>Project Estimation Stages</strong></h5>
            <button type="button" class="btn btn-primary float-end" (click)="togglePmntAddMore()">
                Add More <i class="ri-add-line align-middle me-1 fw-medium"></i>
            </button>
            <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <ul class="list-group list-group-flush mb-0">
                <li class="list-group-item">
                    <div class="container mt-3">
                        <div *ngIf="addMorePmntVisible" class="col-12">
                            <div class="row">
                                <div class="col-xl-4 mb-3">
                                    <input type="text" class="form-control" placeholder="Enter value"
                                        [(ngModel)]="newPmntItem">
                                </div>
                                <div class="col-xl-4 mb-3">
                                    <button class="btn btn-primary gappp" type="button"
                                        (click)="addPmntItem()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="ps-3">
                    <div class="mb-2">
                        <input class="form-check-input" type="checkbox"
                                id="checkboxNoLabel1" value="" aria-label="...">
                            <label for="" class="ms-2">Advance</label>
                    </div>
                    <div class="mb-2">
                        <input class="form-check-input" type="checkbox"
                            id="checkboxNoLabel1" value="" aria-label="...">
                        <label for="" class="ms-2">Design</label>
                    </div>
                    <div class="mb-2">
                        <input class="form-check-input" type="checkbox"
                            id="checkboxNoLabel1" value="" aria-label="...">
                        <label for="" class="ms-2">Material Dump</label>
                    </div>
                    <div class="mb-2">
                        <input class="form-check-input" type="checkbox"
                            id="checkboxNoLabel1" value="" aria-label="...">
                        <label for="" class="ms-2">Snags</label>
                    </div>
                    <div class="mb-2">
                        <input class="form-check-input" type="checkbox"
                            id="checkboxNoLabel1" value="" aria-label="...">
                        <label for="" class="ms-2">Project Handover</label>
                    </div>
                </div>-->
                    <div *ngFor="let item of paymentDetails; let i = index"
                        class="form-check mb-2 d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" [(ngModel)]="item.checked"
                            [id]="'item-' + i" (change)="onPmntCheckboxChange()">
                        <label class="form-check-label flex-grow-1" [for]="'item-' + i">{{ item.name }}</label>
                        <button class="btn btn-danger gapp" type="button" *ngIf="!item.isDefault"
                            (click)="deletePmntItem(i)">
                            Delete
                        </button>
                    </div>
                    <div class="col-xl-4 float-start p-4">
                        <button class="btn btn-primary btn-wave waves-effect waves-light" type="button"
                            (click)="savePmntInitialStage()">Save Stages</button>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template #content2 let-offcanvas>
        <div class="offcanvas-header border-bottom border-block-end-dashed justify-content-between">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>User Info</strong></h5>
            <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card custom-card border">
                <div class="card-body">
                    <div class="p-3 text-dark" id="pill-flex-home" role="tabpanel">
                        <ul class="list-unstyled">
                            <li class="mb-2"><span class="fw-semibold me-1">Name : </span>{{
                                userDetails.firstName?userDetails.firstName + ' ' +userDetails.lastName:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Email : </span>{{
                                userDetails.email?userDetails.email:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">No.of Users : </span>{{
                                userDetails.noOfUsers?userDetails.noOfUsers:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">City : </span>{{
                                userDetails.city?userDetails.city:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Country : </span>{{
                                userDetails.country?userDetails.country:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">D.O.B : </span>{{
                                userDetails.dob?userDetails.dob:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Phone : </span>{{
                                userDetails.phoneNumber?userDetails.phoneNumber:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Updated By : </span>{{
                                userDetails.updatedBy?userDetails.updatedBy:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Username : </span>{{
                                userDetails.username?userDetails.username:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Company Name : </span>{{
                                userDetails.companyName?userDetails.companyName:'' }}</li>
                            <li class="mb-2"><span class="fw-semibold me-1">Created Date : </span>{{
                                userDetails.createdDate? (userDetails.createdDate | date:'dd-MM-yy'):'' }}</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
            <div class="m-4 position-relative justify-content-end d-flex gap-3 ">
                <button class="btn btn-secondary" type="button"
                    (click)="offcanvas.dismiss('Cross click')">Cancel</button>
            </div>
        </div>
    </ng-template>