.authentication .desktop-logo, .authentication .desktop-dark {
  height: 6.5rem;
  line-height: 1.5rem;
  margin-top: -50px;
}

.otp-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.otp-container input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.os-scrollbar-visible {
  visibility:hidden;
}

.password-field {
  position: relative;
  width: 300px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  border: 2px solid #ccc;
  outline: none;
}

input.valid {
  border-color: #28a745; /* Green for valid */
}

input.invalid {
  border-color: #dc3545; /* Red for invalid */
}

.checkmark {
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translateY(-50%);
  color: #28a745;
  font-size: 20px;
}

.message {
  font-size: 14px;
  margin-top: 5px;
}

.invalid-feedback {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}  

.custom-input-group .form-select {
  width: 25%; /* Adjust the width for the select dropdown */
}

.custom-input-group .form-control {
width: 80%; /* Adjust the width for the mobile input field */
}

@media (max-width: 768px) {
/* Ensure responsiveness for smaller screens */
.custom-inpsut-group .form-select,
.custom-input-group .form-control {
  width: 100%;
  margin-bottom: 10px;
}

.custom-input-group {
  flex-wrap: wrap;
}
}
.form-select{
  padding: 0.375rem 0.25rem 0.375rem 0.5rem;
}
.form-check-input {
  width: 2px; 
  height: 2px; 
  margin: 2px; 
}

.list-group-item {
  color: var(--default-text-color);
  background-color: var(--custom-white);
  border: 1px solid var(--default-border);
  padding: 0.75rem 0;
}
.table th, .table td {
padding: 0.55rem 1.25rem;
vertical-align: middle;
line-height: 1.462;
font-size: 0.813rem;
font-weight: 400;
}.authentication .desktop-logo, .authentication .desktop-dark {
  height: 6.5rem;
  line-height: 1.5rem;
  margin-top: -50px;
}

.otp-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.otp-container input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.os-scrollbar-visible {
  visibility:hidden;
}

.password-field {
  position: relative;
  width: 300px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  border: 2px solid #ccc;
  outline: none;
}

input.valid {
  border-color: #28a745; /* Green for valid */
}

input.invalid {
  border-color: #dc3545; /* Red for invalid */
}

.checkmark {
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translateY(-50%);
  color: #28a745;
  font-size: 20px;
}

.message {
  font-size: 14px;
  margin-top: 5px;
}

.invalid-feedback {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}  

.custom-input-group .form-select {
  width: 25%; /* Adjust the width for the select dropdown */
}

.custom-input-group .form-control {
width: 80%; /* Adjust the width for the mobile input field */
}

@media (max-width: 768px) {
/* Ensure responsiveness for smaller screens */
.custom-inpsut-group .form-select,
.custom-input-group .form-control {
  width: 100%;
  margin-bottom: 10px;
}

.custom-input-group {
  flex-wrap: wrap;
}
}
.form-select{
  padding: 0.375rem 0.25rem 0.375rem 0.5rem;
}
.form-check-input {
  width: 2px; 
  height: 2px; 
  margin: 2px; 
}

.list-group-item {
  color: var(--default-text-color);
  background-color: var(--custom-white);
  border: 1px solid var(--default-border);
  padding: 0.75rem 0;
}
// .table th, .table td {
// padding: 0.55rem 1.25rem;
// vertical-align: middle;
// line-height: 1.462;
// font-size: 0.813rem;
// font-weight: 400;
// }

.gapp{
  margin-right: 180px;
}
.gappp{
  margin-left: 120px;
}

.filter-field {
  margin-top: 0px !important;
  margin-bottom: -25px !important;
  width: 15%; /* Adjust width if needed */
  max-height: 72px !important;
  margin-left: 66% !important;
  
}
