<!-- <video class="video-background ratio ratio-4x3" src="./assets/video/school_of_fish.mp4" autoplay loop muted></video> -->
<div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="card custom-card my-4 ">
                <div class="card-body p-5">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active"
                        class="nav-tabs  justify-content-center border-bottom-0 mb-2 mt-0 ">
                        <li ngbNavItem="Angular">
                            <ng-template ngbNavContent>
                                <p class="h5 mb-2 text-center"><strong>SIGN IN</strong></p>
                                <form class="p-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="signin-username" class="form-label text-default d-block"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail h-4 w-4 text-indigo-600"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg><span>Email</span></label>
                                            <!-- <div class="input-group">
                                                <div class="input-group-text text-muted bg-light pl-4 font-weight-bold bg-opacity-25 border border-dark "> <i class="ri-user-line"></i> </div> -->
                                            <input type="text" class="form-control form-control-lg" id="signin-username"
                                                autocomplete formControlName="email" [(ngModel)]="email" required
                                                placeholder="Enter Your Email">
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-xl-12 mb-2">
                                            <label for="signin-password"
                                                class="form-label text-default d-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lock h-4 w-4 text-indigo-600"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>Password</label>
                                            <div class="position-relative">
                                                <!-- <div class="input-group">
                                                    <div class="input-group-text text-muted bg-light pl-4 font-weight-bold bg-opacity-25 border border-dark"> <i class="ri-lock-line"></i> </div> -->
                                                <input type="password" class="form-control form-control-lg "
                                                    id="signin-password" placeholder="Enter Your Password"
                                                    [type]="showPassword ? 'text' : 'password'" autocomplete
                                                    onkeypress='return ((event.charCode >= 33 && event.charCode <= 127) || event.charCode == 8)'
                                                    id="input-password" formControlName="password"
                                                    [(ngModel)]="password" required (keydown.enter)="onSubmit()">
                                                <a href="javascript:void(0);" class="show-password-button text-muted"
                                                    (click)="createpassword()" id="button-addon2"><i
                                                        class="ri-eye-{{toggleClass}} align-middle"></i></a>
                                                <!-- </div> -->
                                            </div>
                                            <div class="mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input form-checked-dark" type="checkbox" value=""
                                                        id="darkChecked">
                                                    <label class="form-check-label fw-normal d-block"
                                                        for="darkChecked">
                                                       Remember me<a
                                                            routerLink="/authentication/reset-password/basic"
                                                            class="float-end text-danger fw-semibold">Forgot password ?</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-4">
                                        <button type="submit" class="btn-grad" autofocus [disabled]="btnDisable">SIGN IN</button>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <p class="fw-normal mt-3 mb-0">Don't have an account ?&nbsp;
                                        <a routerLink="/authentication/sign-up/basic" class="fw-semibold text-primary"><strong> Sign Up</strong></a>
                                    </p>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>