<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Company Information</h2>
    </div>
    <ul style=" padding: 20px; margin: 0; background-color: white;">
        <li style="margin-bottom: 5px; margin-left: 20px;">We specialize in high-quality interior solutions for residential and commercial spaces. 
            Our mission is to deliver top-notch design services with the highest standards of craftsmanship.</li>
            <li style="margin-bottom: 5px; margin-left: 20px;"><strong>Company Name:</strong> XYZ Interiors Pvt. Ltd.</li>
        <li style="margin-bottom: 5px; margin-left: 20px;"><strong>Address:</strong> 123, Design Street, New York, NY - 10001</li>
            <li style="margin-bottom: 5px; margin-left: 20px;"><strong>Email:</strong> info &#64;designadonai.com</li>
            <li style="margin-bottom: 5px; margin-left: 20px;"><strong>Phone:</strong> +1 123-456-7890</li>
    </ul>
</div>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Quotation Details</h2>
    </div>
    <table style="width: 100%; border-collapse: collapse; text-align: left; border: 1px solid #ddd;margin-top: 0; background-color: white;">
        <thead style="background-color: #ffffff; color: #000000;">
            <th style=" padding: 10px;">Client & Project Details</th>
        </thead>
        <tbody>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Client Name</th>
                <td style="padding: 10px; border: 1px solid #ddd;">Shravani</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Project Name</th>
                <td style="padding: 10px; border: 1px solid #ddd;">Marina Skies</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Project Config</th>
                <td style="padding: 10px; border: 1px solid #ddd;">N/A</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Built-up Area</th>
                <td style="padding: 10px; border: 1px solid #ddd;">1520 sq.ft</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Client Address</th>
                <td style="padding: 10px; border: 1px solid #ddd;">KPHB</td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%; border-collapse: collapse; text-align: left; border: 1px solid #ddd; background-color: white;">
       
        <thead style="background-color: #ffffff; color: #000000;">
            <th style=" padding: 10px;">Design Expert</th>
        </thead>
        <tbody>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Name</th>
                <td style="padding: 10px; border: 1px solid #ddd;">revathi.balla25</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Phone</th>
                <td style="padding: 10px; border: 1px solid #ddd;">9704208800</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Email</th>
                <td style="padding: 10px; border: 1px solid #ddd;">revathi.balla25 &#64;gmail.com</td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%; border-collapse: collapse; text-align: left; border: 1px solid #ddd;margin-top: 0; background-color: white;">
        <thead style="background-color: #ffffff; color: #000000;">
            <th style="padding: 10px;">Relationship Manager</th>
        </thead>
        <tbody>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Name</th>
                <td style="padding: 10px; border: 1px solid #ddd;">seenu</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Phone</th>
                <td style="padding: 10px; border: 1px solid #ddd;">9966066990</td>
            </tr>
            <tr>
                <th style="padding: 10px; border: 1px solid #ddd;">Email</th>
                <td style="padding: 10px; border: 1px solid #ddd;">psrinivas &#64;spartacloudsolutions.com</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- ROOM SUMMERY -->
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(125, 121, 121); margin-top: 20px; border-radius: 8px;">
    <!-- Header row -->
    <tr style="background-color: #32A192; color: white; text-align: center; font-size: 20px; font-weight: bold; font-family: Roboto,sans-serif;">
        <td colspan="9" style="width: 100%; padding: 20px;">Room Summary</td>
    </tr>
    <!-- Table Head -->
    <tr>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px;  font-family: Roboto,sans-serif; text-align:center">S.No.</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px;  font-family: Roboto,sans-serif; text-align:center">Room Name</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px; text-align: center; font-family: Roboto,sans-serif; text-align:center">Modules</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Accessories</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Appliances</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Services</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">BOM</th>
        <th  style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Total</th>
    </tr>
    <!-- Data Row -->
    <tr>
        <td style="border: 1px solid black; padding: 8px;text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">Living Room</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 1,02,495</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 659</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center"> &#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center;font-weight: bold;">&#8377; 1,03,155</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;text-align:center">2</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">GBR Room</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 3,41,567</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center"> &#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center;font-weight: bold;">&#8377; 3,41,567</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;text-align:center">3</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">MBR</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 5,17,569</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center"> &#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center;font-weight: bold;">&#8377; 5,17,569</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;text-align:center">4</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">Total</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 19,11,967</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 1,06,145</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center"> &#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center;font-weight: bold;">&#8377; 5,75,040</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;text-align:center">5</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center;font-weight: bold;">Discount</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 4,77,992</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 10,707</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center"> &#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 0</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center;font-weight: bold;">&#8377; 4,88,699</td>
    </tr>
    
</table>
<!-- END ROOM SUMMARY -->
<!-- Price summary -->
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(125, 121, 121); margin-top: 20px; border-radius: 8px;">
    <tr style="background-color: #32A192; color: white; text-align: center; font-size: 20px; font-weight: bold; font-family: Roboto,sans-serif;">
        <td colspan="9" style="width: 100%; padding: 20px;">Price Summary</td>
    </tr>
    <tr>
        <td colspan="8" style="border: 1px solid black; padding: 8px; text-align: start; font-family: Roboto,sans-serif;width: 80%;">Total Quote Value</td>
        <td colspan="2" style="border: 1px solid black; padding: 8px; text-align: end; font-family: Roboto,sans-serif;">&#8377; 20,19,035</td>
    </tr>
    <tr>
        <td colspan="8" style="border: 1px solid black; padding: 8px; text-align: start; font-family: Roboto,sans-serif;">Total Discount</td>
        <td colspan="2" style="border: 1px solid black; padding: 8px; text-align: end; font-family: Roboto,sans-serif;">&#8377; 4,88,699</td>
    </tr>
    <tr>
        <td colspan="8" style="border: 1px solid black; padding: 8px; text-align: start; font-family: Roboto,sans-serif;font-weight: bold;">Final Quote Value</td>
        <td colspan="2" style="border: 1px solid black; padding: 8px; text-align: end; font-family: Roboto,sans-serif;font-weight: bold;">&#8377; 15,30,336</td>
    </tr>
</table>
<!-- END -->
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(125, 121, 121); margin-top: 20px; border-radius: 8px;">
    <!-- Header row -->
    <tr style="background-color: #32A192; color: white; text-align: center; font-size: 20px; font-weight: bold; font-family: Roboto,sans-serif;">
        <td colspan="9" style="width: 100%; padding: 20px;">DETAILED QUOTATION</td>
    </tr>

    <!-- MBR Row -->
    <tr style="background-color: #55d7c6;">
        <td colspan="6" style="border: 1px solid black; padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">Kitchen</td>
        <td colspan="2" style="border: 1px solid black; padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">Kitchen subtotal</td>
        <td colspan="2" style="border: 1px solid black; padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">46366.5</td>
    </tr>

    <tr>
        <td colspan="9" style="padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">CABINET LIST</td>
    </tr>

    <!-- Table Head -->
    <tr>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; width: 5%; font-family: Roboto,sans-serif; text-align:center">S.No.</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; width: 20%; font-family: Roboto,sans-serif; text-align:center">Product Description</th>
        <th colspan="3" style="border: 1px solid black; padding: 8px; font-size: 14px; text-align: center; font-family: Roboto,sans-serif; text-align:center">Dimension</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Price/Unit</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Units</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Quantity</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; text-align:center">Total Price</th>
    </tr>

    <!-- Dimension Labels -->
    <tr>
        <th style="border: 1px solid black; padding: 8px; font-family: Roboto,sans-serif; text-align:center">Width</th>
        <th style="border: 1px solid black; padding: 8px; font-family: Roboto,sans-serif; text-align:center">Depth</th>
        <th style="border: 1px solid black; padding: 8px; font-family: Roboto,sans-serif; text-align:center">Height</th>
    </tr>

    <!-- Data Row -->
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/300mm.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> 1050mm S-Corner Unit-Right<br>
                    <strong>Carcass Material:</strong> HDHMR<br>
                    <strong>Shutter Code:</strong> 5101-SF<br>
                    <strong>Panel Code:</strong> 5101-SF<br>
                    <strong>Handle Code:</strong> 108-SI-N
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex; align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/Adonai logo.png" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> 1050mm S-Corner Unit-Right<br>
                    <strong>Carcass Material:</strong> HDHMR<br>
                    <strong>Shutter Code:</strong> 5101-SF<br>
                    <strong>Panel Code:</strong> 5101-SF<br>
                    <strong>Handle Code:</strong> 108-SI-N
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex; align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/1050mm.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> 1050mm S-Corner Unit-Right<br>
                    <strong>Carcass Material:</strong> HDHMR<br>
                    <strong>Shutter Code:</strong> 5101-SF<br>
                    <strong>Panel Code:</strong> 5101-SF<br>
                    <strong>Handle Code:</strong> 108-SI-N
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td colspan="9" style="padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">Accessories</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/access.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Wicker basket<br>
                    <strong>Carcass Material:</strong> MH groove premium (1667)<br>
                    <strong>Carcass Finish:</strong> wooden finish <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> wooden finish 
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.2</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/access.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> 1050mm S-Corner Unit-Right<br>
                    <strong>Carcass Material:</strong> HDHMR<br>
                    <strong>Carcass Finish:</strong> 5101-SF<br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> 108-SI-N
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.3</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/access2.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Pullout name<br>
                    <strong>Carcass Material:</strong> 1 x Frame Set 2 x Runners Shelf & Baking Tray Holder  <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> <br>
                    <strong>Shutter Finish:</strong> 3D front adjustment
                    Full extension runner with soft close
                    Shelf & baking tray holder                    
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td colspan="9" style="padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">Appliances</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/apply2.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> The Glen Chimney Hood<br>
                    <strong>Carcass Material:</strong> HDHMR<br>
                    <strong>Carcass Finish:</strong> 5101-SF<br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> 108-SI-N
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/apply1.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td colspan="9" style="padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">Services</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/fan2.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/fan2.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/fan2.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td colspan="9" style="padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">BOM</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/fan2.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.2</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/fan1.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1.3</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex;  align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/fan3.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 14px; line-height: 1.6;">
                    <strong>Name:</strong> Glen Kitchen Sink<br>
                    <strong>Carcass Material:</strong> <br>
                    <strong>Carcass Finish:</strong> <br>
                    <strong>Shutter Material:</strong> 5101-SF<br>
                    <strong>Shutter Finish:</strong> a blend of elegance and functionality designed to meet the demands of modern living. This sink measures a compact 24" x 18" x 8" (608x457x200mm), making it an ideal choice for both small and spacious kitchens alike
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">450</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">560</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">820</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1700</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">NO.S</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">1</td>
        <td style="border: 1px solid black; padding: 8px; text-align:center">&#8377; 46366.65</td>
    </tr>
    <!-- Subtotal -->
    <tr>
        <td colspan="8" style="border: 1px solid black; padding: 8px; text-align: right; font-family: Roboto,sans-serif;">Sub Subtotal</td>
        <td colspan="2" style="border: 1px solid black; padding: 8px; text-align: center; font-family: Roboto,sans-serif;">&#8377; 46366.65</td>
    </tr>
</table>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">

    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Drawings & Design Document</h2>
    </div>
    <ul style=" padding: 20px; margin: 0; background-color: white;">
        <li style="margin-bottom: 5px; margin-left: 20px;">Project Drawings & Designs</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">The project will include:  
            <li style="margin-bottom: 5px; margin-left: 20px;">Detailed 2D layouts</li>
                <li style="margin-bottom: 5px; margin-left: 20px;">3D renders</li>
                <li style="margin-bottom: 5px; margin-left: 20px;">Material samples for approval before execution</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">All design approvals must be finalized before production begins.</li>
    </ul>
</div>

<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">

    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Payment Terms</h2>
    </div>

    <table style="width: 100%; border-collapse: collapse; text-align: left; border: 1px solid #ddd;margin-top: 0; background-color: white;">
        <thead>
            <tr style="background-color: #32A192; color: #fff;">
                <th style="padding: 10px; border: 1px solid #ddd;">Stage</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Description</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Stage 1</td>
                <td style="padding: 10px; border: 1px solid #ddd;">Advance Payment upon signing the agreement</td>
                <td style="padding: 10px; border: 1px solid #ddd;">50%</td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Stage 2</td>
                <td style="padding: 10px; border: 1px solid #ddd;">Payment after completion of major structural work</td>
                <td style="padding: 10px; border: 1px solid #ddd;">40%</td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Stage 3</td>
                <td style="padding: 10px; border: 1px solid #ddd;">Final Payment before handover</td>
                <td style="padding: 10px; border: 1px solid #ddd;">10%</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; font-weight: bold; padding: 10px; border: 1px solid #ddd;">Total Payment</td>
                <td style="font-weight: bold; padding: 10px; border: 1px solid #ddd;">100%</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Material Specifications</h2>
    </div>
    <ul style=" padding: 20px; margin: 0; background-color: white;">
        <h4 style=" color: #666; background-color: white; font-size:20px; font-weight: 600; font-family: Roboto,sans-serif;font-size: 20px;margin-bottom: 20px;">We use premium materials including:</h4>
        <li style="margin-bottom: 5px; margin-left: 20px;">Modular Plywood (BWP Grade)</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">High-gloss laminates & veneers</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">Soft-close hinges and fittings</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">Quartz countertops</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">Branded appliances as per client selection</li>
    </ul>
</div>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Terms and Conditions</h2>
    </div>
    <ul style=" padding: 20px; margin: 0; background-color: white;">
        <li style="margin-bottom: 5px; margin-left: 20px;">Project timeline is estimated to be 8-12 weeks from the date of advance payment.</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">Any changes requested after final design approval may result in additional costs.</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">XYZ Interiors is not liable for delays due to unforeseen circumstances.</li>
        <li style="margin-bottom: 5px; margin-left: 20px;">All disputes will be settled under the jurisdiction of New York courts.</li>
    </ul>
    
</div>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;  padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Other Information</h2>
    </div>
    <div style="border: 1px solid #ddd; background-color: #fff; padding: 20px;">
        <p style="font-weight: bold; color: #444; margin-bottom: 10px;">Our team ensures on-time project delivery with strict quality control.</p>
        <p style="color: #555; line-height: 1.6;">Site visits and progress updates will be provided periodically.</p>
    </div>
</div>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Quality Promise & Warranties</h2>
    </div>
    <ul style="list-style-type: disc; padding-left: 20px;  background-color: white;">
        <p style="color: #555; padding-top: 20px;">For Varma Decor and its Association Catalogue Products Ordered through Varma Decor and its Association:</p>
        <li style="margin-bottom: 5px; margin-left: 20px">
            <strong>Modular Kitchens & Modular Wardrobes & Storages</strong> purchased through angadi.store are covered under a <strong>7-year limited quality promise</strong>. 
            It includes cabinets, shutters, drawers, panels, and OEM’s warranty on hardware and accessories.
        </li>
        <li style="margin-bottom: 5px; margin-left: 20px">
            <strong>VARMA DECOR QUALITY PROMISE & WARRANTIES:</strong> As per the 
            <a href="https://www.varmaandassociates.co.in" target="_blank" style="color: #007bff; text-decoration: none;">Company Policy</a>.
            <strong style="margin-bottom: 5px; margin-left: 20px">Warranty Offerings by Varma Decor:</strong>
        </li>
        <table style="width: 100%; border-collapse: collapse; margin-top: 10px; margin-left: -10px;">
            <thead>
                <tr style="background-color: #ffffff; color: #000000; margin-left: 20px">
                    <th style="border: 1px solid #ddd; padding: 10px; text-align: left;">Product</th>
                    <th style="border: 1px solid #ddd; padding: 10px; text-align: left;">Warranty Period</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Modular Kitchens & Modular Wardrobes; Modular storage (TV unit, vanity & more)</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">7 years</td>
                </tr>
                <tr style="background-color: #ffffff;">
                    <td style="border: 1px solid #ddd; padding: 10px;">Sofas</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Up to 3 years</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Furniture</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Up to 1 year</td>
                </tr>
                <tr style="background-color: #ffffff;">
                    <td style="border: 1px solid #ddd; padding: 10px;">On-site Services</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Up to 1 year</td>
                </tr>
            </tbody>
        </table>
    </ul>
</div>
<div style="max-width: 100%; background-color: #32A192; border-radius: 8px; margin-top: 20px;">
    <div style="max-width: 100%;padding: 20px; ">
        <h2 style="text-align: center; color: #ffffff;font-size:20px;font-family: Roboto,sans-serif;">Thank You</h2>
    </div>
    <div style="background-color: white; text-align: center; padding-bottom: 20px;">
        <p style="color: #555; line-height: 1.6; padding-top: 20px;">We appreciate the opportunity to work with you on this project. Our team is committed to delivering a design that meets your vision and expectations.</p>
        <p style="font-weight: bold; margin-top: 15px; color: #444;">For any queries, feel free to contact us at 
            <a href="mailto:support@designadonai.com" style="color: #007bff; text-decoration: none;">support&#64;designadonai.com</a>
        </p>
    </div>   
</div>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(125, 121, 121); margin-top: 20px;">
    <!-- Header row -->
    <tr style="background-color: #32A192; color: white; text-align: center; font-size: 20px; font-weight: bold; font-family: Roboto,sans-serif;">
        <td colspan="8" style="width: 100%;">DETAILED QUOTATION</td>
    </tr>

    <!-- MBR Row -->
    <tr style="background-color: #55d7c6;">
        <td colspan="5" style="border: 1px solid black; padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">MBR</td>
        <td colspan="2" style="border: 1px solid black; padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">MBR subtotal</td>
        <td colspan="2" style="border: 1px solid black; padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">46366.5</td>
    </tr>

    <tr>
        <td colspan="8" style="padding: 2px; font-size: 14px; font-family: Roboto,sans-serif;">CABINET LIST</td>
    </tr>

    <!-- Table Head -->
    <tr>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; width: 5%; font-family: Roboto,sans-serif;">S.No.</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; width: 20%; font-family: Roboto,sans-serif;">Product Description</th>
        <th colspan="3" style="border: 1px solid black; padding: 8px; font-size: 14px; text-align: center; font-family: Roboto,sans-serif;">Dimension</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif;">Price/Unit</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif;">Quantity</th>
        <th rowspan="2" style="border: 1px solid black; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif;">Total Price</th>
    </tr>

    <!-- Dimension Labels -->
    <tr> 
        <th style="border: 1px solid black; padding: 8px; font-family: Roboto,sans-serif;">Width</th>
        <th style="border: 1px solid black; padding: 8px; font-family: Roboto,sans-serif;">Depth</th>
        <th style="border: 1px solid black; padding: 8px; font-family: Roboto,sans-serif;">Height</th>
    </tr>

    <!-- Data Row -->
    <tr>
        <td style="border: 1px solid black; padding: 8px;">1</td>
        <td style="border: 1px solid black; padding: 8px;">
            <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
                <img src="/src/assets/images/brand-logos/300mm.jpg" alt="Product Image" style="max-width: 100px; height: auto;">
            </div>
            <div>
                <p style="font-family: Roboto,sans-serif; font-size: 14px;">1050mm S-Corner Unit-Right,
                    HDHMR ,
                    5101-SF ,
                    5101-SF ,
                    108-SI-N
                </p>
            </div>
        </td>
        <td style="border: 1px solid black; padding: 8px;">450</td>
        <td style="border: 1px solid black; padding: 8px;">560</td>
        <td style="border: 1px solid black; padding: 8px;">820</td>
        <td style="border: 1px solid black; padding: 8px;">1700</td>
        <td style="border: 1px solid black; padding: 8px;">1</td>
        <td style="border: 1px solid black; padding: 8px;">46366.65</td>
    </tr>

    <!-- Subtotal -->
    <tr>
        <td colspan="7" style="border: 1px solid black; padding: 8px; text-align: right; font-family: Roboto,sans-serif;">Sub Subtotal</td>
        <td colspan="2" style="border: 1px solid black; padding: 8px; text-align: center; font-family: Roboto,sans-serif;">46366.65</td>
    </tr>
</table>
