table {
  width: 100%;
}
th.mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  background-color: #006699 !important;
  z-index: 2 !important;
  color: #ffffff !important;
}

.mat-mdc-header-row {
  background: #006699;
}
.mat-elevation-z8 {
  max-height: 400px; /* Adjust as necessary */
  overflow: auto;
}
.delete-option{
  color:#f36566;
}
.delete-option:hover, .ban-option:hover, .view-option:hover {
  background-color: #10007626 !important;
  line-height: 1.375;
  width: calc(100% - 1rem);
  margin: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  min-width: 10rem;
}
.btn-outline-primary {
  color: #100076;
  border-color: #100076;
}
.dropdown {
  width: 300px;
}
::ng-deep .offcanvas {
  max-width: 40% !important;
}

.dropdown-toggle::after {
  display: none !important;
}
.bt-icon {
  align-items: center;
  justify-content: center;
  padding-left: 2px;
}
