.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%; 
  max-width: 90px;
}

/* For small screens */
@media (min-width: 480px) {
  .stat-box {
    width: 70px;
  }
}
.accordion-wrapper {
  max-height: 450px;   /* full accordion container height */
  overflow-y: auto;    /* vertical scroll if content exceeds */
  overflow-x: hidden;  /* avoid horizontal scroll */
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  background: #fff;
}
.cu{
  cursor:pointer;
}


