<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <h1 class="page-title fw-medium fs-18 mb-2">Profile</h1>
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-sm-flex flex-wrap align-items-top gap-5 p-2 border-bottom-0">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <div class="lh-1">
                                <span class="avatar avatar-xxl avatar-rounded online me-3">
                                    <img src="assets/images/brand-logos/profile1.jpg" alt="">
                                </span>
                            </div>
                            <div class="flex-fill main-profile-info">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="fw-medium mb-1">{{ userData.username }}</h6>
                                </div>
                                <div class="d-flex align-items-center gap-5 mb-1">
                                    <h6 class="fs-12 m-1"><i class="ri-calendar-line"></i> {{ userData.dob }}</h6>
                                    <h6 class="fs-12 m-1"><i class="ri-map-pin-line"></i> {{ userData.city }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-center mb-0" *ngIf="pjData">
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.totalProjects}}</p>
                                <p class="mb-0 fs-11 op-5">Total</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.completedProj}}</p>
                                <p class="mb-0 fs-11 op-5">Completed</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.pendingProj}}</p>
                                <p class="mb-0 fs-11 op-5">Pending</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.overdueProj}}</p>
                                <p class="mb-0 fs-11 op-5">Overdue</p>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-center mb-0" *ngIf="taskStats">
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.total}}</p>
                                <p class="mb-0 fs-11 op-5">AllTasks</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.inprogress}}</p>
                                <p class="mb-0 fs-11 op-5">InProgress</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.verify}}</p>
                                <p class="mb-0 fs-11 op-5">AttoVerify</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.completed}}</p>
                                <p class="mb-0 fs-11 op-5">Completed</p>
                            </div>
                        </div>

                        <div class="pt-2">
                            <div class="text-muted">
                                <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-mail-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.email }}
                                </p>
                                <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-phone-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.phoneNumber }}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3 flex-wrap">
                            <h6 class="fw-medium mb-0">Follow :</h6>
                            <div class="btn-list mb-0">
                                <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light">
                                    <i class="ri-facebook-line fw-medium"></i>
                                </button>
                                <button
                                    class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                                    <i class="ri-twitter-x-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                                    <i class="ri-instagram-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                                    <i class="ri-github-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                                    <i class="ri-youtube-line fw-medium"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card custom-card">
            <div class="card-body p-0" style="min-height: 469px; max-height: 600px; overflow-y: auto;">
                <div
                    class="p-3 border-bottom border-block-end-dashed d-flex align-items-center justify-content-between">
                    <div>
                        <ul ngbNav #nav="ngbNav" [activeId]="1"
                            class="nav nav-tabs mb-0 tab-style-6 justify-content-start" id="myTab"
                            role="tablist">
                            <li [ngbNavItem]="1" class="nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="activity-tab" data-bs-toggle="tab"
                                    data-bs-target="#activity-tab-pane" type="button" role="tab"
                                    aria-controls="activity-tab-pane" aria-selected="false"><i
                                        class="ri-gift-line me-1 align-middle d-inline-block"></i>Personal Info</button>
                                <ng-template ngbNavContent>
                                    <div class="row gy-3">
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="firstName" class="form-label">First Name</label>
                                            <input type="text" class="form-control" placeholder="firstName" value="{{ userData.firstName }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="lastName" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" placeholder="lastName" value="{{ userData.lastName }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="dob" class="form-label">Dob</label>
                                            <input type="email" class="form-control" placeholder="dob" value="{{ userData.dob}}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="Email" class="form-label">Email</label>
                                            <input type="email" class="form-control" placeholder="email" value="{{ userData.email }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="Country" class="form-label">Country</label>
                                            <input type="text" class="form-control"  placeholder="Country" value="{{ userData.country }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="phoneNumber" class="form-label">Phone Number</label>
                                            <input type="text" class="form-control"  placeholder="phoneNumber" value="{{ userData.phoneNumber }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="username" class="form-label">username</label>
                                            <input type="text" class="form-control" placeholder="username" value="{{ userData.username }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="city" class="form-label">City</label>
                                            <input type="text" class="form-control" placeholder="city" value="{{ userData.city }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="companyName" class="form-label">companyName</label>
                                            <input type="text" class="form-control"  placeholder="companyName" value="{{ userData.companyName }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="createdDate" class="form-label">createdDate</label>
                                            <input type="tel" class="form-control" placeholder="createdDate" value="{{ userData.createdDate | date:'dd/MM/yyyy' }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="adonaiRole" class="form-label">Role</label>
                                            <input type="tel" class="form-control" placeholder="adonaiRole" value="{{ userData.adonaiRole }}" disabled="true">
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <!-- <li [ngbNavItem]="2" class="nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="posts-tab" data-bs-toggle="tab"
                                    data-bs-target="#posts-tab-pane" type="button" role="tab"
                                    aria-controls="posts-tab-pane" aria-selected="false"><i
                                        class="ri-bill-line me-1 align-middle d-inline-block"></i>Password Reset</button>
                                <ng-template ngbNavContent>
                                    <div class="row gy-3">
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <label for="contact-name" class="form-label">Old Password</label>
                                            <input type="text" class="form-control" id="contact-name" placeholder="Name">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <label for="contact-mail" class="form-label">New Password</label>
                                            <input type="email" class="form-control" id="contact-mail" placeholder="companyName">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Confirm password</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3" class="nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="followers-tab" data-bs-toggle="tab"
                                    data-bs-target="#followers-tab-pane" type="button" role="tab"
                                    aria-controls="followers-tab-pane" aria-selected="true"><i
                                        class="ri-money-dollar-box-line me-1 align-middle d-inline-block"></i>Social media</button>
                                <ng-template ngbNavContent>
                                    <div class="row gy-3">
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="contact-name" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="contact-name" placeholder="Name">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="contact-mail" class="form-label">Company Name</label>
                                            <input type="email" class="form-control" id="contact-mail" placeholder="companyName">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Products</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Zip Code</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="date" class="form-label">Follow up date</label>
                                            <input type="date" class="form-control" id="contact-phone" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">State</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">City</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Address</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="contact-phone" class="form-label">contact</label>
                                            <input type="tel" class="form-control" id="contact-phone" placeholder="Enter contact">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="email" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="contact-phone" placeholder="Enter email">
                                        </div>
                                    </div>
                                </ng-template>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="p-3">
                    <div class="tab-content" id="myTabContent">
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="adoanAiRole== 'ADMIN'">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Team
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <button class="btn btn-primary" (click)="toggleTopShowMore()">
                        {{ topshowMore ? 'Show Less' : 'Show More' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row ms-1 scrollable-container" 
        [ngStyle]="{
        'max-height': topshowMore ? '220px' : '220px',
        'overflow-y': topshowMore ? 'auto' : 'hidden',
        'transition': 'max-height 0.5s ease' }" *ngIf="adoanAiRole== 'ADMIN'" >
        <div *ngFor="let contact of filterUserData()" class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="card custom-card text-center border-bottom">
                <div class="card-body p-4">
                    <div class="avatar avatar-lg avatar-rounded mb-2" [ngClass]="getUserColor(contact)">
                        {{ contact.email?.charAt(0) | uppercase }}
                    </div>
                    <div class="mb-3">
                        <h6 class="mb-1 fw-medium">
                            Name: {{ contact.firstName }} {{ contact.lastName | slice:0:8}}
                        </h6>
                        <p class="fw-medium fs-11 mb-1 text-dark contact-mail text-truncate">
                            Email: {{ contact.email }}
                        </p>
                        <p class="fw-medium fs-11 mb-0 text-primary">
                            Number: {{ contact.phoneNumber }}
                        </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <button type="button" class="btn btn-sm btn-outline-light border" data-bs-toggle="tooltip"
                            placement="top" ngbTooltip="Adonai: {{ contact.adonai }} Crm: {{ contact.crm }}">
                            View Tools
                        </button>
                         <button aria-label="button" class="btn btn-sm btn-icon btn-outline-light border" type="button"
                            (click)="openRight(content2);ViewUserDetails(contact)" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight">
                            <i class="fe fe-eye text-muted"></i>
                        </button>
                        <!-- <button aria-label="button" class="btn btn-sm btn-primary border" type="button" >
                            {{contact.adoanAiRole}}
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Roles and Responsibilities
            </div>
            <!-- <div class="d-flex flex-wrap gap-3">
                <button class="btn btn-primary" (click)="toggleTopShowMore()">
                    {{ topshowMore ? 'Show Less' : 'Show More' }}
                </button>
            </div> -->
        </div>
    </div>
</div>
<ul class="list-group list-group-flush mb-0">
    <li class="list-group-item">
        <div class="d-flex align-items-center">
            <div class="flex-fill">
                <div ngbAccordion class=" customized-accordion accordions-items-seperate accordion-wrapper" id="customizedAccordion" >
                     <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Admin</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong>HR/Admin</p>
                                    <p><strong>Description:</strong>
                                       Handle HR & office admin tasks
                                    </p>
                                    <p><strong>Key Tasks:</strong>Hiring, payroll, attendance, admin support</p>
                                     <p><strong>Targets</strong>Close all open positions in 45 days</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Hiring TAT, employee retention rate</p>
                                    <p><strong>Bonus</strong>Bonus for 30 day hiring closure</p>
                                    <p><strong>Penalty</strong>Penalty for compliance lapses</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem  [collapsed]="true" class="custom-accordion-primary " *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Marketing Head</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Digital Marketer & Marketing Manager</p>
                                    <p><strong>Description:</strong>
                                        Develop and execute digital campaigns, manage brand presence
                                    </p>
                                    <p><strong>Key Tasks:</strong>SEO, Ads, Social Media, Lead generation</p>
                                     <p><strong>Targets</strong>20% monthly lead growth</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Leads generated, conversion %, campaign ROI</p>
                                    <p><strong>Bonus</strong>5% of monthly salary as bonus</p>
                                    <p><strong>Penalty</strong>Warning + 10% salary deduction on repeated failure</p>
                                   
                                </div>
                        
                            </div>
                        </div>

                    </div>
                    <div ngbAccordionItem *ngIf="adoanAiRole === 'USER' || adoanAiRole ==='ADMIN'" [collapsed]="true" class="custom-accordion-primary">
                        <h2 ngbAccordionHeader id="customizedAccordionTwo">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="false" aria-controls="customized-AccordionOne">
                                <strong>Marketing Executive</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Content Creator, CRM & Feedback Coordinator</p>
                                    <p><strong>Description:</strong>
                                        Create content, handle CRM follow-ups, manage client feedback
                                    </p>
                                    <p><strong>Key Tasks:</strong>Posts, blogs, reels, CRM updates, feedback calls</p>
                                     <p><strong>Targets</strong>Weekly 5 content posts, 100% CRM data updated</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Engagement rate, timely CRM updates, feedback scores</p>
                                    <p><strong>Bonus</strong>2% of salary as bonus</p>
                                    <p><strong>Penalty</strong>Written warning + loss of bonus</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Sales Head</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Business Development Manager / Head</p>
                                    <p><strong>Description:</strong>
                                        Lead sales, manage pipeline, close deals
                                    </p>
                                    <p><strong>Key Tasks:</strong>Client meetings, proposals, conversions</p>
                                     <p><strong>Targets</strong>Close min. 3 projects/month worth 30L+</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Conversion ratio, revenue target, client onboarding</p>
                                    <p><strong>Bonus</strong>Incentive 1% of closed revenue</p>
                                    <p><strong>Penalty</strong>Placed under PIP if 50% target</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole == 'USER' || adoanAiRole =='ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Sales Executive</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> BDE</p>
                                    <p><strong>Description:</strong>
                                        Identify prospects, support BDM, follow up on leads
                                    </p>
                                    <p><strong>Key Tasks:</strong>Cold calls, follow ups, client meetings</p>
                                     <p><strong>Targets</strong>50 calls/day, 5 meetings/week</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Lead conversion %, follow up completion</p>
                                    <p><strong>Bonus</strong>₹1000 incentive per deal closed</p>
                                    <p><strong>Penalty</strong>Bonus removed if 30% KPI score</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Design Head</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Design Head</p>
                                    <p><strong>Description:</strong>
                                        Lead design team, approve concepts, manage quality
                                    </p>
                                    <p><strong>Key Tasks:</strong>Concept approvals, mentoring, client discussions</p>
                                     <p><strong>Targets</strong>10 projects/month design delivery</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Accuracy of BOQ, client design approvals</p>
                                    <p><strong>Bonus</strong>5% bonus if zero design revisions on salary</p>
                                    <p><strong>Penalty</strong>Escalation to management if repeat errors</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                     <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole!== 'ADMIN' || adoanAiRole =='ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Design Executive</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Junior Designers & MMT</p>
                                    <p><strong>Description:</strong>
                                        Prepare drawings, 3D, and measurements
                                    </p>
                                    <p><strong>Key Tasks:</strong>2D, 3D, measurements, revisions</p>
                                     <p><strong>Targets</strong>Daily 1 drawing or 3D model output/p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Accuracy %, on-time submission</p>
                                    <p><strong>Bonus</strong>₹2000 bonus/month for 95% accuracy</p>
                                    <p><strong>Penalty</strong>Rework + deduction from incentives</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Execution Head</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Senior Manager / Operations Head</p>
                                    <p><strong>Description:</strong>
                                        Oversee execution, client updates, cost control
                                    </p>
                                    <p><strong>Key Tasks:</strong>2D, 3D, measurements, revisions</p>
                                     <p><strong>Targets</strong>Zero project delays beyond 10%</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>On-time delivery, cost adherence</p>
                                    <p><strong>Bonus</strong>5% bonus on profit margin achieved </p>
                                    <p><strong>Penalty</strong>Salary deduction for negligence causing losses</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole=== 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Execution Manager</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong> Project Manager</p>
                                    <p><strong>Description:</strong>
                                        Plan & monitor site work, resource allocation
                                    </p>
                                    <p><strong>Key Tasks:</strong>Daily site tracking, vendor coordination</p>
                                     <p><strong>Targets</strong>On-time milestone completion</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Timeline adherence, vendor response time</p>
                                    <p><strong>Bonus</strong>₹5000 bonus per project delivered on time</p>
                                    <p><strong>Penalty</strong>Penalty for client complaints</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Execution</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong>Project Executors</p>
                                    <p><strong>Description:</strong>
                                        Execute site tasks as per plan
                                    </p>
                                    <p><strong>Key Tasks:</strong>Site-level execution, vendor follow-up</p>
                                     <p><strong>Targets</strong>Complete daily targets as per PM</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Work completion %, attendance</p>
                                    <p><strong>Bonus</strong>₹1000 monthly bonus</p>
                                    <p><strong>Penalty</strong>Deduction for absenteeism</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                     <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole!== 'ADMIN' || adoanAiRole =='ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Execution</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong>Quality Inspector / Factory PM</p>
                                    <p><strong>Description:</strong>
                                        Check site/factory quality, report deviations
                                    </p>
                                    <p><strong>Key Tasks:</strong>Daily quality checks, factory visit</p>
                                     <p><strong>Targets</strong>95% defect-free delivery</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Defect %</p>
                                    <p><strong>Bonus</strong>Bonus ₹3000 if zero complaints</p>
                                    <p><strong>Penalty</strong>Penalty for >5% errors</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Planning & Accounts</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong>Project Planning Manager / Accounts</p>
                                    <p><strong>Description:</strong>
                                       Plan project timelines, billing, accounts reporting
                                    </p>
                                    <p><strong>Key Tasks:</strong>BOQ, billing, cost reports</p>
                                     <p><strong>Targets</strong>Weekly reports, 100% billing accuracy</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Billing accuracy %, timely reporting</p>
                                    <p><strong>Bonus</strong>Bonus 2% of saved costs</p>
                                    <p><strong>Penalty</strong>Deduction for financial mismatches</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Planning & Accounts Head</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong>Procurement Head</p>
                                    <p><strong>Description:</strong>
                                       Procure materials, vendor negotiations
                                    </p>
                                    <p><strong>Key Tasks:</strong>Vendor deals, stock management</p>
                                     <p><strong>Targets</strong>Material availability 100% before deadlines</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>Procurement time, vendor cost efficiency</p>
                                    <p><strong>Bonus</strong>Bonus on cost savings achieved</p>
                                    <p><strong>Penalty</strong>Deduction for delays impacting project</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary" *ngIf="adoanAiRole === 'ADMIN'">
                        <h2 ngbAccordionHeader id="customizedAccordionOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#customized-AccordionOne"
                                aria-expanded="true" aria-controls="customized-AccordionOne">
                                <strong>Planning & Accounts</strong>
                            </button>
                        </h2>
                        <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                            data-bs-parent="#customizedAccordion">
                            <div ngbAccordionBody>
                        
                                <div class="p-3 border rounded">
                                    <p><strong>Role:</strong>Vendor Coordinator</p>
                                    <p><strong>Description:</strong>
                                       Coordinate with vendors, follow up supplies
                                    </p>
                                    <p><strong>Key Tasks:</strong>Vendor calls, delivery status, updates</p>
                                     <p><strong>Targets</strong>Daily 100% vendor follow ups</p>
                                    <p><strong>KPIs (Key Performance Indicators):</strong>On-time vendor deliveries</p>
                                    <p><strong>Bonus</strong>₹1000 monthly bonus</p>
                                    <p><strong>Penalty</strong>Deduction if >2 missed updates</p>
                                   
                                </div>
                        
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </li>
</ul>
<ng-template #content2 let-offcanvas>
    <div class="offcanvas-header border-bottom border-block-end-dashed justify-content-between">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>User Info</strong></h5>
        <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card custom-card border">
            <div class="card-body">
                <div class="p-3 text-dark" id="pill-flex-home" role="tabpanel">
                    <ul class="list-unstyled">
                        <li class="mb-2"><span class="fw-semibold me-1">Name : </span>{{
                            userDetails.firstName?userDetails.firstName + ' ' +userDetails.lastName:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Email : </span>{{
                            userDetails.email?userDetails.email:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">No.of Users : </span>{{
                            userDetails.noOfUsers?userDetails.noOfUsers:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">City : </span>{{
                            userDetails.city?userDetails.city:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Country : </span>{{
                            userDetails.country?userDetails.country:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">DOB : </span>{{
                            userDetails.dob?userDetails.dob:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Phone : </span>{{
                            userDetails.phoneNumber?userDetails.phoneNumber:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Username : </span>{{
                            userDetails.username?userDetails.username:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Company Name : </span>{{
                            userDetails.companyName?userDetails.companyName:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Created Date : </span>{{
                            userDetails.createdDate? (userDetails.createdDate | date:'dd-MM-yy'):'' }}</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
        <div class="m-4 position-relative justify-content-end d-flex gap-3 ">
            <button class="btn btn-secondary" type="button" (click)="offcanvas.dismiss('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>


        