<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <h1 class="page-title fw-medium fs-18 mb-2">Profile</h1>
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-sm-flex flex-wrap align-items-top gap-5 p-2 border-bottom-0">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <div class="lh-1">
                                <span class="avatar avatar-xxl avatar-rounded online me-3 cu"
                                    (click)="profileUpdate(content12)">
                                    <img [src]="userData?.profilePic || switchService.profilePic || 'assets/images/brand-logos/profile1.jpg'"
                                        alt="Profile Picture" class="rounded-circle border border-2 border-dark">
                                </span>
                            </div>
                            <div class="flex-fill main-profile-info">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="fw-medium mb-1">{{ userData.username }}</h6>
                                </div>
                                <div class="d-flex align-items-center gap-5 mb-1">
                                    <h6 class="fs-12 m-1 badge bg-success"><i class="ri-user-line align-middle d-inline-block"></i>
                                        {{ userData.adonaiRole | titlecase  }}</h6>
                                    <h6 class="fs-12 m-1"><i class="ri-map-pin-line"></i> {{ userData.city }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-center mb-0" *ngIf="pjData && adonaiToolActivity">
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.totalProjects}}</p>
                                <p class="mb-0 fs-11 op-5">Total</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.completedProj}}</p>
                                <p class="mb-0 fs-11 op-5">Completed</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.pendingProj}}</p>
                                <p class="mb-0 fs-11 op-5">Pending</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{pjData.overdueProj}}</p>
                                <p class="mb-0 fs-11 op-5">Overdue</p>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-center mb-0" *ngIf="taskStats">
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.total}}</p>
                                <p class="mb-0 fs-11 op-5">AllTasks</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.inprogress}}</p>
                                <p class="mb-0 fs-11 op-5">InProgress</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.verify}}</p>
                                <p class="mb-0 fs-11 op-5">AttoVerify</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded stat-box">
                                <p class="fw-bold fs-20 text-shadow mb-0 text-center">{{taskStats.completed}}</p>
                                <p class="mb-0 fs-11 op-5">Completed</p>
                            </div>
                        </div>
                        <div class="pt-2">
                            <p class="fs-15 mb-3 me-4 fw-medium">Contact Information :</p>
                            <div class="text-muted">
                                <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-mail-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.email }}
                                </p>
                                <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-phone-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.phoneNumber }}
                                </p>
                                 <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-map-pin-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.city}}, {{userData.country}}
                                </p>
                            </div>
                        </div>
                        <div class="skills-section">
                        <p class="fs-15 mb-3 me-4 fw-medium">Tools Access:</p>
                        <div class="d-flex align-items-center gap-2 flex-wrap mb-4">
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">Adonai: {{ userData.adonai }}</span>
                            </a>
                            <a href="javascript:void(0);">
                                <span class="badge bg-light border text-muted fw-medium">CRM: {{ userData.adonai }}</span>
                            </a>
                        </div>
                    </div>
                        <div class="d-flex align-items-center gap-3 flex-wrap mb-2">
                            <h6 class="fw-medium mb-0">Follow :</h6>
                            <div class="btn-list mb-0">
                                <button class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light">
                                    <i class="ri-facebook-line fw-medium"></i>
                                </button>
                                <button
                                    class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                                    <i class="ri-twitter-x-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                                    <i class="ri-instagram-line fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                                    <i class="ri-linkedin-fill fw-medium"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                                    <i class="ri-youtube-line fw-medium"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8" *ngIf="adoanAiRole== 'ADMIN'">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body p-0">
                        <div
                            class="p-2 border-bottom border-block-end-dashed d-flex align-items-center justify-content-between">
                            <div>
                                <ul ngbNav #nav="ngbNav" [activeId]="1"
                                    class="nav nav-tabs mb-0 tab-style-6 justify-content-start" id="myTab"
                                    role="tablist">
                                    <li [ngbNavItem]="1" class="nav-item" role="presentation">
                                        <button ngbNavLink class="nav-link" id="activity-tab" data-bs-toggle="tab"
                                            data-bs-target="#activity-tab-pane" type="button" role="tab"
                                            aria-controls="activity-tab-pane" aria-selected="false"><i
                                                class="ri-user-line me-1 align-middle d-inline-block"></i>Team</button>
                                        <ng-template ngbNavContent>
                                            <div id="followers-tab-pane" role="tabpanel" aria-labelledby="followers-tab"
                                                tabindex="0">
                                                <div class="row">
                                                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let contact of filterUserData()">
                                                        <div class="card custom-card shadow-none border">
                                                            <div class="card-body p-4">
                                                                <div class="text-center">
                                                                    <div class="avatar avatar-xl avatar-rounded mb-2" [ngClass]="getUserColor(contact)">
                                                                        {{ contact.email?.charAt(0) | uppercase }}
                                                                    </div>
                                                                    <div class="mt-2">
                                                                        <p class="mb-0 fw-medium">Name: {{ contact.firstName }} {{ contact.lastName | slice:0:8}}</p>
                                                                        <p class="fs-12 op-7 mb-1 text-muted">
                                                                            Email: {{ contact.email?.length > 16 ? (contact.email | slice:0:16) + '...' : contact.email }}
                                                                        </p>
                                                                        <span class="badge" [ngClass]="getUserBgColor(contact)">
                                                                            Number: {{ contact.phoneNumber }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <div class="btn-list">
                                                                    <button type="button" class="btn btn-sm btn-outline-light border" data-bs-toggle="tooltip" placement="top"
                                                                        ngbTooltip="Adonai: {{ contact.adonai }} Crm: {{ contact.crm }}">
                                                                        View Tools
                                                                    </button>
                                                                    <button aria-label="button" class="btn btn-sm btn-icon btn-outline-light border" type="button"
                                                                        (click)="openRight(content2);ViewUserDetails(contact)" data-bs-target="#offcanvasRight"
                                                                        aria-controls="offcanvasRight">
                                                                        <i class="fe fe-eye text-muted"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-xl-12">
                                                        <div class="text-center mt-4">
                                                            <button class="btn btn-primary-light btn-wave">Show
                                                                All</button>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <!-- <li [ngbNavItem]="2" class="nav-item" role="presentation">
                                        <button ngbNavLink class="nav-link" id="activity-tab" data-bs-toggle="tab"
                                            data-bs-target="#activity-tab-pane" type="button" role="tab"
                                            aria-controls="activity-tab-pane" aria-selected="false"><i
                                                class="ri-user-line me-1 align-middle d-inline-block"></i>Banner</button>
                                        <ng-template ngbNavContent>
                                            <div class="card border-0 shadow-sm rounded-4 overflow-hidden nft-banner position-relative">
                                                <img src="./assets/images/media/23.png" class="card-img rounded-4" alt="NFT Banner">
                                                <div class="card-img-overlay d-flex align-items-center justify-content-center text-center">
                                                    <div class="content">
                                                        <h1 class="fw-bold text-gradient mb-4 display-6">
                                                            “An apple a day <br> keeps the doctor away.” 🍎  
                                                        </h1>
                                                        <div class="d-flex justify-content-center gap-3 flex-wrap">
                                                            <button class="btn btn-light rounded-pill px-4 py-2 fw-semibold shadow-sm">
                                                                <i class="bi bi-lightning-charge-fill me-2"></i> Discover Now
                                                            </button>
                                                            <button class="btn btn-light rounded-pill px-4 py-2 fw-semibold shadow-sm">
                                                                <i class="bi bi-lightning-charge-fill me-2"></i> Create
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li> -->
                                </ul>
                            </div>
                            <div>
                                <p class="fw-medium mb-2">Complete Profile - <a href="javascript:void(0);"
                                        class="text-primary fs-12" (click)="profileUpdate(content12)">Finish now</a></p>
                                <div class="progress progress-xs progress-animate">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3">
                            <div class="tab-content" id="myTabContent">
                                <div [ngbNavOutlet]="nav" class="mt-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div 
  [ngClass]="{
    'col-xl-8': crmRole === 'USER' || adoanAiRole === 'USER',
    'col-xl-12': crmRole === 'ADMIN' || adoanAiRole === 'ADMIN'
  }">
    <div class="card custom-card">
        <div class="card-header justify-content-between border-bottom-0">
            <div class="card-title">
                Roles and Responsibilities
            </div>
            <!-- <div class="d-flex flex-wrap gap-3">
                <button class="btn btn-primary" (click)="toggleTopShowMore()">
                    {{ topshowMore ? 'Show Less' : 'Show More' }}
                </button>
            </div> -->
        </div>
    </div>
    <ul class="list-group list-group-flush mb-3" [ngClass]="{
        'col-xl-12': crmRole === 'USER' || adoanAiRole === 'USER',
        
      }" style="max-height: 80vh;">
        <li class="list-group-item">
            <div class="d-flex align-items-center">
                <div class="flex-fill">
                    <div ngbAccordion class=" customized-accordion accordions-items-seperate accordion-wrapper"
                        id="customizedAccordion">
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Admin</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong>HR/Admin</p>
                                        <p><strong>Description:</strong>
                                            Handle HR & office admin tasks
                                        </p>
                                        <p><strong>Key Tasks:</strong>Hiring, payroll, attendance, admin support</p>
                                        <p><strong>Targets</strong>Close all open positions in 45 days</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Hiring TAT, employee retention
                                            rate</p>
                                        <p><strong>Bonus</strong>Bonus for 30 day hiring closure</p>
                                        <p><strong>Penalty</strong>Penalty for compliance lapses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary ">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Marketing Head</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Digital Marketer & Marketing Manager</p>
                                        <p><strong>Description:</strong>
                                            Develop and execute digital campaigns, manage brand presence
                                        </p>
                                        <p><strong>Key Tasks:</strong>SEO, Ads, Social Media, Lead generation</p>
                                        <p><strong>Targets</strong>20% monthly lead growth</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Leads generated, conversion %,
                                            campaign ROI</p>
                                        <p><strong>Bonus</strong>5% of monthly salary as bonus</p>
                                        <p><strong>Penalty</strong>Warning + 10% salary deduction on repeated failure</p>
    
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionTwo">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="false"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Marketing Executive</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Content Creator, CRM & Feedback Coordinator</p>
                                        <p><strong>Description:</strong>
                                            Create content, handle CRM follow-ups, manage client feedback
                                        </p>
                                        <p><strong>Key Tasks:</strong>Posts, blogs, reels, CRM updates, feedback calls</p>
                                        <p><strong>Targets</strong>Weekly 5 content posts, 100% CRM data updated</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Engagement rate, timely CRM
                                            updates, feedback scores</p>
                                        <p><strong>Bonus</strong>2% of salary as bonus</p>
                                        <p><strong>Penalty</strong>Written warning + loss of bonus</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Sales Head</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Business Development Manager / Head</p>
                                        <p><strong>Description:</strong>
                                            Lead sales, manage pipeline, close deals
                                        </p>
                                        <p><strong>Key Tasks:</strong>Client meetings, proposals, conversions</p>
                                        <p><strong>Targets</strong>Close min. 3 projects/month worth 30L+</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Conversion ratio, revenue
                                            target, client onboarding</p>
                                        <p><strong>Bonus</strong>Incentive 1% of closed revenue</p>
                                        <p><strong>Penalty</strong>Placed under PIP if 50% target</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Sales Executive</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> BDE</p>
                                        <p><strong>Description:</strong>
                                            Identify prospects, support BDM, follow up on leads
                                        </p>
                                        <p><strong>Key Tasks:</strong>Cold calls, follow ups, client meetings</p>
                                        <p><strong>Targets</strong>50 calls/day, 5 meetings/week</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Lead conversion %, follow up
                                            completion</p>
                                        <p><strong>Bonus</strong>₹1000 incentive per deal closed</p>
                                        <p><strong>Penalty</strong>Bonus removed if 30% KPI score</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Design Head</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Design Head</p>
                                        <p><strong>Description:</strong>
                                            Lead design team, approve concepts, manage quality
                                        </p>
                                        <p><strong>Key Tasks:</strong>Concept approvals, mentoring, client discussions</p>
                                        <p><strong>Targets</strong>10 projects/month design delivery</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Accuracy of BOQ, client design
                                            approvals</p>
                                        <p><strong>Bonus</strong>5% bonus if zero design revisions on salary</p>
                                        <p><strong>Penalty</strong>Escalation to management if repeat errors</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Design Executive</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Junior Designers & MMT</p>
                                        <p><strong>Description:</strong>
                                            Prepare drawings, 3D, and measurements
                                        </p>
                                        <p><strong>Key Tasks:</strong>2D, 3D, measurements, revisions</p>
                                        <p><strong>Targets</strong>Daily 1 drawing or 3D model output/p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Accuracy %, on-time submission
                                        </p>
                                        <p><strong>Bonus</strong>₹2000 bonus/month for 95% accuracy</p>
                                        <p><strong>Penalty</strong>Rework + deduction from incentives</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Execution Head</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Senior Manager / Operations Head</p>
                                        <p><strong>Description:</strong>
                                            Oversee execution, client updates, cost control
                                        </p>
                                        <p><strong>Key Tasks:</strong>2D, 3D, measurements, revisions</p>
                                        <p><strong>Targets</strong>Zero project delays beyond 10%</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>On-time delivery, cost
                                            adherence</p>
                                        <p><strong>Bonus</strong>5% bonus on profit margin achieved </p>
                                        <p><strong>Penalty</strong>Salary deduction for negligence causing losses</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Execution Manager</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong> Project Manager</p>
                                        <p><strong>Description:</strong>
                                            Plan & monitor site work, resource allocation
                                        </p>
                                        <p><strong>Key Tasks:</strong>Daily site tracking, vendor coordination</p>
                                        <p><strong>Targets</strong>On-time milestone completion</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Timeline adherence, vendor
                                            response time</p>
                                        <p><strong>Bonus</strong>₹5000 bonus per project delivered on time</p>
                                        <p><strong>Penalty</strong>Penalty for client complaints</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Execution</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong>Project Executors</p>
                                        <p><strong>Description:</strong>
                                            Execute site tasks as per plan
                                        </p>
                                        <p><strong>Key Tasks:</strong>Site-level execution, vendor follow-up</p>
                                        <p><strong>Targets</strong>Complete daily targets as per PM</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Work completion %, attendance
                                        </p>
                                        <p><strong>Bonus</strong>₹1000 monthly bonus</p>
                                        <p><strong>Penalty</strong>Deduction for absenteeism</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Execution</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong>Quality Inspector / Factory PM</p>
                                        <p><strong>Description:</strong>
                                            Check site/factory quality, report deviations
                                        </p>
                                        <p><strong>Key Tasks:</strong>Daily quality checks, factory visit</p>
                                        <p><strong>Targets</strong>95% defect-free delivery</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Defect %</p>
                                        <p><strong>Bonus</strong>Bonus ₹3000 if zero complaints</p>
                                        <p><strong>Penalty</strong>Penalty for >5% errors</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Planning & Accounts</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong>Project Planning Manager / Accounts</p>
                                        <p><strong>Description:</strong>
                                            Plan project timelines, billing, accounts reporting
                                        </p>
                                        <p><strong>Key Tasks:</strong>BOQ, billing, cost reports</p>
                                        <p><strong>Targets</strong>Weekly reports, 100% billing accuracy</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Billing accuracy %, timely
                                            reporting</p>
                                        <p><strong>Bonus</strong>Bonus 2% of saved costs</p>
                                        <p><strong>Penalty</strong>Deduction for financial mismatches</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Planning & Accounts Head</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong>Procurement Head</p>
                                        <p><strong>Description:</strong>
                                            Procure materials, vendor negotiations
                                        </p>
                                        <p><strong>Key Tasks:</strong>Vendor deals, stock management</p>
                                        <p><strong>Targets</strong>Material availability 100% before deadlines</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>Procurement time, vendor cost
                                            efficiency</p>
                                        <p><strong>Bonus</strong>Bonus on cost savings achieved</p>
                                        <p><strong>Penalty</strong>Deduction for delays impacting project</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true" class="custom-accordion-primary">
                            <h2 ngbAccordionHeader id="customizedAccordionOne">
                                <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                    data-bs-target="#customized-AccordionOne" aria-expanded="true"
                                    aria-controls="customized-AccordionOne">
                                    <strong>Planning & Accounts</strong>
                                </button>
                            </h2>
                            <div id="customized-AccordionOne" ngbAccordionCollapse aria-labelledby="customizedAccordionOne"
                                data-bs-parent="#customizedAccordion">
                                <div ngbAccordionBody>
    
                                    <div class="p-3 border rounded">
                                        <p><strong>Role:</strong>Vendor Coordinator</p>
                                        <p><strong>Description:</strong>
                                            Coordinate with vendors, follow up supplies
                                        </p>
                                        <p><strong>Key Tasks:</strong>Vendor calls, delivery status, updates</p>
                                        <p><strong>Targets</strong>Daily 100% vendor follow ups</p>
                                        <p><strong>KPIs (Key Performance Indicators):</strong>On-time vendor deliveries</p>
                                        <p><strong>Bonus</strong>₹1000 monthly bonus</p>
                                        <p><strong>Penalty</strong>Deduction if >2 missed updates</p>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<ng-template #content2 let-offcanvas>
    <div class="offcanvas-header border-bottom border-block-end-dashed justify-content-between">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>User Info</strong></h5>
        <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card custom-card border">
            <div class="card-body">
                <div class="p-3 text-dark" id="pill-flex-home" role="tabpanel">
                    <ul class="list-unstyled">
                        <li class="mb-2"><span class="fw-semibold me-1">Name : </span>{{
                            userDetails.firstName?userDetails.firstName + ' ' +userDetails.lastName:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Email : </span>{{
                            userDetails.email?userDetails.email:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">City : </span>{{
                            userDetails.city?userDetails.city:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Country : </span>{{
                            userDetails.country?userDetails.country:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">DOB : </span>{{
                            userDetails.dob?userDetails.dob:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Phone : </span>{{
                            userDetails.phoneNumber?userDetails.phoneNumber:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Username : </span>{{
                            userDetails.username?userDetails.username:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Company Name : </span>{{
                            userDetails.companyName?userDetails.companyName:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Adonai : </span>{{
                            userDetails.adonai?userDetails.adonai:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">CRM : </span>{{
                            userDetails.crm?userDetails.crm:'' }}</li>
                        <li class="mb-2"><span class="fw-semibold me-1">Created Date : </span>{{
                            userDetails.createdDate? (userDetails.createdDate | date:'dd-MM-yy'):'' }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 mt-3">
        <div class="m-4 position-relative justify-content-end d-flex gap-3 ">
            <button class="btn btn-danger" type="button" (click)="offcanvas.dismiss('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #content12 let-modal>
    <form [formGroup]="profilePicForm" (ngSubmit)="updateProfile(modal)">
        <div class="modal-header">
            <h5 class="modal-title"><strong>Update Profile</strong></h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">Upload Profile Picture</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>