<div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <h1 class="page-title fw-medium fs-18 mb-2">Profile</h1>
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-body">
                <div class="d-sm-flex flex-wrap align-items-top gap-5 p-2 border-bottom-0">
                    <div>
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <div class="lh-1">
                                <span class="avatar avatar-xxl avatar-rounded online me-3">
                                    <img src="assets/images/brand-logos/profile1.jpg" alt="">
                                </span>
                            </div>
                            <div class="flex-fill main-profile-info">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="fw-medium mb-1">{{ userData.username }}</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="fs-12 m-1"><i class="ri-calendar-line"></i> {{ userData.dob }}</h6>
                                    <h6 class="fs-12 m-1"><i class="ri-map-pin-line"></i> {{ userData.city }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-center mb-0">
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded">
                                <p class="fw-bold fs-20 text-shadow mb-0">113</p>
                                <p class="mb-0 fs-11 op-5">Projects</p>
                            </div>
                            <div class="me-sm-3 mb-2 border p-3 border-dashed rounded">
                                <p class="fw-bold fs-20 text-shadow mb-0">12.2k</p>
                                <p class="mb-0 fs-11 op-5">Followers</p>
                            </div>
                            <div class="me-0 me-sm-3 mb-2 border p-3 border-dashed rounded">
                                <p class="fw-bold fs-20 text-shadow mb-0">128</p>
                                <p class="mb-0 fs-11 op-5">Following</p>
                            </div>
                        </div>
                        <div class="pt-2">
                            <div class="text-muted">
                                <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-mail-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.email }}
                                </p>
                                <p class="mb-4">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light border text-muted">
                                        <i class="ri-phone-line align-middle fs-14"></i>
                                    </span>
                                    {{ userData.phoneNumber }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card custom-card">
            <div class="card-body p-0">
                <div
                    class="p-3 border-bottom border-block-end-dashed d-flex align-items-center justify-content-between">
                    <div>
                        <ul ngbNav #nav="ngbNav" [activeId]="1"
                            class="nav nav-tabs mb-0 tab-style-6 justify-content-start" id="myTab"
                            role="tablist">
                            <li [ngbNavItem]="1" class="nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="activity-tab" data-bs-toggle="tab"
                                    data-bs-target="#activity-tab-pane" type="button" role="tab"
                                    aria-controls="activity-tab-pane" aria-selected="false"><i
                                        class="ri-gift-line me-1 align-middle d-inline-block"></i>Personal Info</button>
                                <ng-template ngbNavContent>
                                    <div class="row gy-3">
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="firstName" class="form-label">First Name</label>
                                            <input type="text" class="form-control" placeholder="firstName" value="{{ userData.firstName }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="lastName" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" placeholder="lastName" value="{{ userData.lastName }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="dob" class="form-label">Dob</label>
                                            <input type="email" class="form-control" placeholder="dob" value="{{ userData.dob}}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="Email" class="form-label">Email</label>
                                            <input type="email" class="form-control" placeholder="email" value="{{ userData.email }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="Country" class="form-label">Country</label>
                                            <input type="text" class="form-control"  placeholder="Country" value="{{ userData.country }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="phoneNumber" class="form-label">Phone Number</label>
                                            <input type="text" class="form-control"  placeholder="phoneNumber" value="{{ userData.phoneNumber }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="username" class="form-label">username</label>
                                            <input type="text" class="form-control" placeholder="username" value="{{ userData.username }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="city" class="form-label">City</label>
                                            <input type="text" class="form-control" placeholder="city" value="{{ userData.city }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="companyName" class="form-label">companyName</label>
                                            <input type="text" class="form-control"  placeholder="companyName" value="{{ userData.companyName }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="createdDate" class="form-label">createdDate</label>
                                            <input type="tel" class="form-control" placeholder="createdDate" value="{{ userData.createdDate | date:'dd/MM/yyyy' }}" disabled="true">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="adonaiRole" class="form-label">Role</label>
                                            <input type="tel" class="form-control" placeholder="adonaiRole" value="{{ userData.adonaiRole }}" disabled="true">
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <!-- <li [ngbNavItem]="2" class="nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="posts-tab" data-bs-toggle="tab"
                                    data-bs-target="#posts-tab-pane" type="button" role="tab"
                                    aria-controls="posts-tab-pane" aria-selected="false"><i
                                        class="ri-bill-line me-1 align-middle d-inline-block"></i>Password Reset</button>
                                <ng-template ngbNavContent>
                                    <div class="row gy-3">
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <label for="contact-name" class="form-label">Old Password</label>
                                            <input type="text" class="form-control" id="contact-name" placeholder="Name">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <label for="contact-mail" class="form-label">New Password</label>
                                            <input type="email" class="form-control" id="contact-mail" placeholder="companyName">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Confirm password</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3" class="nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="followers-tab" data-bs-toggle="tab"
                                    data-bs-target="#followers-tab-pane" type="button" role="tab"
                                    aria-controls="followers-tab-pane" aria-selected="true"><i
                                        class="ri-money-dollar-box-line me-1 align-middle d-inline-block"></i>Social media</button>
                                <ng-template ngbNavContent>
                                    <div class="row gy-3">
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="contact-name" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="contact-name" placeholder="Name">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="contact-mail" class="form-label">Company Name</label>
                                            <input type="email" class="form-control" id="contact-mail" placeholder="companyName">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Products</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Zip Code</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="date" class="form-label">Follow up date</label>
                                            <input type="date" class="form-control" id="contact-phone" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">State</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">City</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="company-name" class="form-label">Address</label>
                                            <input type="text" class="form-control" id="company-name" placeholder="">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="contact-phone" class="form-label">contact</label>
                                            <input type="tel" class="form-control" id="contact-phone" placeholder="Enter contact">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3">
                                            <label for="email" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="contact-phone" placeholder="Enter email">
                                        </div>
                                    </div>
                                </ng-template>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="p-3">
                    <div class="tab-content" id="myTabContent">
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




        