.filters-field-1 {
    margin-top: -5px !important;
    margin-bottom: -45px !important;
    width: 49%; 
    max-height: 72px !important;
    margin-left: 9% !important;
}

.overflowImportant {
    max-height: 70vh; 
    overflow-y: auto !important; 
    overflow-x: hidden; 
    padding: 15px; 
  }