<div class="card custom-card">
    <div class="card-header justify-content-between d-flex">
        <div class="card-title">
            Process Panel Data
        </div>
        <div class="d-flex flex-wrap gap-2">
            <mat-form-field class="filters-field-1">
                <mat-label>Search Here</mat-label>
                <input matInput (keyup)="processPanelApplyFilter($event)" #input>
            </mat-form-field>
            <button type="button" class="btn btn-primary" (click)="openLg16(content30)">
                <i class="ri-add-line align-middle me-1 fw-medium"></i>Add</button>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="mat-elevation-z8">
            <div class="table-responsive">
                <table mat-table [dataSource]="processPanelDataSource" class="mat-table">
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="panel">
                        <th mat-header-cell *matHeaderCellDef> Panel </th>
                        <td mat-cell *matCellDef="let element"> {{element.panel}} </td>
                    </ng-container>
                    <ng-container matColumnDef="skin1">
                        <th mat-header-cell *matHeaderCellDef> Skin1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.skin1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="skin2">
                        <th mat-header-cell *matHeaderCellDef> Skin2 </th>
                        <td mat-cell *matCellDef="let element"> {{element.skin2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.isActive)">
                                {{ getStatusText(element.isActive) }}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> edit </th>
                        <td mat-cell *matCellDef="let element"> <a aria-label="anchor"
                                href="javascript:void(0);"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-primary-light rounded-circle"><i
                                    class="ri-edit-line" (click)="onEditProcessPanel(element, content30)"></i></a> </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> delete </th>
                        <td mat-cell *matCellDef="let element"> <a aria-label="anchor"
                                href="javascript:void(0);" (click)="deleteProcessPanel(element)"
                                class="btn btn-icon btn-wave waves-effect waves-light btn-sm btn-danger-light rounded-circle ms-1">
                                <i class="ri-delete-bin-line"></i></a> </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="processPanelDisplayedColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: processPanelDisplayedColumn">
                    </tr>
                </table>
            </div>
            <mat-paginator #processPanelPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #content30 let-modal>
    <form [formGroup]="processPanelForm" (ngSubmit)="onProcessPanelSubmit(modal)">
        <div class="modal-header justify-content-center">
            <h6 class="modal-title" id="staticBackdropLabel3">Add Process Panel</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body overflowImportant">
            <div class="col-xl-12">
                <div class="row gy-2">
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Code</label>
                        <input type="text" class="form-control" formControlName="code" placeholder="Enter Code No">
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Panel</label>
                        <ng-select formControlName="panel" [items]="panelItems" bindLabel="name" bindValue="panelId"
                            placeholder="Select Panel">
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Skin1</label>
                        <ng-select formControlName="skin1" [items]="skinItems" bindLabel="name" bindValue="skinId"
                            placeholder="Select Skin1">
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Skin2</label>
                        <ng-select formControlName="skin2" [items]="skinItems" bindLabel="name" bindValue="skinId"
                            placeholder="Select Skin2">
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Notes</label>
                        <input type="text" class="form-control" formControlName="notes" placeholder="Enter Notes">
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Price Per sft</label>
                        <input type="text" class="form-control" formControlName="pricePerFt"
                            placeholder="Enter Price Per Sft">
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">GST</label>
                        <input type="text" class="form-control" formControlName="gst" placeholder="Enter GST">
                    </div>
                    <div class="col-xl-6">
                        <label for="projectAddress" class="form-label">Final Amount</label>
                        <input type="text" class="form-control" formControlName="finalAmount"
                            placeholder="Enter Final Amount">
                    </div>

                    <div class="row pt-2">
                        <div class="col-xl-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkebox-sm"
                                    formControlName="isActive">
                                <label class="form-check-label" for="checkebox-sm">
                                    Is Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> Submit</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</ng-template>