.dropdown {
    width: 300px;
}
::ng-deep .offcanvas {
  max-width: 40% !important;
}

.scrollable-content {
  max-height: 300px; /* You can set a height limit here */
  overflow-y: auto; /* Enables scrolling for content inside */
}
.demo.position-relative.d-flex.gap-2 {
  margin-top: 200px;
}

table {
  width: 100%;
}
th.mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  background-color: #006699 !important;
  z-index: 2 !important;
  color: #ffffff !important;
}
.mat-mdc-header-row {
  background: #006699;
}
.mat-elevation-z8 {
  max-height: 400px; /* Adjust as necessary */
  overflow: auto;
}

.scrollable-content{
  max-height: 400px;
  overflow: hidden; 
}

.action-option:hover{
  background-color: #10007626 !important;
  line-height: 1.375;
  width: calc(100% - 1rem);
  margin: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  min-width: 10rem;
}
.dropdown-toggle::after {
  display: none !important;
}
.bt-icon {
  align-items: center;
  justify-content: center;
  padding-left: 2px;
}
.overflowSendMailForm{
  overflow: auto;
}