<div class="col-xl-12 pt-3">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title col-md-2 col-xl-6 col-xxl-6 col-lg-6 col-sm-3">Leads </div>
            <div class="text-center">
                <button class="btn btn-primary waves-effect waves-light" > 
                    Pending Follow-Ups
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-12">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title col-md-2 col-xl-6 col-xxl-6 col-lg-6 col-sm-3">15 records found</div>
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary btn-wave" data-bs-toggle="offcanvas"
                    (click)="openRight1(content1)" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filter</button>
                    <button type="button" class="btn btn-outline-primary btn-wave" data-bs-toggle="offcanvas"
                    (click)="openRight(content)" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Bulk Upload</button>
                    <button type="button" class="btn btn-outline-primary btn-wave" data-bs-toggle="modal"
                    data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content12);">Add New</button>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="mat-elevation-z8">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="slNo">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i = index"> {{getSNo(i)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> phone </th>
                            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                        </ng-container>      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>             
    </div>
</div>

<ng-template #Content12 let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLgLabel"><b>Create Lead</b></h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <form [formGroup]="leadForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-body">

        <div class="row gy-3 scrollable-content">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">                
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <span *ngIf="f['name'].errors['required']">Name is required.</span>
                        <span *ngIf="f['name'].errors['minlength']">Name must be at least 3 characters long.</span>
                    </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="contact-mail" class="form-label">Company Name</label>
                <input type="email" class="form-control" id="contact-mail" placeholder="companyName" formControlName="companyName">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <label for="contact-phone" class="form-label">Executive</label>
                <input type="tel" class="form-control" id="contact-phone" placeholder="" formControlName="executive">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="company-name" class="form-label">Products</label>
                <input type="text" class="form-control" id="company-name" placeholder="" formControlName="products">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="company-name" class="form-label">Country</label>
                <select class="form-select form-select-lg " 
                    id="country1" formControlName="country" [(ngModel)]="selectedCountry" 
                    (change)="onCountryChange($any($event.target).value)"
                    [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
                    <option value="" disabled selected>Select Country</option>
                    <option *ngFor="let c of countryLst" [value]="c.country">
                        {{ c.country }}
                    </option>
                </select>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label class="form-label"> Stage</label>
                <select class="form-select form-select-lg" id="stage" formControlName="stage" [ngClass]="{ 'is-invalid': submitted && f['stage'].errors }">
                    <option value="" disabled selected>Select Stage</option>
                    <option *ngFor="let c of stageList" [value]="c.name">
                        {{ c.name }}
                    </option>
                </select>   
                <div *ngIf="submitted && f['stage'].errors" class="invalid-feedback">
                    <div *ngIf="f['stage'].errors['required']">Stage is required</div>
                </div>             
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label class="form-label"> Status</label>
                <select class="form-select form-select-lg " 
                    id="status" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f['status'].errors }">
                    <option value="" disabled selected>Select Status</option>
                    <option *ngFor="let c of leadStatus" [value]="c.name">
                        {{ c.name }}
                    </option>
                </select> 
                <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                    <div *ngIf="f['status'].errors['required']">Status is required</div>
                </div> 
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label class="form-label">Lead Source</label>
                <select class="form-select form-select-lg " 
                    id="status" formControlName="leadSource">
                    <option value="" disabled selected>Select Lead Source</option>
                    <option *ngFor="let c of leadSource" [value]="c.name">
                        {{ c.name }}
                    </option>
                </select>                 
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="zipCode" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="zipCode" placeholder="" formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && f['zipCode'].errors }">
                <div *ngIf="submitted && f['zipCode'].errors" class="invalid-feedback">
                    <span *ngIf="f['zipCode'].errors['required']">Zip Code is required.</span>
                    <span *ngIf="f['zipCode'].errors['minlength']">Zip Code must be at least 6 characters long.</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="followUpDate" class="form-label">Follow up date</label>
                <input type="date" class="form-control" id="followUpDate" placeholder="" formControlName="followUpDate">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" placeholder="" formControlName="state">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="company-name" class="form-label">City</label>
                <select class="form-select form-select-lg " 
                    id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
                    <option value="" disabled selected>Select City</option>
                    <option *ngFor="let c of cityList" [value]="c.city">
                        {{ c.city }}
                    </option>
                </select> 
                <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                    <div *ngIf="f['city'].errors['required']">City is required</div>
                </div> 
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }">
                <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                    <span *ngIf="f['address'].errors['required']">Address is required.</span>                    
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="contact" class="form-label">Contact</label>
                <input type="text" class="form-control" id="contact" placeholder="" formControlName="contact" [ngClass]="{ 'is-invalid': submitted && f['contact'].errors }">
                <div *ngIf="submitted && f['contact'].errors" class="invalid-feedback">
                    <span *ngIf="f['contact'].errors['required']">Contact is required.</span>                    
                </div>
            </div>            
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" class="form-control form-control-lg  " id="email" 
                                        placeholder="Enter your email" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || 
                                        (event.charCode >= 64 && event.charCode <= 90) || (event.charCode >= 97 && 
                                        event.charCode <= 122) || event.charCode == 8 || event.charCode == 46 || event.charCode == 95)'
                                        formControlName="email"  
                                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" >
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <span *ngIf="f['email'].errors['required']">Email is required.</span>
                    <span *ngIf="f['email'].errors['email']">Invalid email address.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">save lead</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')"
            data-bs-dismiss="modal">cancel</button>
    </div>
</form>
</ng-template>

<ng-template #content let-offcanvas>
    <div class="offcanvas-header border-bottom border-block-end-dashed">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>Upload Leads</strong></h5>
        <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div>
            <ul class="list-group list-group-flush mb-0">
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="flex-fill">
                            <button type="button" class="btn btn-info-gradient btn-wave mb-2 d-grid w-100">Download Demo Format</button>
                            <p>Kindly download the Leads Format and fill your bulk Leads in the proper format and then upload it for proper importing of the data.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ng-template>

<ng-template #content1 let-offcanvas>
    <div class="offcanvas-header border-bottom border-block-end-dashed">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><strong>Filter Leads</strong></h5>
        <button (click)="offcanvas.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div>
            <ul class="list-group list-group-flush mb-0">
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="flex-fill">
                            <button type="button" class="btn btn-info-gradient btn-wave mb-2 d-grid w-100">Download Demo Format</button>
                            <p>Kindly download the Leads Format and fill your bulk Leads in the proper format and then upload it for proper importing of the data.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ng-template>