.dropdown {
    width: 300px;
}
::ng-deep .offcanvas {
  max-width: 40% !important;
}

.scrollable-content {
  max-height: 300px; /* You can set a height limit here */
  overflow-y: auto; /* Enables scrolling for content inside */
}
.demo{
  width: 30%;
  margin: 4px;
}