.cu{
    cursor: pointer;
}
.lt{
    width: 20px;
    height: 20px;
    border-radius: 25%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.kt{
    cursor: pointer;
}
.fixed-height-card {
  height: 450px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
}

.card-scroll {
  overflow-y: auto;
  flex-grow: 1;
}
