<div class="col-xl-12 pt-3">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title col-md-2 col-xl-6 col-xxl-6 col-lg-6 col-sm-3">All Campaigns</div>
            <div class="d-flex gap-2">
                <button type="button" class="btn btn-primary btn-wave" data-bs-toggle="offcanvas"
                        (click)="open(content7)" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight">Create Campaign</button>
                <button class="btn btn-primary" >
                    Show More
                </button>
            </div>
        </div>
    </div>
    <div class="col-xxl-12" *ngIf="campaignList.length > 0">
        <div class="row">
            <div class="col-xxl-3 col-lg-3 col-md-3 col-xl-3 col-sm-6" *ngFor="let campaign of campaignList">
                <div class="card custom-card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <!-- <div class="align-items-center">
                            <span class="avatar avatar-rounded p-1 bg-light">
                                <img src="./assets/images/brand-logos/profile1.jpg" alt="">
                            </span>
                        </div> -->
                        <div class="flex-fill">
                            <a href="javascript:void(0);" class="fs-14 d-block text-truncate project-list-title">
                                Campaign: {{ campaign.campaignName }}</a>
                            <span class="text-muted d-block fs-12">Managing Person: {{ campaign.campaignPoc }}</span>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                              <div class="d-flex align-items-center flex-wrap avatar-list-stacked">
                                <ng-container *ngFor="let agent of campaign.agents.split(',')">
                                  <span
                                    class="avatar avatar-sm avatar-rounded me-1 mb-1 text-white fw-bold d-flex align-items-center justify-content-center cu"
                                    [ngClass]="getAgentColor(agent)" tabindex="0" role="button" data-bs-toggle="popover" triggers="focus"
                                    placement="right" popoverTitle="Campaign User" [ngbPopover]="agent.trim()">
                                    {{ agent.trim().charAt(0) | uppercase }}
                                  </span>
                                </ng-container>
                              </div>
                              <div class="mb-1">
                                Priority:
                                <span class="badge" [ngClass]="{
                                                                'bg-danger-transparent': campaign.campaignPriority === 'High',
                                                                'bg-warning-transparent': campaign.campaignPriority === 'Medium',
                                                                'bg-success-transparent': campaign.campaignPriority === 'Low'
                                                              }">{{ campaign.campaignPriority }}</span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-1">Total Leads : <span class="badge bg-info-transparent">900 +</span></div>
                        <div>
                            <div></div>
                            <div class="progress progress-xs progress-animate" role="progressbar" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-primary" style="width: 80%"></div>
                            </div>
                            <div class="mt-1"><span class="text-primary fw-medium">80%</span> Completed</div>
                        </div>
                        <div class="mb-1 pt-3">Total In Progress : <span class="badge bg-success-transparent">140 +</span></div>
                        <div>
                            <div></div>
                            <div class="progress progress-xs progress-animate" role="progressbar" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 80%"></div>
                            </div>
                            <div class="mt-1"><span class="text-danger fw-medium">20%</span> Completed</div>
                        </div>
                        <div class="mb-1 pt-3">Total Closed : <span class="badge bg-danger-transparent">10 +</span></div>
                        <div>
                            <div></div>
                            <div class="progress progress-xs progress-animate" role="progressbar" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-danger" style="width: 80%"></div>
                            </div>
                            <div class="mt-1"><span class="text-primary fw-medium">10%</span> Completed</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <button class="btn btn-sm btn-primary btn-wave ms-3" (click)="viewCampaignLeads(campaign)">
                        <i class="ri-eye-line me-2"></i> View
                      </button>               
                      <button class="btn btn-sm btn-primary btn-wave me-3">
                        <i class="ri-delete-bin-line me-2"></i> Delete
                      </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content7 let-c="close" let-d="dismiss">
  <form [formGroup]="campaignForm" (ngSubmit)="submitCampaign(modal)">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Create New Campaign</h6>
        <button type="button" class="btn-close" (click)="d('Cross click')" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body px-4">

        <div class="row gy-3">
          <div class="col-xl-6">
            <label for="deal-name" class="form-label">Campaign Name</label>
            <input type="text" class="form-control" id="deal-name" placeholder="Campaign Name"
              formControlName="campaignName">
          </div>
          <div class="col-xl-6">
            <label for="deal-name" class="form-label">Pipeline</label>
            <ng-select formControlName="pipeline" [items]="pipeLine" bindLabel="name" bindValue="name"
              placeholder="Select an option">
            </ng-select>
          </div>
          <div class="col-xl-12">
            <label for="deal-name" class="form-label">Who will manage this Campaign</label>
            <ng-select formControlName="campaignPoc" [items]="userList" bindLabel="email" bindValue="email"
              placeholder="Select an Manager">
            </ng-select>
          </div>
          <div class="col-xl-12">
            <label for="deal-name" class="form-label">Select Agents</label>
            <ng-select formControlName="agents" [items]="userList" bindLabel="email" bindValue="email"
              placeholder="Select an agents" [multiple]="true">
            </ng-select>
          </div>
          <div class="col-xl-6">
            <label for="deal-name" class="form-label">Campaign Priority</label>
            <ng-select placeholder="Select Priority" [items]="campaignPriority" bindLabel="name" bindValue="name"
              formControlName="campaignPriority">
            </ng-select>
          </div>
          <div class="col-xl-6">
            <label for="deal-name" class="form-label">Lead Duplicacy</label>
            <ng-select placeholder="Select Duplicacy" [items]="leadDuplicacy" bindLabel="name" bindValue="name"
              formControlName="leadDuplicacy">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create Campaign</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="c('Cancel click')">Cancel</button>
      </div>
    </div>
  </form>

</ng-template>
  
  
