<!-- <div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
    <h1 class="page-title fw-medium fs-18 mb-2">Projects</h1>
    <nav>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ol>
    </nav>
</div> -->

<div class="row pt-3 ">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title col-md-2 col-xl-6 col-xxl-6 col-lg-6 col-sm-3">Projects</div>
                <div class="text-center">
                    <button class="btn btn-primary" (click)="toggleShowMore()">
                        {{ showMore ? 'Show Less' : 'Show More' }}
                    </button>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 " [ngStyle]="{ 'max-height': showMore ? 'auto' : '340px', 'overflow-y': showMore ? 'auto' : 'scroll' }">
        <div class="row">
            <div class="col-xxl-3 col-lg-3 col-md-3 col-xl-3 col-sm-6" style="width: 100%; max-width: 19.5rem; height: 22rem;">
                <div class="card custom-card" >
                    <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="me-2 align-items-center">
                        <!-- <img src="assets/images/brand-logos/responce.jpg" alt="" style="width: 240px; height: 200px; border-radius: 4px; align-items: center;"> -->
                    </div>
                    <div class=" mb-3">
                        <a href="https://adonai.vcs.plus/api/saas/openapi/v2/redirect?url=https://adonai.vcs.plus/pub/tool/yundesign/cloud?%26redirecturl=/pub/saas/apps/project/list%26redirectbim=false&token=YOUR_TOKEN&locale=en_US"
                            target="_blank" 
                            rel="noopener noreferrer" 
                            class="btn btn-primary btn-wave me-3 opp">
                            <i class="ri-add-line align-middle me-1 fw-medium"></i> Create New Project &nbsp; &nbsp; &nbsp; &nbsp; 
                        </a>
                    </div>
                </div>
            </div>  
            </div>
            <div class="col-xxl-3 col-lg-3 col-md-3 col-xl-3 col-sm-6" *ngFor="let item of (showMore ? PjList : PjList.slice(0, 3))">
                <div class="card custom-card" style="width: 18rem;">
                    <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="me-2 align-items-center">
                        <img class="custom-img-size" [src]="item.planPic" alt="Project Image" *ngIf="item.planPic; else noImage"
                        style="width: 240px; height: 200px; border-radius: 4px; align-items: center;" />
                        <ng-template #noImage>
                            <span>No image available</span>
                        </ng-template>
                    </div>
                    <p class="pj-name"  ngbTooltip="{{item.name }}" [container]="'body'" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{item.name | slice:0:13 }}</p>
                    <p class="pj-name">{{item.modifiedTime}} </p>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <a class="btn btn-sm btn-primary btn-wave me-3" ><i
                            class="bi bi-calendar-date align-middle me-1 fw-medium"></i>Project Details</a>
                        <a class="btn btn-sm btn-primary btn-wave ms-5 d-flex" ><i
                            class="ri-add-line align-middle me-1 fw-medium"></i> </a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<div class="col-lg-12 col-xxl-12 pt-2">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                <h4>Project List </h4> 
            </div>
        </div>
        <div class="card-body p-0">
            <div class="mat-elevation-z8">
                <mat-form-field class="m-1 mat-filter">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="slNo">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element; let i = index"> {{getSNo(i)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef> created </th>
                            <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                        </ng-container>
                        <ng-container matColumnDef="planPic">
                            <th mat-header-cell *matHeaderCellDef style="width: 150px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Plan Pic </th>
                            <td mat-cell *matCellDef="let element">
                                <a *ngIf="element.planPic; else noImage" [href]="element.planPic" target="_blank" rel="noopener noreferrer">
                                    <img class="custom-img-size" [src]="element.planPic" alt="Project Image" style="width: 50px; height: auto;"/>
                                </a>
                                <ng-template #noImage>
                                    <span>No image available</span>
                                </ng-template>
                            </td>
                        </ng-container>                            
                        <!-- <ng-container matColumnDef="commName">
                            <th mat-header-cell *matHeaderCellDef> commName </th>
                            <td mat-cell *matCellDef="let element"> {{element.commName}} </td>
                        </ng-container> -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name | slice:0:12 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="specName">
                            <th mat-header-cell *matHeaderCellDef style="width: 200px;">specName</th>
                            <td
                            mat-cell
                            *matCellDef="let element"
                            ngbTooltip="{{element.specName}}"
                            [container]="'body'"
                            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{ element.specName | slice: 0: 12 }}
                            </td>
                          </ng-container>                                                    
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> city name</th>
                            <td mat-cell *matCellDef="let element"> {{element.city }} </td>
                        </ng-container>
                        <ng-container matColumnDef="modifiedTime">
                            <th mat-header-cell *matHeaderCellDef> modifiedTime</th>
                            <td mat-cell *matCellDef="let element"> {{element.modifiedTime}} </td>
                        </ng-container>     
                        <ng-container matColumnDef="coverPic">
                            <th mat-header-cell *matHeaderCellDef> coverPic </th>
                            <td mat-cell *matCellDef="let element">
                                <a *ngIf="element.coverPic; else noImage" [href]="element.coverPic" target="_blank" rel="noopener noreferrer">
                                    <img
                                      class="custom-img-size"
                                      [src]="element.coverPic"
                                      alt="Project Image"
                                      style="width: 50px; height: auto;"
                                    />
                                  </a>
                                <ng-template #noImage>
                                    <span>No image available</span>
                                </ng-template>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="designPanoUrl">
                            <th mat-header-cell *matHeaderCellDef> designPanoUrl </th>
                            <td mat-cell *matCellDef="let element"> {{element.designPanoUrl}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tagId">
                            <th mat-header-cell *matHeaderCellDef> tagId </th>
                            <td mat-cell *matCellDef="let element"> {{element.tagId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Bom">
                            <th mat-header-cell *matHeaderCellDef> Bom </th>
                            <td mat-cell *matCellDef="let element" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrolling(Content15);
                            getProjBomList(element)"><i class="fe fe-eye text-muted"></i></td>
                        </ng-container>
                        <ng-container matColumnDef="Aux">
                            <th mat-header-cell *matHeaderCellDef> Aux </th>
                            <td mat-cell *matCellDef="let element" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrolling2(Content16);
                            getAuxilaryCosts(element)"><i class="fe fe-eye text-muted"></i></td>
                        </ng-container>
                        <ng-container matColumnDef="designId">
                            <th mat-header-cell *matHeaderCellDef> designId </th>
                            <td mat-cell *matCellDef="let element" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrol(Content12);
                            getProjectFurniture(element)"> {{element.designId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="planId">
                            <th mat-header-cell *matHeaderCellDef> planId </th>
                            <td mat-cell *matCellDef="let element" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScroll(Content13);
                            getProjBasicInfo(element)"> {{element.planId }} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="renders">
                            <th mat-header-cell *matHeaderCellDef> renders </th>
                            <td mat-cell *matCellDef="let element" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrolling3(Content17);
                            getRenderings(element)"> <i class="fe fe-eye text-muted"></i> </td>
                        </ng-container> -->
                        <ng-container matColumnDef="renders">
                            <th mat-header-cell *matHeaderCellDef> renders </th>
                            <td mat-cell *matCellDef="let element" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLg" (click)="VerticallyScrolling4(Content18);
                            getRenderings(element)"> <i class="fe fe-eye text-muted"></i> </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
        
    </div>
</div>

<ng-template #Content12 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Project Furniture Data</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <div class="table-responsive border border-light">
                                <table class="table text-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">name</th>
                                            <th scope="col">roomId</th>
                                            <th scope="col">roomTypeId</th>
                                            <th scope="col">levelId</th>
                                            <th scope="col">level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let element of furnitureData">
                                            <td ata-bs-toggle="modal"
                                            data-bs-target="#exampleModalLg" (click)="openScrollableContent(Content14,element.finfo);">{{ element.name }}</td>
                                            <td>{{ element.roomId }}</td>
                                            <td>{{ element.roomTypeId }}</td>
                                            <td>{{ element.levelId }}</td>
                                            <td>{{ element.level }}</td>
                                            <td>
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #Content13 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Project Basic Information</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <div class="table-responsive border border-light">
                                <table class="table text-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">created</th>
                                            <th scope="col">planPic</th>
                                            <!-- <th scope="col">commName</th> -->
                                            <th scope="col">name</th>
                                            <!-- <th scope="col">city name</th> -->
                                            <th scope="col">modifiedTime</th>
                                            <th scope="col">coverPic</th>
                                            <th scope="col">designId</th>
                                            <th scope="col">planId</th>
                                            <!-- <th scope="col">tagId</th>
                                            <th scope="col">designPanoUrl</th> -->
                                            <th scope="col">srcArea</th>
                                            <th scope="col">area</th>
                                            <th scope="col">realArea</th>
                                            <th scope="col">level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let element of ProjBasicInfo">
                                            <td>{{ element.created }}</td>
                                            <td>
                                                <a *ngIf="element.planPic; else noImage" [href]="element.planPic" target="_blank" rel="noopener noreferrer">
                                                    <img 
                                                        *ngIf="element.planPic; else noImage" 
                                                        [src]="element.planPic" 
                                                        alt="Image" 
                                                        style="width: 50px; height: auto;" 
                                                    />
                                                  </a>
                                                <ng-template #noImage>
                                                    <span>No image available</span>
                                                </ng-template>
                                            </td>
                                            <!-- <td>{{ element.commName }}</td> -->
                                            <td>{{ element.name }}</td>
                                            <!-- <td>{{ element.city }}</td> -->
                                            <td>{{ element.modifiedTime }}</td>
                                            <td>
                                                <a *ngIf="element.coverPic; else noImage" [href]="element.coverPic" target="_blank" rel="noopener noreferrer">
                                                    <img 
                                                        *ngIf="element.coverPic; else noImage" 
                                                        [src]="element.planPic" 
                                                        alt="Image" 
                                                        style="width: 50px; height: auto;" 
                                                    />
                                                </a>
                                                <ng-template #noImage>
                                                    <span>No image available</span>
                                                </ng-template>
                                            </td>
                                            
                                            <td>{{ element.designId }}</td>
                                            <td>{{ element.planId }}</td>
                                            <!-- <td>{{ element.tagId?.toString() | slice:0:7 }}</td> -->
                                            <!-- <td>{{ element.designPanoUrl }}</td> -->
                                            <td>{{ element.srcArea }}</td>
                                            <td>{{ element.area }}</td>
                                            <td>{{ element.realArea }}</td>
                                            <td>{{ element.level | slice:0:7 }}</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #Content14 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">room Furniture Data</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <div class="table-responsive border border-light">
                                <table class="table text-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">name</th>
                                            <th scope="col">angle</th>
                                            <th scope="col">y</th>
                                            <th scope="col">x</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let finfoItem of RoomFurData">
                                            <td>{{ finfoItem.furnitureName }}</td>
                                            <td>{{ finfoItem.angle }}</td>
                                            <td>{{ finfoItem.y }}</td>
                                            <td>{{ finfoItem.x }}</td>
                                        </tr>
                                      </tbody>                                      
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #Content15 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">bom List</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <div class="table-responsive border border-light">
                                <table class="table text-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">totalCount</th>
                                            <th scope="col">count</th>
                                            <th scope="col">hasMore</th> -->
                                            <th scope="col">roomName</th>
                                            <th scope="col">brandName</th>
                                            <th scope="col">largeImgUrl</th>
                                            <th scope="col">Product name</th>
                                            <!-- <th scope="col">imgUrl</th> -->
                                            <th scope="col">z</th>
                                            <th scope="col">y</th>
                                            <th scope="col">x</th>
                                            <th scope="col">quantity</th>
                                            <th scope="col">prodUrl</th>
                                            <th scope="col">roomId</th>
                                            <th scope="col">position</th>
                                            <!-- <th scope="col">type</th> -->
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of BomLst">
                                            <!-- <td>{{ item.totalCount }}</td>
                                            <td>{{ item.count }}</td>
                                            <td>{{ item.hasMore }}</td> -->
                                            <td>{{ item.roomName }}</td>
                                            <td>{{ item.brandName }}</td>
                                            
                                            <td>
                                                <a *ngIf="item.largeImgUrl; else noImage" [href]="item.largeImgUrl" target="_blank" rel="noopener noreferrer">
                                                    <img
                                                      class="custom-img-size"
                                                      [src]="item.largeImgUrl"
                                                      alt="Image"
                                                      style="width: 50px; height: auto;"
                                                    />
                                                  </a>
                                                <!-- <img 
                                                    *ngIf="item.largeImgUrl; else noImage" 
                                                    [src]="item.largeImgUrl" 
                                                    alt="Image" 
                                                    style="width: 50px; height: auto;" 
                                                /> -->
                                                <ng-template #noImage>
                                                    <span>No image available</span>
                                                </ng-template>
                                            </td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.z }}</td>
                                            <td>{{ item.y }}</td>
                                            <td>{{ item.x }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <!-- <td>{{ item.type }}</td> -->
                                            <!-- <td>
                                                <a *ngIf="item.imgUrl; else noImage" [href]="item.imgUrl" target="_blank" rel="noopener noreferrer">
                                                    <img 
                                                        *ngIf="item.imgUrl; else noImage" 
                                                        [src]="item.imgUrl" 
                                                        alt="Image" 
                                                        style="width: 50px; height: auto;" 
                                                    />
                                                  </a>
                                                <ng-template #noImage>
                                                    <span>No image available</span>
                                                </ng-template>
                                            </td> -->
                                            <td>{{ item.prodUrl | slice:0:7}}</td>
                                            <td>{{ item.roomId }}</td>
                                            <td>{{ item.position }}</td>
                                        </tr>
                                      </tbody>                                      
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #Content16 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Aux List</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <div class="table-responsive border border-light">
                                <table class="table text-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">roomName</th>
                                            <th scope="col">roomId</th>
                                            <th scope="col">totalPrice</th>
                                            <th scope="col">pricePerArea</th>
                                            <th scope="col">itemNum</th>
                                            <th scope="col">itemNumWithoutPrice</th>
                                            <th scope="col">assistantMaterialPrice</th>
                                            <th scope="col">labourPrice</th>
                                            <th scope="col">totalPrice</th>
                                            <th scope="col">formatUnitPrice</th>
                                            <th scope="col">itemNum</th>
                                            <th scope="col">itemNumWithoutPrice</th>
                                            <th scope="col">hasPrice</th>
                                            <th scope="col">name</th>
                                            <th scope="col">calType</th>
                                            <th scope="col">formatQuantity</th>
                                            <th scope="col">calTypeId</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of AuxList">
                                            <td>{{ item.roomName }}</td>
                                            <td>{{ item.roomId }}</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td>{{ item.pricePerArea }}</td>
                                            <td>{{ item.itemNum }}</td>
                                            <td>{{ item.itemNumWithoutPrice }}</td>
                                            <td>{{ item.assistantMaterialPrice }}</td>
                                            <td>{{ item.labourPrice }}</td>
                                            <td>{{ item.totalPrice }}</td>
                                            <td>{{ item.formatUnitPrice }}</td>
                                            <td>{{ item.itemNum }}</td>
                                            <td>{{ item.itemNumWithoutPrice }}</td>
                                            <td>{{ item.hasPrice }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.calType }}</td>
                                            <td>{{ item.formatQuantity }}</td>
                                            <td>{{ item.calTypeId }}</td>
                                          </tr>                                          
                                      </tbody>                                      
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #Content17 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Project Renders Data</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <div class="table-responsive border border-light">
                                <table class="table text-nowrap table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">count</th>
                                            <th scope="col">hasMore</th>
                                            <th scope="col">totalCount</th>
                                            <th scope="col">created</th>
                                            <th scope="col">img</th>
                                            <th scope="col">panoLink</th>
                                            <th scope="col">picId</th>
                                            <th scope="col">picType</th>
                                            <th scope="col">picDetailType</th>
                                            <th scope="col">roomName</th>
                                            <th scope="col">level</th>
                                            <th scope="col">roomIndex</th>
                                            <th scope="col">roomTypeId</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let item of Renders">
                                                <td>{{ item.count }}</td>
                                                <td>{{ item.hasMore }}</td>
                                                <td>{{ item.totalCount }}</td>
                                                <td>{{ item.created }}</td>
                                                <td>
                                                    <img 
                                                        *ngIf="item.img; else noImage" 
                                                        [src]="item.img" 
                                                        alt="Image" 
                                                        style="width: 50px; height: auto;" 
                                                    />
                                                    <ng-template #noImage>
                                                        <span>No image available</span>
                                                    </ng-template>
                                                </td>
                                                <td>
                                                    <img 
                                                        *ngIf="item.panoLink; else noImage" 
                                                        [src]="item.panoLink" 
                                                        alt="Image" 
                                                        style="width: 50px; height: auto;" 
                                                    />
                                                    <ng-template #noImage>
                                                        <span>No image available</span>
                                                    </ng-template>
                                                </td>
                                                <!-- <td>{{ item.img | slice:0:7 }}</td> -->
                                                <!-- <td>{{ item.panoLink | slice:0:7 }}</td> -->
                                                <td>{{ item.picId }}</td>
                                                <td>{{ item.picType }}</td>
                                                <td>{{ item.picDetailType }}</td>
                                                <td>{{ item.roomName }}</td>
                                                <td>{{ item.level }}</td>
                                                <td>{{ item.roomIndex }}</td>
                                                <td>{{ item.roomTypeId }}</td>
                                                <!-- <td><img [src]="item.img" alt="Image" /></td>
                                                <td><a [href]="item.panoLink" target="_blank">{{ item.panoLink }}</a></td> -->
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #Content18 id="addtask" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="mail-ComposeLabel">Project Renders Data</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
            <div class="col-xxl-12">
                <div class="row">
                    <div class="col-xxl-3 col-lg-3 col-md-3 col-xl-3 col-sm-6" *ngFor="let item of Renders">
                        <div class="card custom-card" style="width: 15rem;">
                            <div class="card-header d-flex align-items-center justify-content-between">
                            <div class="me-2 align-items-center">
                                <a *ngIf="item.img; else noImage" [href]="item.img" target="_blank" rel="noopener noreferrer">
                                    <img
                                      class="custom-img-size"
                                      [src]="item.img"
                                      alt="Project Image"
                                      style="width: 200px; height: 160px; border-radius: 4px; align-items: center;"
                                    />
                                  </a>
                                  <ng-template #noImage>
                                    <span>No image available</span>
                                  </ng-template>
                            </div>
                            <p class="no-space pt-1">Pic id : {{ item.picId }}</p>
                            <p class="no-space">room name : {{ item.roomName }}</p>
                            <p class="no-space">Created : {{ item.created }}</p>
                            <div *ngIf="item.panoLink; else noPanoLink">
                                <a [href]="item.panoLink" target="_blank" rel="noopener noreferrer">
                                    3D view : <i class="fe fe-eye text-muted"></i>
                                </a>
                              </div>
                              <ng-template #noPanoLink>
                                <p>No 3D view available</p>
                              </ng-template>
                              
                        </div>
                    </div>  
                </div>
            </div>     
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Cross click')">Cancel</button>
        </div>
    </div>
<!-- </ng-template> -->

