<!-- <div class="row">
    <div class="col-xl-2">
        <div class="card custom-card border border-primary bg-primary-transparent">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md bg-primary shadow-sm avatar-rounded mb-2">
                        <i class="ri-briefcase-2-line fs-16"></i>
                    </span>
                    <p class="fs-14 fw-medium mb-2">My Campaigns</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                       <button class="btn btn-sm btn-primary-light btn-wave">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card custom-card border border-secondary bg-secondary-transparent">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md bg-secondary shadow-sm avatar-rounded mb-2">
                        <i class="ri-bill-line fs-16"></i>
                    </span>
                    <p class="fs-14 fw-medium mb-2">My Leads</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                       <button class="btn btn-sm btn-secondary-light btn-wave">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card custom-card border border-info bg-info-transparent">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md bg-info shadow-sm avatar-rounded mb-2">
                        <i class="ri-line-chart-line fs-16"></i>
                    </span>
                    <p class="fs-14 fw-medium mb-2">My Reports</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                       <button class="btn btn-sm btn-primary-light btn-wave">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card custom-card border border-warning bg-warning-transparent">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md bg-warning shadow-sm avatar-rounded mb-2">
                        <i class="ri-money-dollar-box-line fs-16"></i>
                    </span>
                    <p class="fs-14 fw-medium mb-2">Call Logs</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                       <button class="btn btn-sm btn-warning-light btn-wave">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card custom-card border border-danger bg-danger-transparent">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md bg-danger shadow-sm avatar-rounded mb-2">
                        <i class="ri-profile-line fs-16"></i>
                    </span>
                    <p class="fs-14 fw-medium mb-2">Opex Ratio</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                        <h5 class="mb-0 fw-medium">32%</h5>
                        <span class="badge bg-success-transparent rounded-pill ms-1">+0.89%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card custom-card border border-success bg-success-transparent">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md bg-success shadow-sm avatar-rounded mb-2">
                        <i class="ri-wallet-2-line fs-16"></i>
                    </span>
                    <p class="fs-14 fw-medium mb-2">Total Income</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                        <h5 class="mb-0 fw-medium">$14,800</h5>
                        <span class="badge bg-success-transparent rounded-pill ms-1">+7.45%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row mt-4">
    <!-- <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-body p-0">
                <div class="p-3 d-grid border-bottom border-block-end-dashed">
                    
                </div>
                <div class="p-3 border-bottom border-block-end-dashed">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Task Here"
                            aria-describedby="button-addon2">
                        <button class="btn btn-ghost-light border" type="button" id="button-addon2"><i
                                class="ri-search-line text-muted"></i></button>
                    </div>
                </div>
                <div class="p-3 task-navigation border-bottom border-block-end-dashed">
                    <ul class="list-unstyled task-main-nav mb-0">
                        <li class="px-0 pt-0">
                            <span class="fs-11 text-muted op-7 fw-medium">Filters</span>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <input class="form-check-input me-2 mt-1 kt" type="checkbox">
                                    <label class="form-check-label w-50 mt-1">
                                        All Tasks
                                    </label>
                                    <span class="badge bg-success-transparent rounded-pill">167</span>
                                </div>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <input class="form-check-input me-2 mt-1 kt" type="checkbox">
                                    <label class="form-check-label w-50 mt-1">
                                        Pending Tasks
                                    </label>
                                    <span class="badge bg-success-transparent rounded-pill">167</span>
                                </div>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <input class="form-check-input me-2 mt-1 kt" type="checkbox">
                                    <label class="form-check-label w-50 mt-1">
                                        Inprogress Tasks
                                    </label>
                                    <span class="badge bg-success-transparent rounded-pill">167</span>
                                </div>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <input class="form-check-input me-2 mt-1 kt" type="checkbox">
                                    <label class="form-check-label w-50 mt-1">
                                        Complated Tasks
                                    </label>
                                    <span class="badge bg-success-transparent rounded-pill">167</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="p-3 text-center">
                    <img src="./assets/images/media/media-66.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body p-0">
                        <div class="d-flex p-3 align-items-center justify-content-between">
                            <div>
                                <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
                                    <li [ngbNavItem]="1" class="nav-item">
                                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page" aria-selected="true"
                                            type="button" class="btn btn-primary me-2">All Tasks
                                            <span class="badge ms-2 bg-white text-dark">{{ taskList?.length }}</span></a>
                                        <ng-template ngbNavContent>
                                            <div class=" p-0" id="all-tasks" role="tabpanel">
                                                <div class="row" id="tasks-container">
                                                    <div class="col-xl-3 task-card" *ngFor="let task of taskList">
                                                        <div class="card custom-card task-pending-card"
                                                            [ngClass]="getPriorityBadgeBorder(task.priority)">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-2 d-flex align-items-center"><a href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 op-5 me-1 text-muted"
                                                                                    [ngClass]="getPriorityIconColor(task.priority)"></i></a>TaskName: {{
                                                                            task.taskName | slice:0:15 }}</p>
                                                                        <p class="mb-2">Description: <span class="fs-12 mb-1 text-muted">{{ task.description
                                                                                |
                                                                                slice:0:15 }}</span></p>
                                                                        <p class="mb-2">Deadline : <span class="badges" [ngClass]="getTaskColor(task)">{{task.deadline | date:'dd, MMM yyyy'
                                                                                }},
                                                                                ({{getfullDaysLeft(task) }})</span></p>
                                                                        <p class="mb-2">Status : <span class="badgess" [ngClass]="getStatusBadge(task.currentStatus)">{{task.currentStatus}}</span></p>
                                                                        <ng-container *ngIf="task.assignedTo?.split(',') as agentList">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="me-2">Task assigned to:</span>
                                                                                <ng-container *ngFor="let agent of agentList.slice(0, 3)">
                                                                                    <span
                                                                                        class="avatar avatar-xs avatar-rounded text-white fw-bold d-flex align-items-center justify-content-center bg-primary"
                                                                                        [ngClass]="getAgentColor(agent)" tabindex="0" role="button" [ngbTooltip]="agent" tooltipClass="tooltip-primary">
                                                                                        {{ agent.trim().charAt(0) | uppercase }}
                                                                                    </span>
                                                                                </ng-container>
                                                                                <a *ngIf="agentList.length > 3"
                                                                                    class="avatar avatar-xs avatar-rounded mt-1 text-white fw-bold d-flex align-items-center justify-content-center bg-primary cu"
                                                                                    href="javascript:void(0);">
                                                                                    +{{ agentList.length - 3 }}
                                                                                </a>
                                                                            </div>
                                                                        </ng-container>
                                                                        <p class="mt-2">
                                                                            Created On :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreationDate | date:'dd MMM yyyy, hh:mm a' }}
                                                                            </span><br>
                                                                            By :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreatedBy }}
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-success-light rounded-circle"
                                                                                (click)="openEditTaskModal(task,editTaskModal)">
                                                                                <i class="ri-edit-line"></i></button>
                                                                        </div>
                                                                        <span class="d-block"
                                                                            [ngClass]="getPriorityBadge(task.priority)">{{task.priority}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="2" class="nav-item">
                                        <a ngbNavLink class="nav-link btn btn-info me-2" data-bs-toggle="tab" role="tab" aria-selected="false"
                                            type="button">
                                            At to Verify
                                            <span class="badge bg-light text-dark ms-2">{{ verifyTasks.length }}</span>
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div class="p-0" id="pending" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-xl-3 task-card" *ngFor="let task of verifyTasks">
                                                        <div class="card custom-card task-pending-card"
                                                            [ngClass]="getPriorityBadgeBorder(task.priority)">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-2 d-flex align-items-center"><a href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 op-5 me-1 text-muted"
                                                                                    [ngClass]="getPriorityIconColor(task.priority)"></i></a>TaskName: {{
                                                                            task.taskName | slice:0:15 }}</p>
                                                                        <p class="mb-2">Description: <span class="fs-12 mb-1 text-muted">{{ task.description
                                                                                |
                                                                                slice:0:15 }}</span></p>
                                                                        <p class="mb-2">Deadline : <span class="badges" [ngClass]="getTaskColor(task)">{{task.deadline | date:'dd, MMM yyyy'
                                                                                }},
                                                                                ({{getfullDaysLeft(task) }})</span></p>
                                                                        <p class="mb-2">Status : <span class="badgess" [ngClass]="getStatusBadge(task.currentStatus)">{{task.currentStatus}}</span></p>
                                                                        <ng-container *ngIf="task.assignedTo?.split(',') as agentList">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="me-2">Task assigned to:</span>
                                                                                <ng-container *ngFor="let agent of agentList.slice(0, 3)">
                                                                                    <span
                                                                                        class="avatar avatar-xs avatar-rounded text-white fw-bold d-flex align-items-center justify-content-center bg-primary"
                                                                                        [ngClass]="getAgentColor(agent)" tabindex="0" role="button" [ngbTooltip]="agent" tooltipClass="tooltip-primary">
                                                                                        {{ agent.trim().charAt(0) | uppercase }}
                                                                                    </span>
                                                                                </ng-container>
                                                                                <a *ngIf="agentList.length > 3"
                                                                                    class="avatar avatar-xs avatar-rounded mt-1 text-white fw-bold d-flex align-items-center justify-content-center bg-primary cu"
                                                                                    href="javascript:void(0);">
                                                                                    +{{ agentList.length - 3 }}
                                                                                </a>
                                                                            </div>
                                                                        </ng-container>
                                                                        <p class="mt-3">
                                                                            Created On :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreationDate | date:'dd MMM yyyy, hh:mm a' }}
                                                                            </span><br>
                                                                            By :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreatedBy }}
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-success-light rounded-circle"
                                                                                (click)="openEditTaskModal(task,editTaskModal)">
                                                                                <i class="ri-edit-line"></i></button>
                                                                        </div>
                                                                        <span class="d-block"
                                                                            [ngClass]="getPriorityBadge(task.priority)">{{task.priority}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="3" class="nav-item">
                                        <a ngbNavLink class="nav-link btn btn-warning me-2" data-bs-toggle="tab" role="tab" aria-selected="false"
                                            type="button">
                                            In Progress
                                            <span class="badge bg-light text-dark ms-2">{{ inprogressTasks.length }}</span>
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div class="p-0" id="in-progress" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-xl-3 task-card" *ngFor="let task of inprogressTasks">
                                                        <div class="card custom-card task-pending-card"
                                                            [ngClass]="getPriorityBadgeBorder(task.priority)">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-2 d-flex align-items-center"><a href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 op-5 me-1 text-muted"
                                                                                    [ngClass]="getPriorityIconColor(task.priority)"></i></a>TaskName: {{
                                                                            task.taskName | slice:0:15 }}</p>
                                                                        <p class="mb-2">Description: <span class="fs-12 mb-1 text-muted">{{ task.description
                                                                                |
                                                                                slice:0:15 }}</span></p>
                                                                        <p class="mb-2">Deadline : <span class="badges" [ngClass]="getTaskColor(task)">{{task.deadline | date:'dd, MMM yyyy'
                                                                                }},
                                                                                ({{getfullDaysLeft(task) }})</span></p>
                                                                        <p class="mb-2">Status : <span class="badgess" [ngClass]="getStatusBadge(task.currentStatus)">{{task.currentStatus}}</span></p>
                                                                        <ng-container *ngIf="task.assignedTo?.split(',') as agentList">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="me-2">Task assigned to:</span>
                                                                                <ng-container *ngFor="let agent of agentList.slice(0, 3)">
                                                                                    <span
                                                                                        class="avatar avatar-xs avatar-rounded text-white fw-bold d-flex align-items-center justify-content-center bg-primary"
                                                                                        [ngClass]="getAgentColor(agent)" tabindex="0" role="button" [ngbTooltip]="agent" tooltipClass="tooltip-primary">
                                                                                        {{ agent.trim().charAt(0) | uppercase }}
                                                                                    </span>
                                                                                </ng-container>
                                                                                <a *ngIf="agentList.length > 3"
                                                                                    class="avatar avatar-xs avatar-rounded mt-1 text-white fw-bold d-flex align-items-center justify-content-center bg-primary cu"
                                                                                    href="javascript:void(0);">
                                                                                    +{{ agentList.length - 3 }}
                                                                                </a>
                                                                            </div>
                                                                        </ng-container>
                                                                        <p class="mt-3">
                                                                            Created On :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreationDate | date:'dd MMM yyyy, hh:mm a' }}
                                                                            </span><br>
                                                                            By :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreatedBy }}
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-success-light rounded-circle"
                                                                                (click)="openEditTaskModal(task,editTaskModal)">
                                                                                <i class="ri-edit-line"></i></button>
                                                                        </div>
                                                                        <span class="d-block"
                                                                            [ngClass]="getPriorityBadge(task.priority)">{{task.priority}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="4" class="nav-item">
                                        <a ngbNavLink class="nav-link btn btn-success me-2" data-bs-toggle="tab" role="tab" aria-current="page"
                                            aria-selected="true" type="button">
                                            Completed
                                            <span class="badge bg-light text-dark ms-2">{{ completedTasks.length }}</span>
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div class="p-0" id="completed" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-xl-3 task-card" *ngFor="let task of completedTasks">
                                                        <div class="card custom-card task-pending-card"
                                                            [ngClass]="getPriorityBadgeBorder(task.priority)">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-2 d-flex align-items-center"><a href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 op-5 me-1 text-muted"
                                                                                    [ngClass]="getPriorityIconColor(task.priority)"></i></a>TaskName: {{
                                                                            task.taskName | slice:0:15 }}</p>
                                                                        <p class="mb-2">Description: <span class="fs-12 mb-1 text-muted">{{ task.description
                                                                                |
                                                                                slice:0:15 }}</span></p>
                                                                        <p class="mb-2">Deadline : <span class="badges" [ngClass]="getTaskColor(task)">{{task.deadline | date:'dd, MMM yyyy'
                                                                                }},
                                                                                ({{getfullDaysLeft(task) }})</span></p>
                                                                        <p class="mb-2">Status : <span class="badgess" [ngClass]="getStatusBadge(task.currentStatus)">{{task.currentStatus}}</span></p>
                                                                        <ng-container *ngIf="task.assignedTo?.split(',') as agentList">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="me-2">Task assigned to:</span>
                                                                                <ng-container *ngFor="let agent of agentList.slice(0, 3)">
                                                                                    <span
                                                                                        class="avatar avatar-xs avatar-rounded text-white fw-bold d-flex align-items-center justify-content-center bg-primary"
                                                                                        [ngClass]="getAgentColor(agent)" tabindex="0" role="button" [ngbTooltip]="agent" tooltipClass="tooltip-primary">
                                                                                        {{ agent.trim().charAt(0) | uppercase }}
                                                                                    </span>
                                                                                </ng-container>
                                                                                <a *ngIf="agentList.length > 3"
                                                                                    class="avatar avatar-xs avatar-rounded mt-1 text-white fw-bold d-flex align-items-center justify-content-center bg-primary cu"
                                                                                    href="javascript:void(0);">
                                                                                    +{{ agentList.length - 3 }}
                                                                                </a>
                                                                            </div>
                                                                        </ng-container>
                                                                        <p class="mt-3">
                                                                            Created On :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreationDate | date:'dd MMM yyyy, hh:mm a' }}
                                                                            </span><br>
                                                                            By :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreatedBy }}
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-success-light rounded-circle"
                                                                                (click)="openEditTaskModal(task,editTaskModal)">
                                                                                <i class="ri-edit-line"></i></button>
                                                                        </div>
                                                                        <span class="d-block"
                                                                            [ngClass]="getPriorityBadge(task.priority)">{{task.priority}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="5" class="nav-item">
                                        <a ngbNavLink class="nav-link btn btn-danger me-2" type="button">
                                            Overdue
                                            <span class="badge bg-light text-dark ms-2">{{ getOverdueTasks().length }}</span>
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div class="p-0" id="overdue" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-xl-3 task-card" *ngFor="let task of getOverdueTasks()">
                                                        <div class="card custom-card task-pending-card" [ngClass]="getPriorityBadgeBorder(task.priority)">
                                                            <div class="card-body">
                                                                <div class="d-flex justify-content-between flex-wrap gap-2">
                                                                    <div>
                                                                        <p class="fw-medium mb-2 d-flex align-items-center"><a href="javascript:void(0);"><i
                                                                                    class="ri-star-s-fill fs-16 op-5 me-1 text-muted"
                                                                                    [ngClass]="getPriorityIconColor(task.priority)"></i></a>TaskName: {{
                                                                            task.taskName | slice:0:15 }}</p>
                                                                        <p class="mb-2">Description: <span class="fs-12 mb-1 text-muted">{{ task.description
                                                                                |
                                                                                slice:0:15 }}</span></p>
                                                                        <p class="mb-2">Deadline : <span class="badges" [ngClass]="getTaskColor(task)">{{task.deadline | date:'dd, MMM yyyy'
                                                                                }},
                                                                                ({{getfullDaysLeft(task) }})</span></p>
                                                                        <p class="mb-2">Status : <span class="badgess" [ngClass]="getStatusBadge(task.currentStatus)">{{task.currentStatus}}</span></p>
                                                                        <ng-container *ngIf="task.assignedTo?.split(',') as agentList">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="me-2">Task assigned to:</span>
                                                                                <ng-container *ngFor="let agent of agentList.slice(0, 3)">
                                                                                    <span
                                                                                        class="avatar avatar-xs avatar-rounded text-white fw-bold d-flex align-items-center justify-content-center bg-primary"
                                                                                        [ngClass]="getAgentColor(agent)" tabindex="0" role="button" [ngbTooltip]="agent" tooltipClass="tooltip-primary">
                                                                                        {{ agent.trim().charAt(0) | uppercase }}
                                                                                    </span>
                                                                                </ng-container>
                                                                                <a *ngIf="agentList.length > 3"
                                                                                    class="avatar avatar-xs avatar-rounded mt-1 text-white fw-bold d-flex align-items-center justify-content-center bg-primary cu"
                                                                                    href="javascript:void(0);">
                                                                                    +{{ agentList.length - 3 }}
                                                                                </a>
                                                                            </div>
                                                                        </ng-container>
                                                                        <p class="mt-3">
                                                                            Created On :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreationDate | date:'dd MMM yyyy, hh:mm a' }}
                                                                            </span><br>
                                                                            By :
                                                                            <span class="fs-12 mb-1 text-muted">
                                                                                {{ task.taskCreatedBy }}
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="btn-list">
                                                                            <button
                                                                                class="btn btn-sm btn-icon btn-wave btn-success-light rounded-circle"
                                                                                (click)="openEditTaskModal(task,editTaskModal)">
                                                                                <i class="ri-edit-line"></i></button>
                                                                        </div>
                                                                        <span class="d-block"
                                                                            [ngClass]="getPriorityBadge(task.priority)">{{task.priority}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-12" *ngIf="getOverdueTasks().length === 0">
                                                        <p class="text-center text-muted mt-3">No overdue tasks 🎉</p>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div>
                                <div ngbDropdown class="dropdown no-caret">
                                    <button ngbDropdownToggle
                                        class="btn btn-icon btn-sm btn-light btn-wave waves-light waves-effect"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ti ti-dots-vertical"></i>
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content task-tabs-container">
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->


<ng-template #editTaskModal let-modal>
    <form [formGroup]="taskForm" (ngSubmit)="updateTaskSubmit(modal)">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="mail-ComposeLabel">Edit Task</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.close('Cross click')"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <div class="row gy-2">
                    <div class="col-xl-6">
                        <label for="task-name" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="task-name" placeholder="Task Name"
                            formControlName="taskName" [disabled]="adoanAiRole !== 'ADMIN'">
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Status</label>
                        <ng-select data-trigger name="choices-single-default" placeholder="select"
                            id="choices-single-default" formControlName="currentStatus">
                            <ng-option value="Inprogress">Inprogress</ng-option>
                            <ng-option value="At to Verify">At to Verify</ng-option>
                            <ng-option value="Completed">Completed</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Assigned to</label>
                        <ng-select formControlName="assignedTo" [items]="userList" bindLabel="email" bindValue="email"
                            placeholder="Select User" [disabled]="adoanAiRole !== 'ADMIN'">
                        </ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Deadline (Optional)</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted modal-calender"> <i
                                        class="ri-calendar-line"></i>
                                </div>
                                <input type="date" class="form-control w-full !rounded-s-none" id="addignedDate"
                                    placeholder="Choose date and time" formControlName="deadline" [disabled]="adoanAiRole !== 'ADMIN'">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label">Priority</label>
                        <ng-select data-trigger name="choices-single-default" placeholder="select"
                            id="choices-single-default" formControlName="priority" [disabled]="adoanAiRole !== 'ADMIN'">
                            <ng-option value="Critical">Critical</ng-option>
                            <ng-option value="High">High</ng-option>
                            <ng-option value="Medium">Medium</ng-option>
                            <ng-option value="Low">Low</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control" id="task-name" placeholder="Task Name"
                            formControlName="description" [disabled]="adoanAiRole !== 'ADMIN'">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="modal.close('Cross click')">Cancel</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</ng-template>

